#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($pages = $result.PagesNum)
#set ($currentPage = $result.CurrentPage)
#set ($url = "$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template', 'TimelineUrlScreen'))")
## ---------------------------------------------------------------------------
<div id="timelineOuter">
<input type="hidden" id="TimelineUserId" name="TimelineUserId" value="$result.UserId" />
<input type="hidden" id="TimelineUrl_$!{portlet.ID}" name="TimelineUrl_$!{portlet.ID}" value="$url" />
<input type="hidden" id="flag_$!{portlet.ID}" name="flag_$!{portlet.ID}" value="none" />
<div id="inputField">
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("timelineForm" $jslink $portlet "TimelineJSONScreen" "aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aipo.timeline.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)")

<div class="tlInputMention" style="position:relative">
  <textarea class="elastic" id="note_$!{portlet.ID}" cols="10" name="note" rows="1" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; height: 39px;" onkeyup="aipo.timeline.onKeyUp('$!{portlet.ID}');" onfocus="aipo.timeline.onFocus('$!{portlet.ID}')" onblur="aipo.timeline.onBlur('$!{portlet.ID}')"></textarea>
  <span class="guide" id="guide_$!{portlet.ID}" onclick="this.style.display='none';document.getElementById('note_$!{portlet.ID}').focus();" style="display: block; position:absolute; color: #999999; top:10px; left:5px">近況を共有しましょう</span>
</div>

<div class="clearfix tlInputClip" id="tlInputClip_$!{portlet.ID}">
</div>

<div class="clearfix tlInputControls">
  <div class="floatRight">
    <span id="getTimelinePortletId" style="display:none;">$!portlet.ID</span>
    <a href="javascript:void(0)" class="auiButtonAction" onclick="aipo.timeline.addText(dojo.byId('form$!portlet.ID'), '$!portlet.ID');aipo.timeline.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'insert');dojo.byId('form$!portlet.ID').onsubmit();">投稿する</a>
  </div>
  <div class="floatLeft mr10">
    #set($att_url = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FileuploadFormScreen").addQueryData("mode","form"))
    <a href="javascript:void(0)" class="auiButton" onclick="aipo.fileupload.openAttachment('$!utils.escapeXML($att_url)', '$!portlet.ID');"  name="add_attachment">ファイルの選択</a>
  </div>
  <div class="Left">
    <ul id="attachments_$!{portlet.ID}" class="attachments">
      #foreach($record in $!result.AttachmentFileNameList )
      <li data-fileid="s${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">削除</span></li>
      #end
    </ul>
    <div style="clear:both"></div>
  </div>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName">
</div>
#ALformfooter()
</div>

<div id="newMessage" style="display:none; clear:both">
	<a href="javascript:void(0)" onclick="aipo.portletReload('timeline')">新しい投稿があります</a>
</div>

#if($result.List.size() == 0)
  <div class="message" style="clear:both">投稿はありません。</div>
#else
  #if($result.ContentHeight == 0)
    <div id="timeline" class="timeline" style="clear:both" #if($pages > $currentPage) #set($next = $currentPage + 1)onScroll="aipo.timeline.onScroll('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "TimelineScreen").addQueryData("start", $next))', '$!portlet.ID', '$!currentPage');"#end>
  #else
    <div id="timeline" class="timeline" style="height: ${result.ContentHeight}px; overflow-y: scroll; overflow-x: hidden; clear:both" #if($pages > $currentPage) #set($next = $currentPage + 1)onScroll="aipo.timeline.onScroll('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "TimelineScreen").addQueryData("start", $next))', '$!portlet.ID', '$!currentPage');"#end>
  #end
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.timeline.setScrollTop($result.ScrollTop);" />
  <div id="content_$!{portlet.ID}_1">
  #foreach ($record in $result.List)
    <div id="message_$!{portlet.ID}_$!{record.TimelineId}" class=#if($record.TimelineType=="A")"message tlActivity"#else"message"#end>
      <div class="avatar mr10">
      #if(${record.hasPhoto()})
        <img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record.OwnerId}))" alt="${record.OwnerName}" #if($record.TimelineType=="A")width="20" height="20"#else width="50" height="50"#end />
      #else
        <img src="images/common/avatar_default3.png" alt="${record.OwnerName}" #if($record.TimelineType=="A")width="20" height="20"#else width="50" height="50"#end />
      #end
      </div>
	  <div class="messageContents">
	  <div class="name">$!record.OwnerName</div>
	  <div class="body">
	  	#if($record.TimelineType=="A")
	  		<a href="javascript:void(0);" onclick="dijit.byId('activitycheckerContainer')._closeDropDown();aipo.common.showDialog('$!utils.escapeXML($!{record.PopupUrl})&amp;js_peid=$!{portletId}', '$!{portletId}', aipo.container.onPopupGadgets );aipo.container.gadgetService.requestCheckActivity($!{record.TimelineId})">$record.PreviewNote</a>
		#else
			$record.PreviewNote#if($record.isLongNote())<span class="text_exposed_show ellipsis">$record.DetailNote</span>
	    	<p class="more">...<br /><a class="ellipsis_message" href="javascript:void(0)" onclick="aipo.timeline.ellipse_message(this)">続きを読む</a></p>#end
			<div class="tlImageBlock clearfix">
				#foreach( $attachmentFile in $!record.AttachmentFileList )
					#if($attachmentFile.isImage())
						<a href="javascript:aipo.timeline.popupCenter('$jslink.getTemplate("TimelineFileRawScreen").addQueryData("ownerid", $!{record.OwnerId}).addQueryData("entityid", $record.TimelineId).addQueryData("attachmentIndex", $attachmentFile.FileId)');"><img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate('TimelineFileThumbnailScreen').addQueryData('ownerid', ${record.OwnerId}).addQueryData('entityid', ${record.TimelineId}).addQueryData('attachmentIndex', ${attachmentFile.FileId})"></a><br>
					#else
						<a href="$jslink.getTemplate('TimelineFileRawScreen').addQueryData('ownerid', $!{record.OwnerId}).addQueryData('entityid', $!record.TimelineId).addQueryData('attachmentIndex', $attachmentFile.FileId)">$result.getStringCR($attachmentFile.FileNameField)</a><br>
					#end
				#end
	  		</div>
			<div class="tlClipBoard clearfix" id="tlClipBoard_$!{portlet.ID}">
				#foreach ($attachmentUrl in $record.UrlList)
					<div class="tlClipImage" id="tlClipImage_$!{portlet.ID}">
						<img src="$attachmentUrl.Thumbnail">
					</div>
					<div class="tlClipContents">
						<div class="tlClipTitle" id="tlClipTitle_$!{portlet.ID}"><a href="$attachmentUrl.Url" target="_blank">$attachmentUrl.Title</a></div>
						<div class="tlClipUrl" id="tlClipUrl_$!{portlet.ID}"><a href="$attachmentUrl.Url" target="_blank">$attachmentUrl.Url</a></div>
						<div class="tlClipBody" id="tlClipBody_$!{portlet.ID}">$attachmentUrl.Body</div>
					</div>
				#end
			</div>
		#end
	  </div>
	  <div class="time">$!{record.CreateDate}
      &nbsp;
      #if($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}))
	  #else
	    #if(${record.isLike()})
	      <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
            <input type="hidden" name="secid" value="$secid" />
	        <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'dislike');dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">いいね！を取り消す</a>
          </form>
        #else
	      <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
            <input type="hidden" name="secid" value="$secid" />
	        <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'like');dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">いいね！</a>
          </form>
	    #end
	    &nbsp;
	  #end
	  #if($record.TimelineType=="T")<a href="javascript:void(0)" onclick="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId})">コメントする</a>#end
	  #if($record.TimelineType=="A" && $record.LikeList.size() > 0)<span class="iconLike"></span>$record.LikeList.size()#end

	  #if($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}))
	    <form style="display:inline" name="deleteForm_$!{portlet.ID}_$!{record.TimelineId}" id="deleteForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen')" method="post" onsubmit="aimluck.io.disableForm(this, true);return false;">
          <input type="hidden" name="_name" value="投稿" />
          <input type="hidden" name="secid" value="$secid" />
          #set ($deleteSubmit = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$record.TimelineId).addQueryData('mode', 'delete')))
		  &nbsp;
          <a href="javascript:void(0)" onclick="aimluck.io.ajaxDeleteSubmit(dojo.byId('dummy_$!{portlet.ID}_$!{record.TimelineId}'), '$deleteSubmit', '$indicator_id', '$!portlet.ID', aipo.timeline.onReceiveMessage);">削除する</a>
          <input type="hidden" id="dummy_$!{portlet.ID}_$!{record.TimelineId}" value="" />
		</form>
	  #end
	  </div>
	  </div>
	</div>
	#if($record.TimelineType=="T")
	    <div id="comments_$!{portlet.ID}_$!{record.TimelineId}" class="comments">
		#if($record.LikeList.size() > 0)
		  <div id="like_$!{record.TimelineId}" class="commentCaption">
		    <span class="iconLike"></span>
			<a href="javascript:void(0);" onclick="aipo.common.showDialogSub('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineLikeDetailScreen").addQueryData("entityid",$!{record.TimelineId}))','$!portlet.ID');">${record.LikeList.size()}人が</a>「いいね！」と言っています。
		  </div>
		#end
	    #if($record.ReplyCountInteger > 2)
	      <div id="commentCaption_$!{portlet.ID}_$!{record.TimelineId}" class="commentCaption">
	      <span class="iconComment"></span>
	      <a href="javascript:void(0)" onclick="aipo.timeline.showCommentAll('$!{portlet.ID}', $!{record.TimelineId})">コメント${record.ReplyCount}件をすべて見る</a>
	      </div>
		#end
	    #foreach ($record2 in $record.CoTopicList)
	      #if($velocityCount < $record.CoTopicList.size() - 1)
	        <div id="message_$!{portlet.ID}_$!{record2.TimelineId}" class="message" style="display:none">
	      #else
	        <div id="message_$!{portlet.ID}_$!{record2.TimelineId}" class="message">
	      #end
	      <div class="avatar mr10">
	      #if(${record2.hasPhoto()})
	        <img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record2.OwnerId}))" alt="${record2.OwnerName}" width="32" height="32" />
	      #else
	        <img src="images/common/avatar_default3.png" alt="${record2.OwnerName}" width="32" height="32" />
	      #end
	      </div>
		  <div class="messageContents">
		  <div class="name">$!record2.OwnerName</div>
		  <div class="body">$!record2.Note</div>
		  <div class="time">$!{record2.CreateDate}
	      &nbsp;
	      #if($!result.isMatch($!{result.UserId} , $!{record2.OwnerId.Value}))
	      #else
		    #if(${record2.isLike()})
		      <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record2.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
	            <input type="hidden" name="secid" value="$secid" />
		        <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}'), 'mode', 'dislike');dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}').onsubmit();">いいね！を取り消す</a>
	          </form>
		    #else
		      <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record2.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
	            <input type="hidden" name="secid" value="$secid" />
		        <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}'), 'mode', 'like');dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}').onsubmit();">いいね！</a>
	          </form>
		    #end
		    &nbsp;
		  #end
	      #if($!result.isMatch($!{result.UserId} , $!{record2.OwnerId.Value}))
	      <form style="display:inline" name="deleteForm_$!{portlet.ID}_$!{record2.TimelineId}" id="deleteForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen')" method="post" onsubmit="aimluck.io.disableForm(this, true);return false;">
	        <input type="hidden" name="_name" value="コメント">
	        <input type="hidden" name="secid" value="$secid" />
	        #set ($deleteSubmit = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$record2.TimelineId).addQueryData('mode', 'delete')))
	        <a href="javascript:void(0)" onclick="aimluck.io.ajaxDeleteSubmit(dojo.byId('dummy_$!{portlet.ID}_$!{record2.TimelineId}'), '$deleteSubmit', '$indicator_id', '$!portlet.ID', aipo.timeline.onReceiveMessage);">削除する</a>
	        <input type="hidden" id="dummy_$!{portlet.ID}_$!{record2.TimelineId}" value="" />
	      </form>
		  #end
		  #if($record2.LikeList.size() > 0)
			&nbsp;
		    <span class="iconLike"></span><a href="javascript:void(0);" onclick="aipo.common.showDialogSub('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineLikeDetailScreen").addQueryData("entityid",$!{record2.TimelineId}))','$!portlet.ID');">${record2.LikeList.size()}</a>
		  #end
	      </div>
		  </div>
	    </div>
	    #end
	    #if($record.CoTopicList.size() > 0)
	      <div onclick="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId});" class="commentInputDummy" id="commentInputDummy_$!{portlet.ID}_$!{record.TimelineId}">
	      <span>コメントする</span>
	      </div>
	    #else
	      <div onclick="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId});" class="commentInputDummy" id="commentInputDummy_$!{portlet.ID}_$!{record.TimelineId}" style="display:none">
	      <span>コメントする</span>
	      </div>
	    #end
	    <div id="commentField_$!{portlet.ID}_$!{record.TimelineId}" class="commentField" style="display:none">
	    <div id="avatar_$!{record.TimelineId}" class="avatar mr10">
	      #if(${result.hasMyPhoto()})
	      <img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${result.UserId}))" alt="${result.MyUser.AliasName}" width="32" height="32" />
	      #else
	      <img src="images/common/avatar_default3.png" alt="${record2.OwnerName}" width="32" height="32" />
	      #end
	    </div>
	    <form name="commentForm_$!{portlet.ID}_$!{record.TimelineId}" id="commentForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage);return false;">
	      <input type="hidden" name="secid" value="$secid" />
	      <div class="outer">
	      <textarea class="elastic" id="note_$!{portlet.ID}_$!{record.TimelineId}" cols="10" name="note" rows="1" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; height: 39px; color: #999999; " onkeyup="aipo.timeline.onKeyUp('$!{portlet.ID}', $!{record.TimelineId})" onfocus="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId});" onblur="aipo.timeline.onBlurCommentField('$!{portlet.ID}', $!{record.TimelineId})"></textarea>
	      </div>
	      <div class="right">
	      <a class="auiButton" href="javascript:void(0)" onclick="aipo.timeline.addHiddenValue(dojo.byId('commentForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'comment');dojo.byId('commentForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">コメントする</a>
	      </div>
	    </form>
	    </div>
		</div>
		<div id="popc_timeline" class="auiPopup imgPopup hide" style="max-width:800px;">
			<div class="imgBody"></div>
		</div>
		#end
	#end
  <div id="content_end_$!{portlet.ID}"></div>
  </div>
  #foreach ($i in [2..${pages}])
	<div id="content_$!{portlet.ID}_${i}"></div>
  #end
  <div id="more_$!{portlet.ID}">
  #if($result.ContentHeight == 0)
	#if($pages > $currentPage) #set($next = $currentPage + 1)
	<div class="readMore"><a href="javascript:void(0);" onclick="aipo.timeline.onScroll('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "TimelineScreen").addQueryData("start", $next))', '$!portlet.ID', '$currentPage');" style="display:block;">もっと見る</a></div>
	#end
  #end
  <div id="more_end_$!{portlet.ID}"></div>
  </div>
  </div>
#end
</div>