${loginUser}##
#if($hasEmail)(${email})#end##
さんがWebデータベース「$GpdbName」にデータを##
#if(#$isNew)##
追加##
#else##
編集##
#end##
しました。

[${GpdbItemName}]
${DispValue}

[${serviceAlias}へのアクセス]
#if($enableAsp)
 ${globalurl}
#else
・社外
  ${globalurl}
・社内
  ${localurl}
#end

---------------------
${serviceAlias}





