## Set Email headers
#set ($ignored = $email.addTo($user.Email) )
#set ($ignored = $email.setFrom($config.getString("newuser.confirm.email.from") ))
#set ($ignored = $email.setSubject("パスワードの確認") )
##
こんにちは、$lastname $firstname さん、

Jetspeed日本語版アカウントのパスワード:

   $user.Password

Jetspeed日本語版サイトにアクセスして、ログインしてください。

   $userurl

以上をよろしくお願いいたします。

Jetspeed日本語版 管理者

## Uncomment the following to include the username in the message
## 追伸: ユーザー名を忘れないようにしてください。
##       ユーザー名は $username です。
