#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Project Management Portlet was developed by Advance,Inc.
 * http://www.a-dvance.co.jp/
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
## ---------------------------------------------------------------------------
#if($result.isProjectEmpty())
	<div class="message">プロジェクトは作成されていません。</div>
#else
	
    <div class="auiSummaryMeta clearfix">
      <div class="filters floatLeft">
    	<a href="javascript:void(0);" onclick="popupToggle(this,'menubar_auiFilter_1');"><span class="filterTip"><span>すべてのプロジェクト</span></span></a>
      </div>
      #AUISummaryDiv()
      #AUIajaxpageview('ProjectScreen' $result)
      #AUISummaryDivfooter()
    </div>
    
    #if($result.isTaskEmpty())
		<div class="message">タスクは作成されていません。</div>
    #else
        <table class="auiRowTable auiMbTable wide">
        <colgroup></colgroup>
        <colgroup class="thin"></colgroup>
        <colgroup class="thin"></colgroup>
        <tbody>
        #foreach ($record in $result.List)
            #set ($progressRate = "$!{record.ProgressRate}%") ##進捗率
            #set ($workload = "$!{record.WorkloadFormat}h")   ##工数
            #if (!$!{record.ResultDisplayFlg})
            	#set ($progressRate = "-")
            	#set ($workload = "-")
            	#set ($forecastWorkload = "-")
			#end
			<tr>
            <td class="auiMTCaption"><div>$!record.TaskName</div></td>
            <td class="mb_hide" nowrap="nowrap">
            #if($!{record.Delay})
            <span style="color:red;">$progressRate</span>
            #else
            <span>$progressRate</span>
            #end
            </td>
            <td class="mb_hide" nowrap="nowrap">
			$!{record.UpdateDate}
			</td>
			</tr>
        #end
        </table>
	#end
#end