#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Project Management Portlet was developed by Advance,Inc.
 * http://www.a-dvance.co.jp/
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($orderProjectTask = $!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskChangeTurnFormScreen").addQueryData("projectid","$result.SelectedProjectId"))
#set ($baselink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ProjectTaskListScreen')")
#set ($progressJsonScreen = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskProgressFormJSONScreen")))

## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#if(!$result.AllProject)
	<div class="message">プロジェクトが登録されていません。</div>
#elseif(!$result.List)
	<div class="message">プロジェクトを選択してください。</div>
#else
    <div class="auiSummaryMeta clearfix">
    <div class="floatRight">
    	<div class="auiSelectButton">
    		<ul>
    			#set($tab = ["タスク一覧", "task_list","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ProjectTaskListScreen')"])
    			<li class="active"><a class="first" style="width:7em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
    			#set($tab = ["ガントチャート", "gantt_chart", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ProjectGanttChartScreen')"])
    			<li><a class="last" style="width:9em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');aipo.project.reloadProgress();"><span>$tab.get(0)</span></a></li>
    		</ul>
    	</div>
    </div>
    </div>
    #AUISummaryFilterDivHeader()
    #AUISearchHeader("searchForm_" "searchForm_" "$!jslink.getPortletById($!portlet.ID)" "aimluck.io.postViewPage(this, '$!portlet.ID', 'search-${indicator_id}'); return false;")
    <input type="hidden" id="baseuri_$!portlet.ID" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskListScreen")' />
    <input type="hidden" name="template" value="ProjectTaskListScreen"/>
    <div class="filterInputField">
    	<div class="filters" id="filters_$!portlet.ID">
    	#if("$!result.TargetUserId"!="")
        <span class="filterTip">
        <span>$!result.TargetUserName</span>
        <a href="javascript:void(0);" class="btn" onclick='aipo.project.filterSetDefault("$!portlet.ID","target_user_id");'><i class="auiIcon auiIconDelete"></i></a>
        </span>
        #end
        #if("$!result.TargetTracker"!="")
        <span class="filterTip">
        <span>$!result.TargetTrackerName</span>
        <a href="javascript:void(0);" class="btn" onclick='aipo.project.filterSetDefault("$!portlet.ID","target_tracker");'><i class="auiIcon auiIconDelete"></i></a>
        </span>
        #end
        #if("$!result.TargetPriority"!="")
        <span class="filterTip">
        <span>$!result.TargetPriorityName</span>
        <a href="javascript:void(0);" class="btn" onclick='aipo.project.filterSetDefault("$!portlet.ID","target_priority");'><i class="auiIcon auiIconDelete"></i></a>
        </span>
        #end
        #if("$!result.TargetStatus"!="")
        <span class="filterTip">
        <span>$!result.TargetStatusName</span>
        <a href="javascript:void(0);" class="btn" onclick='aipo.project.filterSetDefault("$!portlet.ID","target_status");'><i class="auiIcon auiIconDelete"></i></a>
        </span>
        #end
    	</div>
    	<a href="javascript:void(0)" id="filter_drawer_$!portlet.ID" class="filterDropDrawer menubarOpenButton" onclick='aipo.project.toggleMenu(dojo.byId("menubar_auiFilter_$!portlet.ID"),dojo.byId("filters_$!portlet.ID"),true);' title="フィルタ"><i class="auiIcon auiIconArwBottom"></i></a>
    	<input class="text floatLeft long" type="text" name="target_keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" />
    </div>
    #AUIButtonSearch("dojo.byId('searchForm_$!portlet.ID').onsubmit();" "$l10n.TODO_SEARCH")
    #AUISearchIndicator()
    #AUISearchFooter()
    #AUISummaryFilterDivFooter()

    #AUISummaryDiv()
    <select name="target_progress_rate_from" id="target_progress_rate_from" onchange="aipo.project.onChangeProgressRate('$baselink', '$!portlet.ID', 'target_progress_rate_from')">
    #foreach($rate in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
    	<option value="${rate}" #if ("$!result.TargetProgressRateFrom" == "${rate}") selected="selected" #end>${rate}%</option>
    #end
    </select>
    -
    <select name="target_progress_rate_to" id="target_progress_rate_to" onchange="aipo.project.onChangeProgressRate('$baselink', '$!portlet.ID', 'target_progress_rate_to')">
    #foreach($rate in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
    	<option value="${rate}" #if ("$!result.TargetProgressRateTo" == "$rate" || (!$!result.TargetProgressRateTo && $rate == 100)) selected="selected" #end>${rate}%</option>
    #end
    </select>
    <label><input type="checkbox" id="target_delay_checkbox" name="target_delay_checkbox" onclick="aipo.project.onChangeDelay(this, 'target_delay_checkbox', '$baselink', '$!portlet.ID');" #if("$!result.TargetDelay" == "t") checked #end />進捗遅れのみ表示</label>
    #if("$result.List.size()" != "0")
		#AUIajaxpageview('ProjectTaskListScreen' $result)
    #end
	#AUISummaryDivfooter()
    #if($result.List.size() == 0)
		<div class="message">指定された条件に該当するレコードはありません。</div>
    #else
        #ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
        <div id="messageDiv-$!portlet.ID"></div>
        #AUIrowMTableWide()
        	<tr>
        		#ALtdhead("タスク名")
        		#ALtdheadAtt("分類" "class='thin'")
        		#ALtdheadAtt("ステータス" "class='thin'")
        		#ALtdheadAtt("担当者" "class='wName'")
        		#ALtdheadAtt("進捗率" "class='thin'")
        		#ALtdheadAtt("実績工数" "class='thin'")
        		#ALtdheadAtt("予定工数" "class='thin'")
                #ALtdheadAtt("開始日" "class='w10'")
        		#ALtdheadAtt("期日" "class='w10'")
        	</tr>
        	#foreach ($record in $result.List)
        	<tr class="#if($!{record.Delay})bgRed #end #if($!{record.FinishStatus})bgGray #end">
        		#ALtdcellheaderAtt('class="auiMTCaption"')
        		<div>
        			$!record.IndentString<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskDetailScreen").addQueryData("entityid",$record.TaskId))');" style="display:inline;">$!record.TaskName</a>
        		</div>
        		#ALtdcellfooter()
        		#ALtdcellAtt("$!record.TrackerString" 'nowrap="nowrap" class="mb_hide"')
				#ALtdcellAtt("$!record.StatusString" 'nowrap="nowrap"')
        		#ALtdcellAtt("<div>$!record.MemberListString</div>" '')
        		#ALtdcellheaderAtt('class="mb_hide"')
        		#if(!$!record.HasChildrenForForm)
            		<select name="progress_rate" onchange="aimluck.io.selectPost({name: this.name, value: this.value, taskId: '$record.taskId', secid: '$secid'}, '$progressJsonScreen', '$indicator_id', '$!portlet.ID', aipo.project.onReceiveMessage)">
            		#foreach($rate in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
            			<option #if($!{record.ProgressRate.toString()} == "${rate}") selected="selected" #end value="${rate}">${rate}%</option>
            		#end
            		</select>
        		#else
                    <span>$!{record.ProgressRate.toString()}%</span>
        		#end
        		#ALtdcellfooter()
        		#ALtdcellAtt("$!{record.WorkloadFormat}h" 'class="center mb_hide" nowrap="nowrap"')
        		#ALtdcellAtt("$!{record.PlanWorkloadFormat}h" 'class="center mb_hide" nowrap="nowrap"')
				#if($!{record.StartPlanDate.toString()} != "")
				#set ($StartPlanDate = "$!{record.StartPlanDate.Year}${l10n.PROJECT_YEAR}$!{record.StartPlanDate.Month}${l10n.PROJECT_MONTH}$!{record.StartPlanDate.Day}${l10n.PROJECT_DATE}")
				#else
				#set ($StartPlanDate = "")
				#end
        		#ALtdcellAtt("$StartPlanDate" 'class="mb_hide" nowrap="nowrap"')
				#if($!{record.EndPlanDate.toString()} != "")
				#set ($EndPlanDate = "$!{record.EndPlanDate.Year}${l10n.PROJECT_YEAR}$!{record.EndPlanDate.Month}${l10n.PROJECT_MONTH}$!{record.EndPlanDate.Day}${l10n.PROJECT_DATE}")
				#else
				#set ($EndPlanDate = "")
				#end
        		#ALtdcellAtt("$EndPlanDate" 'nowrap="nowrap"')
        	</tr>
        	#end
    	#AUItablefooter()
		#if("$result.List.size()" != "0")
    	#AUISummaryDiv()
    	#AUIajaxpageview('ProjectTaskListScreen' $result)
    	#AUISummaryDivfooter()
		#end
    #end
#end
#AUIcontentsAreaFooter()
<img src="images/common/dot.gif" width="1" height="1" alt="" onload='if(dojo.byId("filters_$!{portlet.ID}").offsetWidth != 0) {dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px";} if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' />
<div class="menubar multi" id="menubar_auiFilter_$!portlet.ID" style="width:520px; display:none;">
  <div>
	<p class="caption">担当者</p>
    <ul class="filtertype filtertype_$!portlet.ID" data-type="target_user_id" data-defaultparam="">
      <li data-param="" #if("$!result.TargetUserId" == "" || "$!result.TargetUserId" == "0") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetUserId"==""||"$!result.TargetUserId"=="0") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>すべてのユーザー</a></li>
    #foreach($record in $result.projectMembers)
      <li data-param="$!record.UserId" #if("$!result.TargetUserId" == "$!record.UserId.toString()") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetUserId" == "$!record.UserId.toString()") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>$!{record.AliasName}</a></li>
    #end
    </ul>
  </div>
  <div>
	<p class="caption">分類</p>
	<ul class="filtertype filtertype_$!portlet.ID" data-type="target_tracker" data-defaultparam="">
      <li data-param="" #if("$!result.TargetTracker"==""||"$!result.TargetTracker"=="0") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetTracker"==""||"$!result.TargetTracker"=="0") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>すべての分類</a></li>
    #foreach($record in $result.TrackerMap.entrySet())
      <li data-param="$!record.key" #if("$!result.TargetTracker" == "$!record.key.toString()") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetTracker" == "$!record.key.toString()") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>$!{record.value}</a></li>
    #end
    </ul>
  </div>
  <div>
	<p class="caption">優先度</p>
	<ul class="filtertype filtertype_$!portlet.ID" data-type="target_priority" data-defaultparam="">
      <li data-param="" #if("$!result.TargetPriority"==""||"$!result.TargetPriority"=="0") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetPriority"==""||"$!result.TargetPriority"=="0") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>すべてのステータス</a></li>
    #foreach($record in $result.PriorityMap.entrySet())
      <li data-param="$!record.key" #if("$!result.TargetPriority" == "$!record.key.toString()") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetPriority" == "$!record.key.toString()") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>$!{record.value}</a></li>
    #end
    </ul>
  </div>
  <div>
	<p class="caption">ステータス</p>
	<ul class="filtertype filtertype_$!portlet.ID" data-type="target_status" data-defaultparam="">
      <li data-param="" #if("$!result.TargetStatus"==""||"$!result.TargetStatus"=="0") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetStatus"==""||"$!result.TargetStatus"=="0") class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>すべてのステータス</a></li>
    #foreach($record in $result.StatusMap.entrySet())
      <li data-param="$!record.key" #if("$!result.TargetStatus" == "$!record.key.toString()") class="selected" #end><a href="javascript:void(0);" #if("$!result.TargetStatus" == $!record.key.toString()) class="selected" #end onclick='aipo.project.filterClick("$!portlet.ID",this,event)'>$!{record.value}</a></li>
    #end
    </ul>
  </div>
</div>

#parse("/portlets/html/ja/project-widgets.vm")

