#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($result.CurrentTab != "corp")
#ALdialogheader("社外アドレス詳細")
#else
#ALdialogheader("社内アドレス詳細")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader("アドレス")
#ALtableheaderWide()
#ALtdcaption('名前')
#ALtditemheader()
$!result.Detail.Name
#if($!result.Detail.PublicFlag.toString() == 'F')
<img src="images/addressbook/addressbook_secret.gif" border="0" width="16" height="16" align="absmiddle" alt="非公開" title="非公開">
#end
#ALtditemfooter()
#ALtdcaption('名前（フリガナ）')
#ALtditem($result.getStringCR($!result.Detail.NameKana))
#ALtdcaption('メールアドレス')
#ALtditem($result.getStringCR($!result.Detail.Email))
#ALtdcaption('電話番号（外線）')
#ALtditem($!result.Detail.Telephone)
#ALtdcaption('電話番号（携帯）')
#ALtditem($!result.Detail.CellularPhone)
#ALtdcaption('携帯メールアドレス')
#ALtditem($result.getStringCR($!result.Detail.CellularMail))

#if($result.CurrentTab != "corp")
#ALtdcaption('会社')
#ALtditemheader()
#ALtableheaderSubWide()
#ALtdcaption("会社名")
#ALtditem($result.getStringCR($!result.Detail.CompanyName))
#ALtdcaption('会社名（フリガナ）')
#ALtditem($result.getStringCR($!result.Detail.CompanyNameKana))
#ALtdcaption('部署名')
#ALtditem($result.getStringCR($!result.Detail.PostName))
#ALtdcaption('郵便番号')
#ALtditem($!result.Detail.Zipcode)
#ALtdcaption('住所')
#ALtditem($result.getStringCR($!result.Detail.CompanyAddress))
#ALtdcaption('電話番号')
#ALtditem($!result.Detail.CompanyTelephone)
#ALtdcaption('FAX番号')
#ALtditem($!result.Detail.CompanyFaxNumber)
#ALtdcaption('URL')
#ALtditem("<a href='$utils.normalizeURL($result.Detail.CompanyUrl.toString())' target='_blank'>$result.getStringCR($!result.Detail.CompanyUrl)</a>")
#ALtablefooter()
#ALtditemfooter()
#else
#ALtdcaption('部署名')
#ALtditemheader()
#foreach($record in $!result.Detail.PostList)
$!record.Name <br />
#end
#ALtditemfooter()
#end
#ALtdcaption('役職名')
#ALtditem($result.getStringCR($!result.Detail.PositionName))
#if($result.CurrentTab != "corp")
#ALtdcaption('登録者名')
#ALtditem("$!result.Detail.CreatedUser （$!result.Detail.CreateDate）")
#ALtdcaption('更新者名')
#ALtditem("$!result.Detail.UpdatedUser （$!result.Detail.UpdateDate）")
#end
#ALtablefooter()
#ALbuttonheader()
#if($result.CurrentTab != "corp")
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.addressbook.onLoadAddressbookDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.addressbook.onReceiveMessage")
#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
