#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
<div class="errorbox">
    <div class="errorbox mb20">
		<div class="mb20">
			<!-- <img src="${external_resources_url}/themes/${theme}/images/logo_aipo.png" alt="Aipo" /> -->
        </div>
        <h1>$l10n.WAR_DBERROR_TITLE</h1>
		$l10n.WAR_DBERROR_CONTENT
		#if($config.getString("support.mail"))
		<p>$l10n.WAR_NO_ERROR_URL_INQUILY</p>
		<p>
        [e-mail : <a href="mailto:$config.getString("support.mail")">$config.getString("support.mail")</a> ]
        </p>
        #end
        <a href="${context_path}/portal">$l10n.WORKFLOW_BACK</a>
    </div>
</div>