@charset "Shift_JIS";
/***************************************************
全ページ共通、大枠のスタイルを定義
必要に応じて宣言を増やして良い

※全て必ず編集を行う

2カラムを標準としているが3カラムの場合は[#sideBlock2]を適宜追加して良い
***************************************************/


/***************************************************
	HTML
--------------------------------------------------*/
html {
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-auto-text-size-adjust: none;
}

a {
}
a:hover {
}

/* table */
table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0px;
	border-color:#999999;
}
table caption {
}
table tbody {
}
table th {
	white-space:nowrap;
	padding:5px;
	border-color:#999999;
	background:#f0f0f0;
}
table td {
	padding:5px;
	border-color:#999999;
}
/* div */
.detailperson {
	overflow: auto;
	width: 150px;
	word-wrap: break-word;
}


/* form */
form {
}
fieldset {
}
input {
	font-size:14pt;
}
input.text {
	width: 90%;
	line-height:1.4em;
}
input.submit {
	min-height:2em;
	padding:0px 10px;
}
input.checkbox {
	vertical-align:middle;
	height:1.2em;
	width:1.2em;
}
input.checkbox:checked {
	background:#f00;
}
select {
	font-size:14pt;
}
optgroup {
}
option {
}
textarea {
	width:90%;
	line-height:1.4em;
	font-size:14pt;
}


/***************************************************
	wrapper
--------------------------------------------------*/
#wrapper {
	background:#ffffff;
}

/***************************************************
	header
--------------------------------------------------*/
#header {
	width:100%;
}
#header h1 {
	float:left;
	margin:0px;
	padding:6px 0px 6px 5px;
}
#header ul {
	float:right;
	margin:0px;
	padding:0px 5px 0px 0px;
}
#header ul li {
	float:left;
	padding:0px 5px 0px 0px;
	list-style:none;
}
#header ul li a {
	color:#000000;
}
h2 {
	margin:0px;
	padding:5px 0;
	font-size:small;
	font-weight:normal;
	text-align:center;
	text-shadow: 1px 1px 1px #cc6600;
	border-top:solid 1px #ffe090;
	border-bottom:solid 1px #cc6f00;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(#ffd03f), to(#ff9900)
	);
}

/***************************************************
	contents
--------------------------------------------------*/
#contents {
	width:94%;
	padding:5px 3%;
	font-size:1.2em;
	border-bottom:solid 1px #666666;
}
#contents h3 {
	padding:2px;
	font-size:1em;
	border-top:solid 1px #cccccc;
	background:#f0f0f0;
}
#contents h4 {
	border-bottom:solid 1px #cccccc;
}
#contents ul, #contents ol {
	padding-left:2em;
}

/***************************************************
	mainMenu
--------------------------------------------------*/
#contents #mainMenu {
	margin:0px auto;
	padding:0px;
}
#contents #mainMenu li {
	display:inline-block;
	width:90px;
	margin:0px;
	padding:5px;
	list-style:none;
}
#contents #mainMenu li a {
	display:block;
	padding:5px;
	color:#333333;
	font-size:x-small;
	text-align:center;
	text-decoration:none;
	border-top:solid 1px #e0e0e0;
	border-right:solid 1px #c0c0c0;
	border-bottom:solid 1px #c0c0c0;
	border-left:solid 1px #e0e0e0;
	-webkit-border-radius:5px;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(#ffffff), to(#eeeeee)
	);
	-webkit-box-shadow: 1px 1px 4px #cccccc;
}
#contents #mainMenu li.even a {
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(#f0f0f0), to(#e0e0e0)
	);
}
#contents #mainMenu li a img {
	margin-bottom:5px;
}


/***************************************************
	submenu
--------------------------------------------------*/
.submenu {
	margin:0px;
	padding:0px;
	text-align:center;
	border-top:solid 1px #f0f0f0;
	border-bottom:solid 1px #e0e0e0;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(#e0e0e0), to(#f0f0f0)
	);
}
.submenu li {
	display:inline;
}
.submenu li a.btn {
	display:inline-block;
}


/***************************************************
	pagenation
--------------------------------------------------*/
.pagenation {
	width:100%;
}
.pagenation ul {
	width:100%;
	margin:0;
	padding:0;
}
.pagenation ul li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

/***************************************************
	footer
--------------------------------------------------*/
#footer {
	width:100%;
	margin:0px;
	padding:0px;
	border-top:solid 1px #999999;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(#606060), to(#303030)
	);
}
#copy {
	float:left;
	line-height:35px;
	margin:0px;
	padding:0 0 0 5px;
	font-size:small;
	text-align:center;
	text-shadow: 2px 2px 2px #000000;
	color:#ffffff;
}
#copy a {
	text-decoration:none;
	color:#ffffff;
}
#footer ul {
	float:right;
	margin:0px;
	padding:0px 5px 0px 0px;
}
#footer ul li {
	float:left;
	padding:0px 5px 0px 0px;
	list-style:none;
}


/***************************************************
	ClearFix
--------------------------------------------------*/
#archiveList_category ul li:after,
.pagenation:after,
#breadcrumb:after,
#footer:after,
#contents:after,
#header:after {
	content:".";
	height:0px;
	clear:both;
	display:block;
	visibility:hidden;
}
#archiveList_category ul li,
.pagenation,
#breadcrumb,
#footer,
#contents,
#header {
	display:inline-block;
}
* html #archiveList_category ul li,
* html .pagenation,
* html #breadcrumb,
* html #footer,
* html #contents,
* html #header {
	height:1%;
}
#archiveList_category ul li:after,
.pagenation:after,
#breadcrumb:after,
#footer:after,
#contents:after,
#header:after {
	display:block;
}

