#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($addApp = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GadgetsAdminFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
#AUIwideAreaHeader()
#AUISummaryDiv()
#AUIbuttonAction("アプリを追加する" "javascript:aipo.common.showDialog('$addApp','$!portlet.ID',aipo.gadgets_admin.onLoadFormDialog);")
#AUISummaryDivfooter()
#AUISummaryDiv()
<form class="auiForm floatLeft" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:180px;">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GadgetsAdminListScreen").addQueryData("filter","all").addQueryData("filtertype","status"))">すべてのアプリ</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GadgetsAdminListScreen").addQueryData("filter","1").addQueryData("filtertype","status"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == "1") selected="selected" #end>有効のアプリ</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GadgetsAdminListScreen").addQueryData("filter","0").addQueryData("filtertype","status"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == "0") selected="selected" #end>無効のアプリ</option>
</select>
#ALformfooter()
<div class="floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")</div>
#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
#ALajaxlistformheader('アプリ')
#if($result.List.size() == 0)
指定された条件に該当するアプリはありません。<br />
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete('削除する' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")
#AUIajaxbuttonCheckboxEnable('有効にする' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")
#AUIajaxbuttonCheckboxDisable('無効にする' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</div>
#AUIajaxpageview('GadgetsAdminListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="width:3em;">
</colgroup><colgroup>
</colgroup>
<tbody>
<tr>
#ALtdhead("#ALswitchCheckbox()")
#ALtdhead("状態")
#ALtdhead("アプリ名")
</tr>
#foreach ($record in $result.List)
<tr>
#if($record.Parent == "GadgetsTemplate")
#set($appId = $!result.getStringNumber($!record.Name))
#ALtdcellAtt("<input name='check$!appId' type='checkbox' value='$!appId'/>" 'align="center"')
#else
#ALtdcellAtt("" "")
#end
#if($record.Type == "active")
#ALtdcellAtt("有効" 'class="center" nowrap="nowrap"')
#else
#ALtdcellAtt("無効" 'class="center" nowrap="nowrap"')
#end
#if($record.Parent == "GadgetsTemplate")
#set($appId = $!result.getStringNumber($!record.Name))
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GadgetsAdminDetailScreen").addQueryData("entityid",$!appId))');">$!record.Title</a>
</div>
#ALtdcellfooter()
#else
#ALtdcellAtt("<div>$record.Title</div>" '')
#end
</tr>
#end
#ALtablefooter()
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete('削除する' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")
#AUIajaxbuttonCheckboxEnable('有効にする' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")
#AUIajaxbuttonCheckboxDisable('無効にする' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsAdminFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.gadgets_admin.onReceiveMessage")
</div>
#AUIajaxpageview('GadgetsAdminListScreen' $result)
#AUISummaryDivfooter()
#ALformfooter()
#end
#AUIcontentsAreaFooter()
