#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------

<div class="auiSummaryMeta clearfix">
#ALselectpdheader("target_category" "40%" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoScreen").addQueryData("filter","").addQueryData("filtertype","category"))">すべてのカテゴリ</option>
#foreach( $record in $result.CategoryList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoScreen").addQueryData("filter",$!record.CategoryId).addQueryData("filtertype","category"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.CategoryId.toString()) selected="selected" #end>$!record.CategoryName</option>
#end
</select>
#AUIajaxpageview('ToDoScreen' $result)

</div>
#if ($result.List.size() == 0)
<div class="message">指定された条件に該当するToDoはありません。</div>
#else
#ALformheader('ToDo' $jslink $portlet)
#AUIrowTableWide()
#foreach ($record in $result.List)
#set($limitState = ${record.limitState.Value})
#if($result.isMatch(0, $limitState))
#set($lsStyle = ' style="background-color:#FFFFE5"')
#elseif($result.isMatch(1, $limitState))
#set($lsStyle = ' style="background-color:#FFE5E5"')
#else
#set($lsStyle = '')
#end
<tr $lsStyle>
#ALtdcellAtt("<div>$!record.EndDate</div>" 'class="thin" nowrap="nowrap"')
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoDetailScreen").addQueryData("entityid",$record.TodoId))');">$!record.TodoName</a>
#if(! $!record.Public)
<img src="images/todo/todo_secret.gif" border="0" width="16" height="16" alt="非公開" title="非公開"/>
#end</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
$!record.CategoryName
</div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.userName</div>" 'class="w15"')
</tr>
#end
#AUItablefooter()
#ALformfooter()
#end
