#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($tabs = [["共有ファイル", "", ""]])
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFolderFormScreen").addQueryData("entityid","new").addQueryData("mode","new")))
#set ($indicator_id = "indicator-list-")
##set ($submenulist = [["ファイルを追加する","javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.cabinet.onLoadCabinetFileDialog);","images/cabinet/file_add.gif"], ["フォルダを追加する","javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.cabinet.onLoadCabinetFolderDialog);","images/cabinet/folder_add.gif"]])
##set ($submenulist = [["ファイル一覧を見る","$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doCabinet_list','1')","images/icon/icon_list.gif"], ["ファイルを追加する","javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileFormScreen").addQueryData("entityid","new")');","images/icon/icon_add.gif"]])
## ---------------------------------------------------------------------------

#AUIcontentsAreaHeader()
<div class="auiSummaryMeta clearfix">
<form class="auiSearch" id="searchForm_$!{portlet.ID}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetListScreen')" onsubmit="aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-indicator-list-'); return false;">
<input type="hidden" name="template" value="CabinetListScreen"/>
<input class="text floatLeft" type="text" name="keyword" id="q$!{portlet.ID}" style="margin-right:5px;" value="$!result.targetKeyword"/>
<a class="auiButtonSearch floatLeft" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit();">検索</a>
<div class="floatLeft ml10" style="padding-top: 0.4em;">
<div class="indicator" id="search-indicator-list-$!{portlet.ID}" style="display:none;">&nbsp;</div>
</div>
</form>
</div>

#if($result.isAccessible())
<form name="cabinetlist$!portlet.ID" id="cabinetlist$!portlet.ID" action="#" method="post" onsubmit="aipo.cabinet.onSubmitSerchButton(this,'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileSearchListScreen'))','$!portlet.ID'); return false;">
<input type="hidden" name="_name" value="ファイル" />
<input type="hidden" name="secid" value="$secid" />
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")

<div id="listmessageDiv"></div>

#if($result.List.size() == 0)
<div class="message">指定された条件に該当するファイルはありません。</div>
#else
<div class="auiSummaryMeta clearfix">
<div class="floatLeft">
#if($result.isEditable())
#AUIajaxbuttonCheckboxDelete('削除する' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.cabinet.onListReceiveMessage")
#end
</div>
#AUIajaxpageview('CabinetListScreen' $result)
</div>
#if($!result.targetKeyword && ($!result.targetKeyword.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($!result.targetKeyword.toString())
#AUISummaryDivfooter()
#end
#AUIrowTableWide()
<tr>

#if($result.isEditable()) #ALtdheadThin("#ALswitchCheckbox()")
##<th class="thin">編集</th>
#end

#ALtdheadAtt("#ALajaxsort('file_name' 'ファイル' $result 'CabinetListScreen')" "class='mb_hide'")
#ALtdhead("#ALajaxsort('file_title' 'タイトル' $result 'CabinetListScreen')")
#ALtdheadAtt("更新者" "class='thin mb_hide'")
#ALtdheadAtt("#ALajaxsort('update_date' '更新日' $result 'CabinetListScreen')" "class='thin mb_hide center'")
#ALtdheadAtt("#ALajaxsort('counter' 'DL数' $result 'CabinetListScreen')" "class='thin mb_hide center'")
#ALtdheadAtt("#ALajaxsort('file_size' '容量（KB）' $result 'CabinetListScreen')" "class='thin mb_hide'")
</tr>
#foreach ($record in $result.List)
<tr>
#if($result.isEditable()) #ALtdcellAtt("<input name='check$!record.FileId' type='checkbox' value='$!record.FileId'/>" 'align="center"') #end
##編集ボタン
#*
#if($result.isEditable())
<td class="center" nowrap="nowrap">
<a class="auiButton" title="編集" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormScreen').addQueryData('entityid', ${record.FileId}))', '$portlet.ID');" >編集</a>
</td>
#end
*#
##ファイルネーム
#ALtdcellheaderAtt("class='mb_hide'")
<div><a #if("$!{client}"=="IPHONE")target="_blank"#end href="$jslink.getTemplate("CabinetFileRawScreen").addPathInfo("entityid",${record.FileId}).addPathInfo("f",${record.URLEncodedFileName})">$record.WbrFileName</a></div>
#ALtdcellfooter()
##タイトル
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitleHtml</a></div>
#ALtdcellfooter()
##更新者
#ALtdcellAtt("$!{record.updateUser}" 'class="mb_hide left" nowrap="nowrap"')
##更新日
#ALtdcellAtt("$!{record.UpdateDate}" 'class="mb_hide right" nowrap="nowrap"')
##ダウンロード数
#ALtdcellAtt("$!{record.Counter}" 'class="mb_hide right" nowrap="nowrap"')
##サイズ
#ALtdcellAtt("$!{record.FileSize}" 'class="mb_hide right" nowrap="nowrap"')
</tr>
#end
#ALtablefooter()
<div class="auiSummaryMeta clearfix">
<div class="floatLeft">
#if($result.isEditable())
#AUIajaxbuttonCheckboxDelete('削除する' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.cabinet.onListReceiveMessage")
#end
</div>
#AUIajaxpageview('CabinetListScreen' $result)
</div>
#end
</form>
#else
このフォルダを表示する権限がありません。
#end


#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/cabinet-widgets.vm")
