#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($indicator_str = "データを送信")
#set ($action_str = "追加する")
#set ($subtitle = 'トピック追加')
#set ($event_submit = "eventSubmit_doMsgboard_insert")
#set ($action_utl = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormJSONScreen')")
#elseif($mode=="edit_form")
#set ($indicator_str = "データを送信")
#set ($action_str = "更新する")
#set ($subtitle = 'トピック編集')
#set ($event_submit = "eventSubmit_doMsgboard_update")
#set ($action_utl = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormJSONScreen')")
#else
#set ($indicator_str = "データを送信")
#set ($action_str = "返信する")
#set ($subtitle = 'トピック返信')
#set ($event_submit = "eventSubmit_doMsgboard_update")
#set ($action_utl = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormJSONScreen').addQueryData('mode','topic_reply')")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("msgboardForm" $jslink $portlet "MsgboardTopicFormJSONScreen" "aimluck.io.selectAllOptions(this.attachments);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.msgboard.onReceiveMessage)")
<input name="is_new_category" type="hidden" value="$!result.NewCategory"/>
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()

#if($mode=="new_form"||$mode=="edit_form")
#ALtdcaption($!result.getFieldName("category_id"))
#ALtditemheader()
<div id="msgboardCategoryInputField" #if(!$!{result.NewCategory})style="display:none"#end>
#ALtableheaderSubWide()
#ALtdcaption("#ALrequired($!result.getFieldName('category_name'))")
#ALtditem("#ALtextfield('category_name' $!result.CategoryName '90%' 50 'active')")
#ALtablefooter()
</div>
<div id="msgboardCategorySelectField" #if($!{result.NewCategory})style="display:none"#end>
#ALselectpdheader("category_id" "90%" "")
#foreach( $record in $result.CategoryList )
<option value='$!record.CategoryId' #if ($!result.CategoryId.toString() == $!record.CategoryId.toString()) selected="selected" #end>$!record.CategoryName</option>
#end
#ALselectfooter()
</div>
<input name="category_input_button" type="button" class="button" value=" #if(!$!{result.NewCategory})新しく入力する#else一覧から選択する#end " onclick="aipo.msgboard.formSwitchCategoryInput(this)" />
#ALtditemfooter()
#end

#ALtdcaption("#ALrequired($!result.getFieldName('topic_name'))")
#ALtditem("#ALtextfield('topic_name' $!result.TopicName '90%' 50 'active')")
#ALtdcaption("#ALrequired($!result.getFieldName('note'))")
#ALtditemheader()
#ALtextarea('note' $!result.Note 10 40)
#ALtditemfooter()
#ALtdcaption("添付ファイル")
#ALtditemheader()
<select id="attachments" name="attachments" type="select" size="3" multiple="multiple" style="width: 325px">
#foreach( $record in $!result.AttachmentFileNameList )
<option value="s$record.FileId">$record.FileName</option>
#end
</select>
#set($att_url = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FileuploadFormScreen").addQueryData("mode","form"))
<input type="button" onclick="aipo.fileupload.openAttachment('$!utils.escapeXML($att_url)');" value="ファイルの選択" class="button" name="add_attachment"/>
選択したファイルを<input type="button" onclick="aimluck.io.removeOptions(this.form.attachments);" value="削除する" class="button" name="add_attachment"/>
<input type="hidden" id="folderName" name="folderName" value="">
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
