#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
##set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowFormScreen")))
#set ($RouteChangeFlag = "isChangedRoute")
#set ($Route = "Route")
#set ($Route_id = "workflow_Route")
#set ($NoteChangeFlag = "isChangedNote")
#set ($Note = "Note")
#set ($Note_id = "workflow_Note")
#if($mode=="new_form")
#set ($indicator_str = "データを送信")
#set ($action_str = "申請する")
#set ($event_submit = "eventSubmit_doWorkflow_insert")
#set ($subtitle = '依頼追加')
#set($modesrv = "insert")
#else
#set ($indicator_str = "データを送信")
#set ($action_str = "再申請する")
#set ($subtitle = '依頼編集')
#set ($event_submit = "eventSubmit_doWorkflow_update")
#set($modesrv = "update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)

#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("workflowForm" $jslink $portlet "WorkflowFormJSONScreen" "aimluck.io.selectAllOptions(this.positions);aimluck.io.selectAllOptions(this.attachments);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.workflow.onReceiveMessage);aipo.workflow.onLoadWorkflowDetail")
<input type="hidden" name="mode" value="$!modesrv" />

#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('request_name'))")
#ALtditemheader()
#ALselectpdheader("category_id" "90%" "aipo.workflow.categoryOnChangeSelecter('$!portlet.ID','$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowFormJSONScreen').addQueryData('mode','categorytemplate')',value,'$Note','$NoteChangeFlag','$Route','route_id');")
#foreach( $record in $result.CategoryList )
<option value="$!record.CategoryId" #if ($!result.CategoryId.toString() == $!record.CategoryId.toString()) selected #end>$!record.CategoryName</option>
#end
#ALselectfooter()
#ALtextfield('request_name' $!result.RequestName '90%' 50 'active')
#ALtditemfooter()
#ALtdcaption($!result.getFieldName("priority"))
#ALtditemheader()
<input name="priority" type="radio" value="1" id="$!{portlet.ID}priority_high_id" #if ($!result.Priority.toString() == "1") checked="checked" #end /><label for="$!{portlet.ID}priority_high_id"> 高い</label>
<input name="priority" type="radio" value="2" id="$!{portlet.ID}priority_middle_high_id" #if ($!result.Priority.toString() == "2") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_high_id"> やや高い</label>
<input name="priority" type="radio" value="3" id="$!{portlet.ID}priority_middle_id" #if ($!result.Priority.toString() == "3") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_id"> 普通</label>
<input name="priority" type="radio" value="4" id="$!{portlet.ID}priority_middle_low_id" #if ($!result.Priority.toString() == "4") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_low_id"> やや低い</label>
<input name="priority" type="radio" value="5" id="$!{portlet.ID}priority_low_id" #if ($!result.Priority.toString() == "5") checked="checked" #end /><label for="$!{portlet.ID}priority_low_id"> 低い</label>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('note'))")
#ALtditemheader()
<input id=$NoteChangeFlag type="checkbox" style="display:none"/>
<textarea id=$Note_id class="text wide" name=$Note rows="10" cols="40" onchange="aipo.workflow.onChangeNote()">$!result.Note</textarea>
#ALtditemfooter()
#ALtdcaption("$!result.getFieldName('price')")
#ALtditemheader()
#ALtextfield('price' $!result.Price '35%' 16 'disabled')&nbsp;円&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caution">￥、カンマ（,）は不要</span>
#ALtditemfooter()
#ALtdcaption("#ALrequired('申請先')")
#ALtditemheader()
<input id="is_saved_route" name="is_saved_route" type="hidden" value="$!result.isSavedRoute" />
<input id="is_saved_route_button" name="post_type" type="button" class="button" value=" #if(!$!{result.isSavedRoute})申請経路一覧から選択する#elseユーザー一覧から選択する#end " onclick="aipo.workflow.formSwitchRouteSelect(this)" />
<div id="workflowRouteInputField" #if($!{result.isSavedRoute})style="display:none"#end>
<div id="membernormallist">
<div class="spaceTop spaceLeft small">左側に申請先を追加してください。</div>
<div dojoType="aipo.widget.MemberNormalSelectList"
    id="membernormalselect"
    widgetId="membernormalselect"
    buttonAddId="button_member_add"
    buttonRemoveId="button_member_remove"
    memberFromId="tmp_member_from"
    memberToTitle="申請先一覧"
    memberToId="positions"
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowUserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
    memberFromOptionKey="name"
    memberFromOptionValue="aliasName"
    groupSelectId="tmp_group"
    groupSelectPreOptionKey="LoginUser"
    groupSelectPreOptionValue="（グループ全体）"
    groupSelectOptionKey="groupId"
    groupSelectOptionValue="name"
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen')"
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowUserLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="5" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
</div>
</div>
<div id="workflowRouteSelectField" #if(!$!{result.isSavedRoute})style="display:none"#end>
#ALselectpdheader("route_id" "90%" "aipo.workflow.onChangeSelecter('$!portlet.ID','$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowFormJSONScreen').addQueryData('mode','routetemplate')',value,'$Route','$RouteChangeFlag');")
<option value="0">（指定しない）</option>
#foreach( $record in $result.RouteList )
<option value="$!record.RouteId" #if ($!result.RouteId.toString() == $!record.RouteId.toString()) selected #end>$!record.RouteName</option>
#end
</select>
<input id=$RouteChangeFlag type="checkbox" style="display:none"/>
<br />
<div #if ($!result.RouteId.toString() == "" || $!result.RouteId.toString() == "0") style="display:none;" #end id="$Route_id" name="$Route">$!result.RouteH</div>
</div>
#ALtditemfooter()



#ALtdcaption("添付ファイル")
#ALtditemheader()
<select id="attachments" name="attachments" type="select" size="3" multiple="multiple" style="width: 325px">
#foreach( $record in $!result.AttachmentFileNameList )
<option value="$record.FileId">$record.FileName</option>
#end

</select>
#set($att_url = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FileuploadFormScreen").addQueryData("mode","form"))
<input type="button" onclick="aipo.fileupload.openAttachment('$!utils.escapeXML($att_url)');" value="ファイルの選択" class="button" name="add_attachment"/>
選択したファイルを<input type="button" onclick="aimluck.io.removeOptions(this.form.attachments);" value="削除する" class="button" name="add_attachment"/>
<input type="hidden" id="folderName" name="folderName" value="">
#ALtditemfooter()
#ALtablefooter()

#ALbuttonheader()
#ALsubmitJS($event_submit $action_str 'aipo.workflow.submit_list')#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
