## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
<div id="auiWidgetsArea">
<div class="auiWidget clearfix">
#AUIbuttonAction("依頼を作成する" "javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.workflow.onLoadWorkflowDialog);")
</div>

<div class="auiWidget clearfix"><ul>
<li>
<span>あなた宛の依頼</span>
<ul>
<li #if($!result.currentTab == 'unconfirmed')class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "requested").addQueryData("tab","unconfirmed").addQueryData("reset_params","true"))','$!portlet.ID');">未確認</a></li>
<li #if($!result.currentTab == 'confirmed')class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "requested").addQueryData("tab","confirmed").addQueryData("reset_params","true"))','$!portlet.ID');">確認済み</a></li>
<li #if($!result.currentTab == 'completed')class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "requested").addQueryData("tab","completed").addQueryData("reset_params","true"))','$!portlet.ID');">完了</a></li>
</ul>
</li>

<li>
<span>作成した依頼</span>
<ul>
<li #if(($!result.currentTab == 'unfinished') && !($all_flg))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "created").addQueryData("tab","unfinished").addQueryData("reset_params","true").addQueryData("all_flg","false"))','$!portlet.ID');">未完了</a></li>
<li #if(($!result.currentTab == 'finished') && !($all_flg))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "created").addQueryData("tab","finished").addQueryData("reset_params","true").addQueryData("all_flg","false"))','$!portlet.ID');">完了</a></li>
</ul>
</li>

#if($!result.hasAuthorityOther())
<li>
<span>すべての依頼</span>
<ul>
<li #if(($!result.currentTab == 'unfinished') && ($all_flg))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllListScreen").addQueryData("submenu", "created").addQueryData("alltab","unfinished").addQueryData('eventSubmit_doWorkflow_list_all','1').addQueryData("reset_params","true").addQueryData("all_flg","true"))','$!portlet.ID');">未完了</a></li>
<li #if(($!result.currentTab == 'finished') && ($all_flg))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllListScreen").addQueryData("submenu", "created").addQueryData("alltab","finished").addQueryData('eventSubmit_doWorkflow_list_all','1').addQueryData("reset_params","true").addQueryData("all_flg","true"))','$!portlet.ID');">完了</a></li>
</ul>
</li>
#end
</ul></div>

<div class="auiWidget clearfix">
<form class="auiForm">
#ALselectpdheader("category" "100%" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("filtertype","category").addQueryData("filter",""))">すべての分類</option>
#foreach( $record in $result.CategoryList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("filtertype","category").addQueryData("filter","$!record.CategoryId"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.CategoryId.toString()) selected="selected" #end>$!record.CategoryName</option>
#end
</select></form></div>

</div>

