#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "更新する")
#set ($subtitle = 'ログイン管理')
#set ($event_submit = "eventSubmit_doLogin_control_update")
#set ($indicator_id = "indicator-dlg-")
##----------------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.loginctl.hideDialog()")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("LoginControlForm" $jslink $portlet "LoginControlFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.loginctl.onReceiveMessage)")
<input type="hidden" name="mode" value="update" />
#ALtableheaderWide()
#ALtdcaption("パスワードの有効期限")
#ALtditemheader()
<select name="password_expiration">
<option value="0" #if($result.PasswordExpiration.toString() == "0") selected="selected"#end>無制限</option>
<option value="5" #if($result.PasswordExpiration.toString() == "5") selected="selected"#end>5日間</option>
<option value="10" #if($result.PasswordExpiration.toString() == "10") selected="selected"#end>10日間</option>
<option value="15" #if($result.PasswordExpiration.toString() == "15") selected="selected"#end>15日間</option>
<option value="20" #if($result.PasswordExpiration.toString() == "20") selected="selected"#end>20日間</option>
<option value="25" #if($result.PasswordExpiration.toString() == "25") selected="selected"#end>25日間</option>
<option value="30" #if($result.PasswordExpiration.toString() == "30") selected="selected"#end>30日間</option>
<option value="35" #if($result.PasswordExpiration.toString() == "35") selected="selected"#end>35日間</option>
<option value="40" #if($result.PasswordExpiration.toString() == "40") selected="selected"#end>40日間</option>
<option value="45" #if($result.PasswordExpiration.toString() == "45") selected="selected"#end>45日間</option>
<option value="50" #if($result.PasswordExpiration.toString() == "50") selected="selected"#end>50日間</option>
<option value="55" #if($result.PasswordExpiration.toString() == "55") selected="selected"#end>55日間</option>
<option value="60" #if($result.PasswordExpiration.toString() == "60") selected="selected"#end>60日間</option>
<option value="65" #if($result.PasswordExpiration.toString() == "65") selected="selected"#end>65日間</option>
<option value="70" #if($result.PasswordExpiration.toString() == "70") selected="selected"#end>70日間</option>
<option value="75" #if($result.PasswordExpiration.toString() == "75") selected="selected"#end>75日間</option>
<option value="80" #if($result.PasswordExpiration.toString() == "80") selected="selected"#end>80日間</option>
<option value="85" #if($result.PasswordExpiration.toString() == "85") selected="selected"#end>85日間</option>
<option value="90" #if($result.PasswordExpiration.toString() == "90") selected="selected"#end>90日間</option>
<option value="95" #if($result.PasswordExpiration.toString() == "95") selected="selected"#end>95日間</option>
<option value="100" #if($result.PasswordExpiration.toString() == "100") selected="selected"#end>100日間</option>
<option value="105" #if($result.PasswordExpiration.toString() == "105") selected="selected"#end>105日間</option>
<option value="110" #if($result.PasswordExpiration.toString() == "110") selected="selected"#end>110日間</option>
<option value="115" #if($result.PasswordExpiration.toString() == "115") selected="selected"#end>115日間</option>
<option value="120" #if($result.PasswordExpiration.toString() == "120") selected="selected"#end>120日間</option>
</select>
#ALtditemfooter()
#ALtdcaption("有効期限の通知")
#ALtditemheader()
<select name="expiration_notification">
<option value="0" #if($result.ExpirationNotification.toString() == "0") selected="selected"#end>通知しない</option>
<option value="1" #if($result.ExpirationNotification.toString() == "1") selected="selected"#end>1日前</option>
<option value="2" #if($result.ExpirationNotification.toString() == "2") selected="selected"#end>2日前</option>
<option value="3" #if($result.ExpirationNotification.toString() == "3") selected="selected"#end>3日前</option>
<option value="4" #if($result.ExpirationNotification.toString() == "4") selected="selected"#end>4日前</option>
<option value="5" #if($result.ExpirationNotification.toString() == "5") selected="selected"#end>5日前</option>
<option value="6" #if($result.ExpirationNotification.toString() == "6") selected="selected"#end>6日前</option>
<option value="7" #if($result.ExpirationNotification.toString() == "7") selected="selected"#end>7日前</option>
<option value="8" #if($result.ExpirationNotification.toString() == "8") selected="selected"#end>8日前</option>
<option value="9" #if($result.ExpirationNotification.toString() == "9") selected="selected"#end>9日前</option>
<option value="10" #if($result.ExpirationNotification.toString() == "10") selected="selected"#end>10日前</option>
</select>
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)<input name="ajaxbuttonClose" class="button" type="button" value="　閉じる　" onclick="aipo.loginctl.hideDialog();" />
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()


