#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
## ---------------------------------------------------------------------------
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="exttimecardmessageDiv"></div>
#ALajaxscreenformheader("exttimecardForm" $jslink $portlet "ExtTimecardFormJSONScreen" "aimluck.io.submit(this, '${indicator_id}','$!portlet.ID',aipo.exttimecard.onListReceiveMessage)")
#ALtableheaderAtt("wide")
<tr>

#if($!{result.Detail.IsTypeA}||$!{result.Detail.IsTypeH}||$!{result.Detail.IsTypeC})
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">出勤</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">退勤</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">外出</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">復帰</span>
</td>
#else

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")
#if (!$!{result.Detail})
<input type="button" value="出勤" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '出勤');dojo.byId('form$!portlet.ID').onsubmit();"/>
#else

#if (!($!{result.Detail.IsNullClockInTime}))
出勤<br />$!{result.Detail.ClockInTime.Time}
#else
#if (!$!{result.Detail.IsNullClockOutTime})
<span class="auiButtonDisabled">出勤</span>
#else
<input type="button" value="出勤" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '出勤');dojo.byId('form$!portlet.ID').onsubmit();" />
#end
#end

#end

#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")

#if (!($!{result.Detail.IsNullClockInTime}))
#if ($!{result.Detail} && !($!{result.Detail.IsNullClockOutTime}))
退勤<br />$!{result.Detail.ClockOutTime.Time}
#else
#if($!{result.Detail.IsOverTime})
<input type="button" value="退勤" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '退勤');dojo.byId('form$!portlet.ID').onsubmit();"/>
#else
<input type="button" value="退勤" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '退勤');dojo.byId('form$!portlet.ID').onsubmit();"/>
#end
#end
#else
<span class="auiButtonDisabled">退勤</span>
#end
#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")

#if (!($!{result.Detail.IsNullClockInTime}))
#if ($!{result.Detail} && !($!{result.Detail.IsNullClockOutTime}))
<span class="auiButtonDisabled">外出</span>
#elseif ($!{result.Detail.IsOutgoing})
#if (!$!{result.Detail.OutgoingTime} )
不整合
#else
外出<br />$!{result.Detail.OutgoingTime.Time}
#end
#else
<input type="button" value="外出" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '外出');dojo.byId('form$!portlet.ID').onsubmit();"/>
#end
#else
<span class="auiButtonDisabled">外出</span>
#end

#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")
#if (!($!{result.Detail.IsNullClockInTime}))
#if ($!{result.Detail} && !($!{result.Detail.IsNullClockOutTime}))
<span class="auiButtonDisabled">復帰</span>
#else
<input type="button" value="復帰" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'comeback');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '復帰');dojo.byId('form$!portlet.ID').onsubmit();"/>
#end
#else
<span class="auiButtonDisabled">復帰</span>
#end
#ALtdcellfooter()
#end
</tr>
#ALtablefooter()
#ALformfooter()
