#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($meisaiflag = 1)
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#set($user_results = $result.GroupExtTimecards)
#if($user_results.size() == 0)
<div class="message">指定されたグループにはユーザーが所属していません。</div>
#else

<div class="auiSummaryMeta clearfix">
#if($!result.hasAclXlsExport())
<div class="floatLeft">
#set($dlLink = $!utils.escapeXML($jslink.getTemplate('ExtTimecardSummaryXlsExportScreen').addQueryData('target_user_id',"$!result.TargetUserId").addQueryData("target_group_name","$!result.TargetGroupName").addQueryData('view_month', "$!result.ViewMonth")))
#AUIbutton("表示中の一覧をダウンロード" $dlLink)
</div>
#end
<div class="auiSelectButton floatRight">
<div class="floatLeft" style="line-height:24px;margin-right:10px;"><strong>$!{result.ViewMonth.Year} 年 $!{result.ViewMonth.Month} 月</strong></div>
<ul class="floatLeft">
<li style="margin-right:10px;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="今月へ" class="btn" style="width:4em;"><span>今月</span></a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="先月へ" class="first arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_l.gif" alt="先月へ" /></span></a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="来月へ" class="last arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_r.gif" alt="来月へ" /></span></a>
</li>
</ul>
</div>
</div>
#AUIrowTableWide()
<tr>
#ALtdheadW25("名前")
#ALtdheadW25("勤務形態")
#ALtdheadThin("就業")
#ALtdheadThin("残業")
#ALtdheadThin("休出")
#ALtdheadThin("遅刻")
#ALtdheadThin("早退")
#ALtdheadThin("欠勤")
#ALtdheadThin("有休")
#ALtdheadThin("代休")
#ALtdheadThin("その他")
#ALtdheadThin("未入力")
</tr>
#foreach ($key in $user_results)
<tr>
#ALtdcellAtt("$!{key.UserName}" "nowrap='nowrap'")
#ALtdcellAtt("$!{key.SystemName}" "nowrap='nowrap'")
#ALtdcellAtt("$!{key.WorkDay}日<br>（$!{key.WorkHour}時間）" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.OvertimeDay}日<br>（$!{key.OvertimeHour}時間）" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.OffDay}日<br>（$!{key.OffHour}時間）" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.LateComingDay}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.EarlyLeavingDay}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.AbsentDay}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.PaidHoliday}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.CompensatoryHoliday}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.OtherDay}日" "nowrap='nowrap' align='center'")
#ALtdcellAtt("$!{key.NoInput}" "nowrap='nowrap' align='center'")
</tr>
#end
#AUItablefooter()

<div class="auiSummaryMeta clearfix">
	<div class="auiSelectButton floatRight">
	<div class="floatLeft" style="line-height:24px;margin-right:10px;"><strong>$!{result.ViewMonth.Year} 年 $!{result.ViewMonth.Month} 月</strong></div>
	<ul class="floatLeft">
	<li style="margin-right:10px;">
	<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="今月へ" class="btn" style="width:4em;"><span>今月</span></a>
	</li>
	<li>
	<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="先月へ" class="first arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_l.gif" alt="先月へ" /></span></a>
	</li>
	<li>
	<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="来月へ" class="last arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_r.gif" alt="来月へ" /></span></a>
	</li>
	</ul>
	</div>
</div>

#end
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/exttimecard-widget.vm")

