#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_pageview','1')")
#set($linklist = [["Webﾒｰﾙへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_menu','1')"]])
#if($!result.currentTab == "receive")
#set($tabname = "受信")
#set ($unreadNum = $result.getUnReadMailSumByFolderId($result.FolderId))
#if ($unreadNum > 0)
#set($pagetitle = "${tabname}ﾄﾚｲ - ${result.SelectedFolder.FolderName}(${unreadNum})")
#else
#set($pagetitle = "${tabname}ﾄﾚｲ - ${result.SelectedFolder.FolderName}")
#end
#else
#set($tabname = "送信")
#set($pagetitle = "${tabname}ﾄﾚｲ")
#end
#set ($StatStr = $!{result.StatStr})
## ---------------------------------------------------------------------------
#ALcell_pagetitle($career "$pagetitle")


<div class="message">$!{result.Error}</div>
#if ($result.List.size() == 0)
<div class="message">${tabname}ﾒｰﾙはありません。</div>
#else

#if($StatStr && !($StatStr == ''))
${StatStr}
#ALcell_hr($career '1')
#end

#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#ALcell_hr($career '1')
#end
<ul>
#foreach ($record in $result.List)
#if(($!record.Subject) && ($!record.getSubject().toString() != ""))
#set($MailSubject = $!record.Subject)
#elseif($!record.Subject)
#set($MailSubject = "無題")
#end
#ALcell_li_header($career)
<img src='$!record.ReadImage' alt='$!record.ReadImageDescription' title='$!record.ReadImageDescription' />
<a href="$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_show_mail','1').addQueryData('entityid', $!record.MailId).addQueryData('tab', $!result.currentTab)">$MailSubject</a>
（$!record.Person、$!{record.Date.Month}月$!{record.Date.Day}日 $!{record.Date.Hour}時$!{record.Date.Minute}分、$!{record.FileVolume}KB）
##tdcell2("#menu('返信' $!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_reply_mail','1').addQueryData('entityid', $!record.MailId).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '1') 'images/webmail/webmail_reply_mail.gif')" 'nowrap')
##tdcell2("#menu('転送' $!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_forward_mail','1').addQueryData('entityid', $!record.MailId).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '2') 'images/webmail/webmail_forward_mail.gif')" 'nowrap')

#ALcell_li_footer($career)
#end
</ul>
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#end

#ALcell_hr($career '1')
#if($!result.currentTab == "receive")
ﾌｫﾙﾀﾞ移動:
#foreach($record in $!result.FolderList)
#set ($unreadNum = $result.getUnReadMailSumByFolderId($record.FolderId))
#if($result.FolderId != $record.FolderId)
#if ($unreadNum > 0)
<a href="$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_list','1').addQueryData("accountid", "$!result.AccountId").addQueryData("folderid" ,"$!record.FolderId")">${record.FolderName}(${unreadNum})</a>
#else
<a href="$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_list','1').addQueryData("accountid", "$!result.AccountId").addQueryData("folderid" ,"$!record.FolderId")">${record.FolderName}</a>
#end
&nbsp;
#end
#end
<br/>
#end
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

