#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2008 Aimluck,Inc.
 * http://aipostyle.com/
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#ALjavascript("javascript/aimluck/io/form.js")
#ALjavascript("javascript/aipo/account_person/form.js")
#ALjavascript("javascript/aipo/fileupload/form.js")
<script language="JavaScript" type="text/javascript">
//<![CDATA[

    ptConfig['$!portlet.ID'] = { group:"account_person", initUrl:'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountPersonScreen"))', reloadFunction:aipo.reloadPage };

//]]>
</script>
#parse("/portlets/html/ja/ajax-account-person-detail.vm")
#parse("/portlets/html/ja/account-person-menu.vm")
