#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2008 Aimluck,Inc.
 * http://aipostyle.com/
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set($tabs = [["ユーザー情報詳細", "",""]])
## ---------------------------------------------------------------------------
#ALtabheader($tabs "")
#ALspacebothheader()
#ALajaxlistformheader('ユーザー')
#ALtableheaderWide()
#ALtdcaption('ユーザー名')
#ALtditem($!result.Detail.UserName)
#ALtdcaption('名前')
#ALtditem($!result.Detail.Name)
#ALtdcaption('名前（フリガナ）')
#ALtditem($!result.Detail.NameKana)
#ALtdcaption('メールアドレス')
#ALtditem($!result.Detail.Email)
#ALtdcaption('電話番号（外線）')
#ALtditem($!result.Detail.OutTelephone)
#ALtdcaption('電話番号（内線）')
#ALtditem($!result.Detail.InTelephone)
#ALtdcaption('電話番号（携帯）')
#ALtditem($!result.Detail.CellularPhone)
#ALtdcaption('携帯メールアドレス')
#ALtditem($!result.Detail.CellularMail)
#ALtdcaption('顔写真')
#ALtditemheader()
#if($!{result.Detail.hasPhoto()})
<img src="$jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{result.Detail.UserId}).addQueryData("r",$!{result.RandomNum}))" alt="顔写真" align="absmiddle" />
#else
未登録です。
#end
#ALtditemfooter()
#ALtdcaption('部署')
#ALtditemheader()
#foreach($record in $!result.Detail.getPostNameList())
$!record <br />
#end
#ALtditemfooter()
#ALtdcaption('役職')
#ALtditem($!result.Detail.PositionName)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountPersonFormScreen')" "$!portlet.ID" "aipo.account_person.onLoadPersonInfoDialog")
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
