#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#if  ($mode=="new_form")
#set ($action_str = "追加する")
#set ($event_submit = "eventSubmit_doAccount_post_insert")
#set ($subtitle = '部署追加')
#else
#set ($action_str = "更新する")
#set ($subtitle = '部署編集')
#set ($event_submit = "eventSubmit_doAccount_post_update")
#end
#ALdialogheader($subtitle)
##ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("accountpostForm" $jslink $portlet "AccountPostFormJSONScreen" "aimluck.io.selectAllOptions(this.member_to);aimluck.io.submit(this,'$indicator_id','$!portlet.ID', aipo.account_company.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('post_name'))")
#ALtditem("#ALtextfield('post_name' $!result.PostName '90%' 50 'active')")
#ALtdcaption($!result.getFieldName("zipcode1"))
#ALtditemheader()
#ALtextfield('zipcode1' $!result.Zipcode1 '20%' 3 'disabled')-#ALtextfield('zipcode2' $!result.Zipcode2 '20%' 4 'disabled')#ALcaution('（半角数字）')
#ALtditemfooter()
#ALtdcaption($!result.getFieldName("address"))
#ALtditem("#ALtextfield('address' $!result.Address '90%' 50 'active')")
#ALtdcaption($!result.getFieldName("post_out_telephone1"))
#ALtditemheader()
#ALtextfield('post_out_telephone1' $!result.OutTelephone1 '20%' 5 'disabled')-#ALtextfield('post_out_telephone2' $!result.OutTelephone2 '20%' 4 'disabled')-#ALtextfield('post_out_telephone3' $!result.OutTelephone3 '20%' 4 'disabled')#ALcaution('（半角数字）')
#ALtditemfooter()
#ALtdcaption($!result.getFieldName("post_in_telephone"))
#ALtditem("#ALtextfield('post_in_telephone' $!result.InTelephone '30%' 13 'disabled')#ALcaution('（ハイフン（-）または半角数字）')")
#ALtdcaption($!result.getFieldName("fax_number1"))
#ALtditemheader()
#ALtextfield('fax_number1' $!result.FaxNumber1 '20%' 5 'disabled')-#ALtextfield('fax_number2' $!result.FaxNumber2 '20%' 4 'disabled')-#ALtextfield('fax_number3' $!result.FaxNumber3 '20%' 4 'disabled')#ALcaution('（半角数字）')
#ALtditemfooter()
#ALtdcaption("所属メンバー")
#ALtditemheader()
<div class="spaceTop spaceLeft small">左側にユーザーを追加してください。</div>
<div dojoType="aipo.widget.MemberNormalSelectList" 
    id="membernormalselect" 
    widgetId="membernormalselect"  
    buttonAddId="button_member_add" 
    buttonRemoveId="button_member_remove" 
    memberFromId="tmp_member_from" 
    memberToTitle="所属メンバー一覧"
    memberToId="member_to" 
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')" 
    memberFromOptionKey="name" 
    memberFromOptionValue="aliasName" 
    groupSelectId="tmp_group" 
    groupSelectPreOptionKey="LoginUser"
    groupSelectPreOptionValue="（グループ全体）"
    groupSelectOptionKey="groupId" 
    groupSelectOptionValue="name" 
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen').addQueryData('mode','post')" 
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="10" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
