#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#if($!result.AdminFiltered)
#set($adminfiltered  = 1)
#set($adminfiltered2 = 0)
#else
#set($adminfiltered  = 0)
#set($adminfiltered2 = 1)
#end

#set ($addUser = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserFormScreen").addQueryData("entityid","new")))
#set ($orderUser = $!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserChangeTurnFormScreen"))

#if (!$!result.CurrentRole || $!result.CurrentRole == "")
#set($currentRole = "")
#else
#set($currentRole = $!result.CurrentRole)
#end
#if (!$!result.CurrentPost || $!result.CurrentPost == "")
#set($currentPost = "")
#else
#set($currentPost = $!result.CurrentPost)
#end

## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#AUIwideAreaHeader()

#AUISummaryDiv()
<div class="floatLeft">
#AUIbuttonAction($l10n.ACCOUNT_USER_ADD "javascript:aipo.common.showDialog('$addUser','$!portlet.ID',aipo.account_user.onLoadUserDialog);")
</div>

##AUIconfigheader($!{portlet.ID} "15em")
##AUIconfigitem($l10n.ACCOUNT_USER_SORT $orderUser)
##AUIconfigfooter()

#AUISummaryDivfooter()

#AUISummaryFilterDivHeader()
#AUISearchHeader("searchForm_" "searchForm_" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserListScreen')" "aimluck.io.postViewPage(this, '$!portlet.ID', 'search-indicator-list-'); return false;")
<input type="hidden" name="template" value="AccountUserListScreen"/>
<div class="filterInputField">
<input type="hidden" name="baseuri_$!{portlet.ID}" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen")' />
<div class="filters" id="filters_$!portlet.ID">#*
*##if($!currentRole && "$!currentRole" != "")#*
	*#<span class="filterTip">#*
	*##foreach( $record in $result.RoleMap )#*
	*##if ($!currentRole && $!currentRole == $!record.RoleId.toString())#*
	*##set($selectedRoleName = $!record.RoleName)#*
	*##end#*
	*##end#*
	*##set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter_role","").addQueryData("filter",$!currentPost).addQueryData("filtertype","role")))#*
		*#<span>$!selectedRoleName</span>#*
		*#<a href="javascript:void(0);" class="btn" onclick="aipo.account_user.onChangeRole('$url','$!portlet.ID','');"><i class="auiIcon auiIconDelete"></i></a>#*
	*#</span>#*
*##end#*
*##if($!currentPost && "$!currentPost" != "")#*
	*#<span class="filterTip">#*
	*##set($selectedPostName = "")#*
	*##foreach( $record in $result.PostMap )#*
	*##if ($!currentPost && $!currentPost == $!record.PostId.toString())#*
	*##set($selectedPostName = $!record.PostName)#*
	*##end#*
	*##end#*
	*##set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter","").addQueryData("filter_role",$!currentRole).addQueryData("filtertype","post")))#*
		*#<span>$!selectedPostName</span>#*
		*#<a href="javascript:void(0);" class="btn" onclick="aipo.account_user.onChangePost('$url','$!portlet.ID','');"><i class="auiIcon auiIconDelete"></i></a>#*
	*#</span>#*
*##end#*
*#</div>

<a href="javascript:void(0);" id="filter_drawer_$!portlet.ID" class="filterDropDrawer menubarOpenButton" onclick='aipo.account_user.toggleMenu(dojo.byId("menubar_auiFilter_$!portlet.ID"),dojo.byId("filters_$!portlet.ID"),true);' title="フィルタ"><i class="auiIcon auiIconArwBottom"></i></a>
<input class="text floatLeft long" type="text" name="keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" />
</div>
#AUIButtonSearch("$l10n.COMMON_SEARCH")
#AUISearchIndicator()
#AUISearchFooter()
#AUISummaryFilterDivFooter()


<div id="listMessageDiv"></div>
#ALajaxlistformheader($l10n.ACCOUNT_USER)
#if($result.List.size() == 0)
#AUIEmptyMessage("icon-user" "$l10n.ACCOUNT_ALERT_NO_USER_SELECTED")
#ALformfooter()
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.COMMON_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxEnable($l10n.ACCOUNT_MAKE_VALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxDisable($l10n.ACCOUNT_MAKE_INVALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonLink($l10n.ACCOUNT_USER_SORT $orderUser)
</div>
#AUIajaxpageview('AccountUserListScreen' $result)
#AUISummaryDivfooter()

#if($!result.targetKeyword && ($!result.targetKeyword.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($!result.targetKeyword.toString())
#AUISummaryDivfooter()
#end

<table class="auiRowTable auiMbTable wide">
#if($!{client}=="IPHONE")
<colgroup>
<col class="wCheckbox">
<col class="w40">
<col style="width:4.5em;">
<col class="w40">
<col class="wPosition">
<col class="wPosition">
<col style="width:3em;">
</colgroup>
#else
<colgroup style="width:20px;"></colgroup>
<colgroup style="width:4em;"></colgroup>
<colgroup style=""></colgroup>
<colgroup style="width:8em;"></colgroup>
<colgroup style="width:10em;"></colgroup>
<colgroup style="width:10em;"></colgroup>
#end
<tbody>
<tr>
#ALtdheadThinClass("#ALswitchCheckbox()" "center")
#ALtdheadThin($l10n.ACCOUNT_STATUS)
#ALtdheadW33("#ALajaxsort('login_name' $l10n.ACCOUNT_USER_ACCOUNT $result 'AccountUserListScreen')")
#ALtdheadAtt("#ALajaxsort('name_kana' $l10n.ACCOUNT_USER_NAME $result 'AccountUserListScreen')"'class="wName"')
#ALtdheadW25Class($l10n.ACCOUNT_POST_NAME "mb_hide")
#ALtdheadW10Class($l10n.ACCOUNT_POSITION_NAME "mb_hide")
</tr>
#foreach ($record in $result.List)
#set($disabled_flg = $!record.Disabled)

<tr>
#if($!{client}=="IPHONE")
#ALtdcellheaderAtt('class="center auiMTCheck"')
<input name='check$!record.UserName' type='checkbox' value='$!record.UserName'/>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserDetailScreen").addQueryData("entityid",$record.UserName))');">$!record.Name</a>
#ALtdcellfooter()
#ALtdcell("<div>$!record.Email</div>")
#ALtdcellheaderAtt('class="mb_hide"')
#set($pcount = 0)
<div>
#foreach($postname in $!record.PostNameList)
#if($pcount != 0)、&nbsp;#end
$!postname
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="mb_hide"')
<div>$!record.PositionName</div>
#ALtdcellfooter()
#if("$disabled_flg" == "N")
#ALtdcellAtt($l10n.ACCOUNT_INVALID 'class="center" nowrap="nowrap"')
#elseif("$disabled_flg" == "F")
#ALtdcellAtt($l10n.ACCOUNT_VALID 'class="center" nowrap="nowrap"')
#end

#else
#ALtdcellAtt("<input name='check$!record.UserName' type='checkbox' value='$!record.UserName'/>" 'class="center"')
#if("$disabled_flg" == "N")
#ALtdcellAtt($l10n.ACCOUNT_INVALID 'class="center" nowrap="nowrap"')
#elseif("$disabled_flg" == "F")
#ALtdcellAtt($l10n.ACCOUNT_VALID 'class="center" nowrap="nowrap"')
#end
#ALtdcell("<div>$!record.UserName</div>")
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserDetailScreen").addQueryData("entityid",$record.UserName))');">$!record.Name</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
#set($pcount = 0)
<div>
#foreach($postname in $!record.getPostNameList())
#if($pcount != 0)、&nbsp;#end
$!postname
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcell("<div>$!record.PositionName</div>")
#end
</tr>
#end
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.COMMON_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxEnable($l10n.ACCOUNT_MAKE_VALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxDisable($l10n.ACCOUNT_MAKE_INVALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
</div>
#AUIajaxpageview('AccountUserListScreen' $result)
#AUISummaryDivfooter()
</form>
#end
#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end

<img src="images/common/dot.gif" width="1" height="1" onload='if(dojo.byId("filters_$!{portlet.ID}").offsetWidth != 0) {dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px";} if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' alt="" />

<div class="menubar multi" id="menubar_auiFilter_$!portlet.ID" style="width:260px;display:none;">
	<div>
    	<p class="caption">$l10n.ACCOUNT_USER</p>
		<ul class="filtertype_role_$!portlet.ID" data-type="post" data-defaultparam="0">
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter_role","").addQueryData("filter",$!currentPost).addQueryData("filtertype","role")))
			<li data-param="" ><a href="javascript:void(0)" #if (!$!currentRole || $!currentRole == "") class="selected" #end onclick="aipo.account_user.onChangeRole('$url','$!portlet.ID','')" >$l10n.ACCOUNT_ALL_USER</a></li>
			#foreach( $record in $result.RoleMap )
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter_role",$!record.RoleId).addQueryData("filter",$!currentPost).addQueryData("filtertype","role")))
			<li data-param="$!record.RoleId"><a href="javascript:void(0)" #if ($!currentRole && $!currentRole == $!record.RoleId.toString()) class="selected" #end onclick="aipo.account_user.onChangeRole('$url','$!portlet.ID','$!record.RoleId')" >$!record.RoleName</a></li>
			#end
		</ul>
	</div>
	<div>
    	<p class="caption">$l10n.ACCOUNT_POST</p>
		<ul class="filtertype_post_$!portlet.ID" data-type="post" data-defaultparam="0">
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter","").addQueryData("filter_role",$!currentRole).addQueryData("filtertype","post")))
			<li data-param="" ><a href="javascript:void(0)" #if (!$!result.CurrentFilter || $!result.CurrentFilter == "") class="selected" #end onclick="aipo.account_user.onChangePost('$url','$!portlet.ID','')" >$l10n.ACCOUNT_ALL_POST</a></li>
			#foreach( $record in $result.PostMap )
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter",$!record.PostId).addQueryData("filter_role",$!currentRole).addQueryData("filtertype","post")))
			<li data-param="$!record.PostId"><a href="javascript:void(0)" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.PostId.toString()) class="selected" #end onclick="aipo.account_user.onChangePost('$url','$!portlet.ID','$!record.PostId')" >$!record.PostName</a></li>
			#end
		</ul>
	</div>
</div>