#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if ("$!data.User.getUserName()" != "admin")
#if ("${client}" == "IPHONE" )
<!-- /HEADER -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aipo.widget.DropdownActivityChecker");

dojo.addOnLoad(function () {
    var num;
    if(dojo.byId("messageChecker") != undefined  && dojo.byId("activityChecker") != undefined) {
    	num = parseInt(dojo.byId("activityChecker").innerHTML) + parseInt(dojo.byId("messageChecker").innerHTML);
    } else if(dojo.byId("activityChecker") != undefined) {
    	num = parseInt(dojo.byId("activityChecker"));
    } else {
    	num = 0;
    }
    if (!num){
    	document.title = djConfig.siteTitle;
    } else if (num > 99) {
    	document.title = "(99+) " + djConfig.siteTitle;
    } else {
    	document.title = "(" + num + ") " + djConfig.siteTitle;
    }
    var acHtml = document.getElementById("activitycheckerContainer");
    if(acHtml){
       var params = {
            widgetId: "activitychecker",

#if ("${client}" == "IPHONE" )
            iconURL: "themes/$!theme/images/mobile/an_activity.png",
            iconWidth: "24",
            iconHeight: "24",
#else
            iconURL: "themes/$!theme/images/common/icon_message.gif",
            iconWidth: "19",
            iconHeight: "15",
            extendClass: "counter",

#end
            iconAlt: "あなた宛のお知らせ"
       };
       var ac = new aipo.widget.DropdownActivityChecker(params , acHtml);
   }
});

//]]>
</script>
#end
#end