#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div class="auiSummaryMeta clearfix" style="#if($result.List.size() == 0 && $result.TableColumNum != 4);display:none#end">
<div class="floatLeft w30">
<form class="auiForm">
#ALselectpdheader("folder_id" "100%#if($result.TableColumNum != 4);display:none#end" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("folder_id",0))">すべてのフォルダ</option>
#foreach($record in $!result.FolderHierarchyList)
#if($record.isAuthorizedVisible())
#set($space = '')
#if(${record.HierarchyIndex} > 0)
#foreach($index in [1..${record.HierarchyIndex}])
#set($space = "${space}&nbsp;&nbsp;&nbsp;")
#end
#end
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("folder_id",$!record.FolderId))" #if($!result.isMatch(${record.FolderId}, $!result.SelectedFolderInfo.FolderId.longValue())) selected="selected" #end>${space}${record.FolderName}</option>
#end
#end
</select>
</form>
</div>
#if ($result.List.size() != 0 && $result.isAccessible())
#AUIajaxpageview('CabinetScreen' $result)
#end
</div>

#if (!$result.isAccessible())
<div class="message">このフォルダを表示する権限がありません。</div>
#else
#if ($result.List.size() == 0)
<div class="message">指定したフォルダにファイルはありません。</div>
#else
#if($result.TableColumNum == 4)
#ALformheader('Cabinet' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:20%;" />
<colgroup style="width:20%;" />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitleHtml</a></div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.FolderNameHtml</div>" '')
#ALtdcellAtt("<div>$!record.updateUserHtml</div>" '')
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#else
#ALformheader('Cabinet' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitleHtml</a></div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#end
#end
#end
