#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#if ($!result.currentSubMenu == 'created')
#set ($isCreated = true)
#else
#set ($isCreated = false)
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
<!-- Start Contents Area -->
#AUIcontentsAreaHeader()
#AUISummaryFilterDivHeader()
#AUISearchHeader("searchForm_" "searchForm_" "$!jslink.getPortletById($!portlet.ID)" "aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-${indicator_id}'); return false;")
<input type="hidden" name="baseuri_$!{portlet.ID}" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","ReportListScreen")' />
<input type="hidden" name="template" value="ReportListScreen"/>
<div class="filterInputField">
<div class="filters" id="filters_$!portlet.ID">
#foreach($record in $result.postList)
#if($!result.issetFilter("post",$!{record.Name}))
<span class="filterTip">
<span>$!record.AliasName</span>
<a href="javascript:void(0)" onclick="aipo.report.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end
#foreach($record in $result.PostMap)
#if($!result.issetFilter("post",$!{record.GroupName}))
<span class="filterTip">
<span>$!record.PostName</span>
<a href="javascript:void(0)" onclick="aipo.report.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end
</div>
<a href="javascript:void(0)" class="filterDropDrawer menubarOpenButton" onclick="aipo.report.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),true)"><i class="auiIcon auiIconArwBottom"></i></a>
<input class="text floatLeft long" type="text" name="keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" onfocus='aipo.report.initFilterSearch("$!portlet.ID");' onblur='aipo.report.finFilterSearch("$!portlet.ID");' />
</div>

#AUIButtonSearch("$l10n.COMMON_SEARCH")
#AUISearchIndicator()
#AUISearchFooter()
#AUISummaryFilterDivFooter()
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('Report')
#if($result.List.size() == 0)
#AUIEmptyMessage("icon-file-text" "$l10n.REPORT_EMPTY_SHORT_MESSAGE")
#else

#AUISummaryDiv()
#AUIsearchresult($result.targetKeyword.toString())
#AUIajaxpageview('ReportListScreen' $result)
#AUISummaryDivfooter()
#AUIrowMTableWide()
<tr>
#ALtdhead("#ALajaxsort('report_name' $l10n.REPORT_SETFIELDNAME_REPORT_NAME $result 'ReportListScreen')")
#ALtdhead("#ALajaxsort('start_date' $l10n.REPORT_SETFIELDNAME_CREATEDATE $result 'ReportListScreen')")
#ALtdheadAtt("#ALajaxsort('user_id' $l10n.COMMON_CREATE_USER $result 'ReportListScreen')" 'class="wName"')
#if($!isCreated)
#ALtdheadAtt($l10n.REPORT_SITUATION 'class="mb_hide" style="width:5%"')
#end
#ALtdhead("#ALajaxsort('create_date' $l10n.COMMON_CREATE_DATE $result 'ReportListScreen')")
</tr>
#foreach ($record in $result.List)
<tr #if($record.getStatus($result.LoginUser.UserId.Value) && $record.getStatus($result.LoginUser.UserId.Value) == "U") class="unread" #end>
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ReportDetailScreen").addQueryData("entityid",$record.ReportId).addQueryData("clientid",$!record.ClientId))');">$!record.ReportName</a>
</div>
#ALtdcellfooter()
#ALtdcell("<div>$!{record.StartDate.toString($l10n.REPORT_TIME)}&nbsp;-&nbsp;$!{record.EndDate.toString($l10n.REPORT_HOUR_AND_MINUTE)}</div>")
<td><div><a href="javascript: void(0)" onclick="aipo.message.popupProfile($!record.ClientId,arguments[0])">$!record.ClientName</a></div></td>
#if($!isCreated)
#ALtdcell("<div>$!record.ReadReport/$!record.SentReport</div>")
#end
#ALtdcellAtt("<div>$!record.CreateDateTime</div>" 'class="right mb_hide" nowrap="nowrap"')
</tr>
#end
#AUItablefooter()
#AUISummaryDiv()
#AUIajaxpageview('ReportListScreen' $result)
#AUISummaryDivfooter()
#end
#ALformfooter()
#AUIcontentsAreaFooter()
<img src="images/common/dot.gif" alt="" width="1" height="1" onload='if(dojo.byId("filters_$!{portlet.ID}").offsetWidth != 0){dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px";} if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' />
<div class="menubar" id="menubar_auiFilter_$!portlet.ID" style="display:none;">
	<p class="caption">$l10n.COMMON_GROUP</p>
	<ul class="filtertype filtertype_$!portlet.ID" data-type="post" data-defaultparam="0">
		<li data-param="0" #if(!$!result.issetFilter("post")) class="selected" #end><a href="javascript:void(0)" #if(!$!result.issetFilter("post")) class="selected" #end onclick="aipo.report.filterClick('$!portlet.ID',this,event)">$l10n.REPORT_ALL_GROUP</a></li>
	#foreach($record in $result.postList)
		<li data-param="$!record.Name" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end onclick="aipo.report.filterClick('$!portlet.ID',this,event)">$!record.AliasName</a></li>
	#end
	#foreach($record in $result.PostMap)
		<li data-param="$!record.GroupName" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end onclick="aipo.report.filterClick('$!portlet.ID',this,event)">$!record.PostName</a></li>
	#end
	</ul>
</div>
<!-- END Contents Area -->
#parse("/portlets/html/report-widgets.vm")