#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($receiveUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailScreen").addQueryData("mode","recieve")))
#set ($adminTab = $!utils.escapeXML($!jslink.getAction("controls.Maximize",$!portlet.ID).addQueryData("admintab","true")))
## ---------------------------------------------------------------------------
#if($!result.AccountId && $!result.AccountId != 0)
	<div class="auiSummaryMeta auiFilter clearfix">

		<input type="hidden" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailScreen")' />
		<div class="filters floatLeft" id="filters_$!{portlet.ID}">
			#foreach( $record in $result.MailAccountList )
				#if($!result.isMatch($!result.AccountId,$!record.AccountId.Value))
					<a href="javascript:void(0);"class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.webmail.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$!record.AccountName</span></a>
				#end
			#end
		</div>
		<div class="floatLeft pl5">
			<a class="auiButton" style="width:auto;" href="javascript:void(0)" onclick="aipo.viewPage('$receiveUrl','$!portlet.ID');aipo.webmail.onProcessingTimer();"><span>#AUIajaxbuttonReload()</span></a>
		</div>
		<div class="floatRight">
			#if($!result.List && $!result.List.size() > 0)
				#AUIajaxpageview('WebMailScreen' $result)
			#end
		</div>
	</div>



	<div class="menubar multi " id="menubar_auiFilter_$!portlet.ID" style="width:130px;display:none;">
		<div>
			<ul class="filtertype_$!portlet.ID"data-type="post" data-defaultparam="0">
				#foreach( $record in $result.MailAccountList )
					<li #if($!result.isMatch($!result.AccountId,$!record.AccountId.Value)) class="selected" #end>
						<a href="javascript:void(0)" #if($!result.isMatch($!result.AccountId,$!record.AccountId.Value)) class="selected" #end onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailScreen").addQueryData("accountid",$!record.AccountId))','$!portlet.ID');">$record.AccountName</a>
					</li>
				#end
			</ul>
		</div>
	</div>



	#set ($StatStr = $!{result.StatStr})
	#if($StatStr && !($StatStr == ''))
		<div class="spaceBottom"><div class="indicator" id="indicator-$!portlet.ID">$StatStr</div></div>
	#end
	#if($!result.List && $!result.List.size() <= 0)
		#AUIEmptyMessage("" "$l10n.WEBMAIL_MAIL_EMPTY_MESSAGE")
	#else
		<table class="auiRowTable wide">
			<colgroup style="width:10em;" />
			<colgroup />
			<colgroup style="width:6em;" />
			<tbody>
				#foreach ($record in $result.List)
					#set ($subjectUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailDetailScreen').addQueryData('entityid',$record.MailId)))
					#if(($!record.Subject) && ($!record.getSubject().toString() != ""))
						#set($MailSubject = $!record.Subject)
					#elseif($!record.Subject)
						#set($MailSubject = $l10n.WEBMAIL_NOTITLE)
					#end
					<tr>
						#if($!record.Read)
						#ALtdcellheader()
						<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$subjectUrl','$!portlet.ID',aipo.webmail.onLoadMailListDetail);">$!record.Person</a></div>
						#ALtdcellfooter()
						#ALtdcellheader()
						<div>$MailSubject</div>
						#ALtdcellfooter()
						#ALtdcellAtt("<div>$!record.Date</div>" 'class="right" nowrap="nowrap"')
						#else
						#ALtdcellheader()
						<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$subjectUrl','$!portlet.ID',aipo.webmail.onLoadMailListDetail);"><strong>$!record.Person</strong></a></div>
						#ALtdcellfooter()
						#ALtdcellheader()
						<div><strong>$MailSubject</strong></div>
						#ALtdcellfooter()
						#ALtdcellAtt("<div><strong>$!record.Date</strong></div>" 'class="right" nowrap="nowrap"')
						#end
					</tr>
				#end
			</tbody>
		</table>
	#end

	#if($StatStr && !($StatStr == ''))
		#set ($mailScreenUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailScreen")))
		<input type="hidden" id="receiving" name="receiving" value="$mailScreenUrl" />
		<input type="hidden" id="receivingPid" name="receivingPid" value="$!portlet.ID" />
	#end

#else
		#AUIEmptyMessage("" "$utils.getl10nFormat1('WEBMAIL_EMPTY_LONG_MESSAGE_HREF',${adminTab})")
#end