#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2008 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader("メールアカウント詳細")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader("メールアカウント")
#ALtableheaderWide()
#ALtdcaption('メールアカウント名')
#ALtditem("$!result.Detail.AccountName")
#ALtdcaption('送信メールサーバ名（SMTP）')
#ALtditem("$!result.Detail.SmtpserverName")
#ALtdcaption('受信メールサーバ名（POP3）')
#ALtditem("$!result.Detail.Pop3serverName")
#ALtdcaption('受信用ユーザーID')
#ALtditem("$!result.Detail.Pop3userName")
#ALtdcaption('受信用ユーザーパスワード')
#ALtditem("**********")
#ALtdcaption('名前')
#ALtditem("$!result.Detail.MailUserName")
#ALtdcaption('メールアドレス')
#ALtditem("$!result.Detail.MailAddress")
#ALtdcaption('送信ポート番号（SMTP）')
#ALtditem("$!result.Detail.SmtpPort")
#ALtdcaption('受信ポート番号（POP3）')
#ALtditem("$!result.Detail.Pop3Port")
#ALtdcaption('送信時の認証方式')
#ALtditemheader()
#if ($!result.Detail.AuthSendFlg.toString() == "1")
POP before SMTP
#elseif ($!result.Detail.AuthSendFlg.toString() == "2")
SMTP認証（ユーザーID：$!{result.Detail.AuthSendUserId}）
#else
認証なし
#end
#ALtditemfooter()
#ALtdcaption('送信時の暗号化方式')
#ALtditemheader()
#if ($!result.Detail.SmtpEncryptionFlag.toString() == "1")
SSL暗号化
#else
暗号化なし
#end
#ALtditemfooter()
#ALtdcaption('受信時の暗号化方式')
#ALtditemheader()
#if ($!result.Detail.Pop3EncryptionFlag.toString() == "1")
SSL暗号化
#else
暗号化なし
#end
#ALtditemfooter()
#ALtdcaption('署名')
#ALtditem($!result.Detail.Signature)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormScreen').addQueryData('entityid',$!{result.Detail.AccountId})" "$!portlet.ID" "aipo.webmail.onLoadMailAccountDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormJSONScreen').addQueryData('accountid',$!{result.Detail.AccountId}).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
