#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------

#*
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aimluck.widget.Menu");

dojo.addOnLoad(function () {

	var subMenu =
        [
            {
                caption: "メール",
                iconClass: "menuBarIconList",
                url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_list','1')",
                submenu:
                [
                    {   caption: "メール一覧を見る", iconClass: "menuBarIconList", url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_list','1')"    },
                    {   caption: "メールを作成する", iconClass: "menuBarIconWebmailCreateMail", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFormScreen")');"    },
                    {   caption: "メールを受信する", iconClass:"menuBarIconWebmailReceiveMail", url: "javascript:aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailListScreen").addQueryData("mode","recieve")', '$!portlet.ID');"    },
                    {   caption: "フォルダを追加する", iconClass: "menuBarIconFolderAdd" , url:}
                ]
            },
            {
                caption: "フィルタ設定",
                iconClass: "menuBarIconList",
                url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_filter_list','1')" ,
                submenu:
                [
                    {   caption: "フィルタ一覧を見る", iconClass: "menuBarIconList", url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_filter_list','1')"    },
                    {   caption: "フィルタを追加する", iconClass: "menuBarIconAdd" , url: },
                    {   caption: "フィルタの順番を変更する", iconClass: "menuBarIconAccountChangeTurn" , url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFilterOrderFormScreen")');"}
                ]
            },
            {
                caption: "アカウント設定",
                iconClass: "menuBarIconList",
                url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_account_list','1')" ,
                submenu:
                [
                    {   caption: "アカウント一覧を見る", iconClass: "menuBarIconList", url:     },
                    {   caption: "アカウントを追加する", iconClass: "menuBarIconAdd" , url: "},
                ]
            }
        ];

        if(aipo.webmail.menuSelected == "undefined"){
          aipo.webmail.menuSelected = -1;
        }
        var menubar = new aimluck.widget.Menubar({id: "mbar", items: subMenu, selectedIndex:aipo.webmail.menuSelected}, "portletMenu");

});

//]]>
</script>
 *#