/* CSS Document */
/***************************************************
	mobileHeader
--------------------------------------------------*/

#auiHeader {
  position: static !important;
}
.roundMainWrapper {
  padding-top: 0 !important;
}