@charset "utf-8";
/* CSS Document */

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

#appsNavigation_v2,
#appsNavigationBack_v2 {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/***************************************************
	modalDialog
--------------------------------------------------*/
.modalDialog input[type=checkbox],
.modalDialog input[type=radio] {
  vertical-align: -0.3em;
}

/***************************************************
	auiIcon
--------------------------------------------------*/
[class^="auiButton"] [class^="auiIcon "] {
  margin-top: -1px;
}
