@charset "utf-8";
* {
	font-family:'メイリオ', Meiryo, Verdana, sans-serif;
}
html, body {
	margin:0;
	padding:0;
	font-size:100%;
}
body {
	width:100%;
	padding:0;
	margin:0;
	font-size:.75em;
	line-height:1.4;
	background:#fff;
}
body#login {
	background:#eee url(../images/body.png) left top repeat-x;
}

* html body {
	font-size:.8em;
}
*+html body {
	font-size:.75em;
}

p {
	margin:5px 0;
}
span[type="button"] {
	outline:none;
}

/***************************************************
	auiHeader
--------------------------------------------------*/
#header {
	padding-top:5px;
	height:35px;
	/*background:url(../images/head_bg.png) repeat-x left bottom; **reserved**/
	overflow:hidden;
}
#header .inner {
	height:27px;
	padding:0 20px;
}
.hdSign {float:left;}
.hdNavi {float:right;padding-top:3px;}
.hdActivity,
.hdSearch,
.hdUserName,
.hdLogout {
	float:left;
	line-height:23px;
	padding-right:8px;
	padding-left:8px;
	font-size:11px;
	vertical-align:middle;
	/*border-left:solid 1px #e0e0e0; **reserved**/
}
.hdNavi div.active {
	background:#ddd;
}
.hdLogo {
	padding:3px 0 0 0;
}
.hdLogo a:hover img {
	opacity:0.75;
	filter: alpha(opacity=75);
}
.hdSearch {
}
form.searchbox {
	padding:0;
	border-radius:3px;
	-ms-border-radius:3px;
	border:solid 1px #ccc;
	overflow:hidden;
}
form.searchbox:hover {
	border-color:#999;
}
form.searchbox input {
	border:none !important;
	height:21px !important;
	border-radius:0 !important;
	-ms-border-radius:0 !important;
}
form.searchbox input.submit,
form.searchbox input.submit:hover,
form.searchbox input.submit:active {
	width:24px;
	border-left:solid 1px #ddd !important;
	background:url(../images/icon/search.png) no-repeat center center;
	box-shadow:none;
}
form.searchbox input.submit:hover,
form.searchbox input.submit:active {
	background:#eee url(../images/icon/search.png) no-repeat center center;
}
.hdActivity {
	padding:0 !important;
}
.hdNavi .hdLogout {
	padding-right:0;
	height:24px;
}
.hdLogout input {
	height:23px !important;
	line-height:23px !important;
}
*:first-child+html .hdLogout input {/* IE7 Hack */
	line-height:20px !important;
}
.hdLogout input:hover {
	box-shadow:none !important;
}
.hdUserName a {
	text-decoration:none;
}
.hdUserName .avatar {
	float:left;
	width:23px;
	height:23px;
	margin:0 4px 0 0;
	border-radius:3px;
	-ms-border-radius:3px;
}
img.avatar,
.avatar img {
	border-radius:3px;
	-ms-border-radius:3px;
}

/***************************************************
	activityField
--------------------------------------------------*/
.activityField {
	position:relative;
	width:17px;
	height:23px;
	padding:0 6px;
	cursor:pointer;
	border-radius:3px;
	-ms-border-radius:3px;
}
.activityField:hover {
	background:#eee;
}
.hdActivity div.active {
	background:#e0e0e0;
}
#activitychecker {
	text-align:center;
	position:absolute;
	right:2px;
	top:2px;
	background:url(../images/icon/activitychecker.png) top left no-repeat;
	height:12px;
}
#activitycheckerContainer {
	display:block;
	margin-top:5px;
}
.activitychecker-right {
	float:left;
	display:block;
	height:12px;
	background:url(../images/icon/activitychecker.png) bottom right no-repeat;
	padding:0 4px;
}
.activitychecker-left {
	float:left;
	display:block;
	height:12px;
	padding:0;
	background:#f03d25;
	color:#FFF;
	font-size:8px;
	line-height:12px;
}
/***************************************************
	Popup
--------------------------------------------------*/
.dijitPopup {
	display:block;
	z-index:9999 !important;
	/*background:#FFF;*/
}
.auiPopup,
.activityPopup {
	/*position:absolute;*/
	background:#FFF;
	padding:9px;
	border:1px solid #999;
	border-radius:4px;
	-ms-border-radius:4px;
	box-shadow:0 2px 4px rgba(0,0,0,0.4);
	z-index:9998 !important;
}
.activityPopup {
	width:400px;
	right:0;
	top:0;
}
.auiPopup h2,
#activityListPane h2 {
	padding:0 0 5px;
	border-bottom:solid 1px #ccc;
}
.auiPopup .roundBlockWrapperTop,
.auiPopup .roundBlockTitle,
.auiPopup .roundBlockIcon {
	height:auto !important;
}
.auiPopup table.roundBlockWrapperTop td.roundBlockTitle {
	padding:10px 0 10px 20px;
	background-position:0px 10px;
}
.auiPopup table.roundBlockWrapperTop td.roundBlockIcon {
	padding:10px 0;
	background:none;
}

table.activityTable {
	border:none;
	padding:0;
	border-collapse:collapse;
	width:100%;
	margin-bottom:10px;
}
table.activityTable tr:hover {
	background:#F5F5F5;
}
table.activityTable td {
	padding:3px;
	margin:0;
	border-bottom:#EEE solid 1px;
	vertical-align:top;
}
table.activityTable td.icon {
	width:22px;
	padding:0;
	text-align:right;
	vertical-align:middle;
}
table.activityTable td.name {
	width:100px;
	font-size:85%;
	vertical-align:middle;
}
table.activityTable td.name {
	width:70px;
}
table.activityTable td span.date {
	font-size:85%;
	padding:0 0 3px;
	display:block;
}
table.activityTable tr.unread {
	background:#FFEFE5;
}
table.activityTable tr.unread td {
	font-weight:bold;
}
.activityList {
	width:100%;
	margin-bottom:10px;
}
.activityList li {
	padding:3px;
	margin:0;
	border-bottom:#EEE solid 1px;
	vertical-align:top;
	background:none;
}
.activityList li:hover {
	background:#F5F5F5;
}
.activityList .meta {
	padding:2px 0;
	font-size:85%;
}
.activityList li.unread {
	background:#FFEFE5;
}
.activityList li.unread a {
	font-weight:bold;
}
.rightBtn {
	text-align:right;
	margin:0;
	font-size:10px;
}
/* imgPopup */
.imgPopup {
	position:absolute;
	overflow:hidden;
}
.imgPopup .imgBody {
	text-align:center;
}
.imgPopup img {
	max-width:800px;
	max-height:800px;
}


/***************************************************
	auiListWrapper
--------------------------------------------------*/
.auiListWrapper {
	height:305px;
	overflow-y:auto;
}

/***************************************************
	userList
--------------------------------------------------*/
.userList {
}
.userList li {
	background:none;
	padding:5px 0;
	border-bottom:solid 1px #eee;
}
.userList .avatar {
	height:50px;
	padding-right:10px;
}
.userList .content {
	display:table-cell;
	overflow:hidden;
	vertical-align:middle;
}
.userList .content div {
	display:table-cell;
	*display:inline;
	vertical-align:middle;
	zoom:1;
}

/***************************************************
	footer
--------------------------------------------------*/
#footer {
	position:fixed;
	bottom:0;
	width:100%;
	margin:0;
	font-size:0.9em;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	border-top:solid 1px #999;
	box-shadow:inset 0 1px 5px rgba(0,0,0,0.2);
	background:#666;
	color:#fff;
	overflow:hidden;
	z-index:995;
}
#login #footer {
	position:static;
	border-top:none;
	box-shadow:none;
}
#footer div {
}
#footer a {
	text-decoration:none;
}
#footText,
#footText a {
	color:#fff;
}
#footText a:hover {
	text-decoration:underline;
}
#footText div {
	display:inline;
	height:30px;
	line-height:30px;
	padding:0 1em;
	border-left:solid 1px #ccc;
}
#footer div.copyright {
	text-align:center;
	border-left:none;
}
/***************************************************
	startGuide
--------------------------------------------------*/
#startGuide {
	width:100%;
	height:130px;
	overflow:hidden;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
}
#startGuide a {
	text-decoration:none;
}
#startGuide .close {
	position:absolute;
	right:0;
	padding:20px;
}
#startGuide .close a {
	color:#fff;
}
.guideContents {
	float:left;
	width:189px;
	padding:20px;
	text-align:center;
	border-right:solid 1px #505050;
}
.guideContents p {
	margin:20px 0;
}
/***************************************************
	auiTabs
--------------------------------------------------*/
#auiTabs {
	white-space:nowrap;
	height:25px;
	padding:0;
	margin:0;
	background:#fff url(../images/tab.png) left bottom repeat-x;
}
#auiTabs ul {
	position:relative;
	padding:0 20px;
	margin:0;
	white-space:nowrap;
}
#auiTabs li {
	display:block;
	float:left;
	height:25px;
	padding:0;
	font-size:11px;
	background:none;
}
#auiTabs .tab {
	height:100%;
}
/* basic */
#auiTabs .title {
	float:left;
	height:25px;
	line-height:25px;
	padding-left:20px;
	background:url(../images/tab.png) left -180px no-repeat;
}
#auiTabs .setting {
	float:left;
	height:25px;
	background:url(../images/tab.png) left -270px no-repeat;
}
#auiTabs .setting a {
	margin-top:4px;
}
/* first */
#auiTabs .first .title {
	background:url(../images/tab.png) left -120px no-repeat;
}
/* last */
#auiTabs .last .setting {
	padding-right:20px;
	background:url(../images/tab.png) right -150px no-repeat;
}
/* active */
#auiTabs .active .title {
	background:url(../images/tab.png) left -60px no-repeat;
}
#auiTabs .active .setting {
	background:url(../images/tab.png) left -240px no-repeat;
}
#auiTabs .activeNext {
	padding-left:20px;
	background:url(../images/tab.png) left -90px no-repeat;
}
#auiTabs .activeNext .title {
	padding-left:0;
	background:url(../images/tab.png) left -270px no-repeat;
}
#auiTabs .first .active .title {
	background:url(../images/tab.png) left -0px no-repeat;
}
#auiTabs .last .active {
	padding-right:20px;
	background:url(../images/tab.png) right -30px no-repeat;
}
#auiTabs .last .active .setting {
	padding-right:0;
}
#auiTabs .last .activeNext {
	background:url(../images/tab.png) left -90px no-repeat;
}

#auiTabs .store {
	padding-right:20px;
	background:url(../images/tab.png) right -150px no-repeat;
}

#auiTabs li.selectedMenu {
	height:25px;
	background:url(../images/tab.png) right -25px no-repeat;
	text-decoration:none;
}
#auiTabs li.selectedMenu .title {
	background:url(../images/tab.png) left 0px no-repeat;
}
#auiTabs li.selectedMenu .title a {
	text-decoration:none;
}
#auiTabs li a {
	margin:0 5px;
	white-space:nowrap;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
#auiTabs li.selectedMenu a {
	white-space:nowrap;
	text-decoration:none;
}
#auiTabs li.selectedMenu .menuIcon {
	float:left;
	height:25px;
	background:url(../images/tab.png) right -0px no-repeat;
}
.tooltip_gray {
	display:none;
}
#auiTabs .singleTab {
	height:25px;
	line-height:25px;
	background:url(../images/tab.png) left -100px no-repeat;
}
#auiTabs .singleTab a {
	text-decoration:none;
}

/***************************************************
	MainTab - NO USE - Delete Reserved
--------------------------------------------------
#mainTab {
	white-space:nowrap;
	height:25px;
	padding:0;
	margin:0;
	background:#fff url(../images/tab.png) left bottom repeat-x;
	overflow:hidden;
}
#mainTab ul {
	position:relative;
}
.tabContainer {
	padding:0 20px;
	margin:0;
	white-space:nowrap;
}
.tabContainer li {
	display:block;
	float:left;
	height:25px;
	padding:0 20px 0 0;
	font-size:11px;
	background:url(../images/tab.png) right -75px no-repeat;
}
.tabContainer .menuTitle {
	height:25px;
	line-height:25px;
	background:url(../images/tab.png) left -50px no-repeat;
	float:left;
	padding:0 0 0 20px;
	overflow:hidden;
}
.tabContainer .menuIcon {
	float:left;
	height:25px;
	background:url(../images/tab.png) right -50px no-repeat;
}
.tabContainer .menuIcon a {
	margin-top:4px;
}
.tabContainer li.selectedMenu {
	height:25px;
	background:url(../images/tab.png) right -25px no-repeat;
	text-decoration:none;
}
.tabContainer li.selectedMenu .menuTitle {
	background:url(../images/tab.png) left 0px no-repeat;
}
.tabContainer li.selectedMenu .menuTitle a {
	text-decoration:none;
}
.tabContainer li a.menuList {
	margin:0 5px;
	white-space:nowrap;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
.tabContainer li.selectedMenu a.menuList {
	white-space:nowrap;
}
.tabContainer li.selectedMenu .menuIcon {
	float:left;
	height:25px;
	background:url(../images/tab.png) right -0px no-repeat;
}
.tabContainer li.tooltip_box {
	padding:0;
	background:none;
}
.tooltip_gray {
	display:none;
}
.menuStore:hover .tooltip_gray {
	display:block;
	height:14px;
	width:190px;
	background:url(../images/common/bg_tooltip_gray.gif) top left no-repeat;
	position:absolute;
	top:10px;
	padding:3px 0 8px;
	font-size:10px;
	text-align:center;
}*/

/***************************************************
	auiLogin
--------------------------------------------------*/
#auiLoginBox {
	width:480px;
	margin:85px auto 0 auto;
	padding-bottom:60px;
	background:url(../images/login_foot.png) left bottom no-repeat;
}
#auiLoginInner {
	padding:15px 50px;
	background:url(../images/lobin_body.png) no-repeat;
}
#auiLoginBox .logo {
	text-align:center;
	margin-bottom:50px;
}
#auiLoginBox .field {
	position:relative;
	margin-bottom:10px;
}
#auiLoginBox .guide {
	position:absolute;
	height:2em;
	line-height:2em;
	margin:0.5em 0;
	top:0;
	left:5px;
	color:#999;
}
#auiLoginBox input.text {
	width:100%;
	height:3em;
	*height:1.5em;/*IE6-7Hack*/
	line-height:1.5em;
	padding:0.75em 5px;
	ime-mode:disable;
}
#auiLoginBox select {
	height:3em;
	margin:0;
}
#auiLoginBox select.select1 {
	float:left;
	width:40%;
}
#auiLoginBox select.select2 {
	float:right;
	width:58%;
}
#auiLoginBox input.button {
	width:152px;
	height:43px;
	color:#fff;
	font-size:1.2em;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	border:none;
	background:url(../images/login_btn_back.png) 0px 0px no-repeat;
}
#auiLoginBox input.button:hover {
	box-shadow:none;
	background:url(../images/login_btn_back.png) 0px -50px no-repeat;
}
#auiLoginBox input.button:active {
	background:url(../images/login_btn_back.png) 0px -100px no-repeat;
}
.loginAlert {
	margin-bottom:10px;
	padding:10px;
	background:#ffcccc;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
}
/***************************************************
	dialogTable
--------------------------------------------------*/
.dialogTable {
	margin:15px 0;
	border-top:solid 1px #eee;
	border-collapse:collapse;
}
.dialogTable th,
.dialogTable td {
	padding:10px;
	border-bottom:solid 1px #eee;
}

.dialogTable .caption {
	font-weight:bold;
}
/***************************************************
	AUI Generic Class - Undermost
--------------------------------------------------*/
/* auiSelectButton ********************/
.auiSelectButton {
	padding-right:1px;
	background:#FFF;
}
.auiSelectButton ul {
	margin:0;
	padding:0;
}
.auiSelectButton li,
.auiSelectButton div {
	height:24px;
	overflow:hidden;
	float:left;
	display:block;
	margin:0 -1px 0 0;
	padding:0;
	text-align:center;
	background:url(../images/common/bg_auiselectbutton.gif) 0px -192px repeat-x;
}
.auiSelectButton li:hover {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -216px repeat-x;
}
.auiSelectButton li:active {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -240px repeat-x;
}
.auiSelectButton a {
	display:block;
	text-decoration:none;
	cursor:pointer;
	color:#000;
	border-left:solid 1px #dcdcdc;
	background:url(../images/common/bg_auiselectbutton.gif) 0px -192px repeat-x;
}
.auiSelectButton a:hover {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -216px repeat-x;
}
.auiSelectButton a:active {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -240px repeat-x;
}
.auiSelectButton a span{
	display:block;
	line-height:18px;
	padding:3px 5px;
	color:#000;
}
/* first */
.auiSelectButton li.first {
	border:none;
}
.auiSelectButton a.first {
	border:none;
	background:url(../images/common/bg_auiselectbutton.gif) 0px 0px no-repeat;
}
.auiSelectButton a.first:hover {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -216px repeat-x;
}
.auiSelectButton a.first:active {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -240px repeat-x;
}
.auiSelectButton a.first:hover span {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -24px no-repeat;
}
.auiSelectButton a.first:active span {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -48px no-repeat;
}
/* last */
.auiSelectButton a.last {
	background:url(../images/common/bg_auiselectbutton.gif) right -96px no-repeat;
}
.auiSelectButton a.last:hover {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -216px repeat-x;
}
.auiSelectButton a.last:active {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -240px repeat-x;
}
.auiSelectButton a.last:hover span {
	background:url(../images/common/bg_auiselectbutton.gif) right -120px no-repeat;
}
.auiSelectButton a.last:active span {
	background:url(../images/common/bg_auiselectbutton.gif) right -144px no-repeat;
}
/* btn*/
.auiSelectButton a.btn {
	border:none;
	background:url(../images/common/bg_auiselectbutton.gif) 0px 0px no-repeat;
}
.auiSelectButton a.btn:hover {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -24px no-repeat;
}
.auiSelectButton a.btn:active {
	background:url(../images/common/bg_auiselectbutton.gif) 0px -48px no-repeat;
}
.auiSelectButton a.btn span {
	background:url(../images/common/bg_auiselectbutton.gif) right -96px no-repeat;
}
.auiSelectButton a.btn:hover span {
	background:url(../images/common/bg_auiselectbutton.gif) right -120px no-repeat;
}
.auiSelectButton a.btn:active span {
	background:url(../images/common/bg_auiselectbutton.gif) right -144px no-repeat;
}
/* active */
.auiSelectButton li.active,
.auiSelectButton li.active a,
.auiSelectButton li.active span{
	background:url(../images/common/bg_auiselectbutton.gif) 0px -264px repeat-x;
}
.auiSelectButton li.active a {
	cursor:default;
/*	border-right:solid 2px #f37e00;
	border-left:solid 1px #f37e00;*/
}
.auiSelectButton li.active span {
	color:#fff;
}
.auiSelectButton li.active a.first,
.auiSelectButton li.active a.first:hover,
.auiSelectButton li.active a.first:active,
.auiSelectButton li.active a.first span,
.auiSelectButton li.active a.first:hover span,
.auiSelectButton li.active a.first:active span {
	border-left:none;
	background:url(../images/common/bg_auiselectbutton.gif) 0px -72px no-repeat !important;
}
.auiSelectButton li.active a.last {
	border-right:none;
/*	padding-left:2px;*/
}
.auiSelectButton li.active a.last,
.auiSelectButton li.active a.last:hover,
.auiSelectButton li.active a.last:active,
.auiSelectButton li.active a.last span,
.auiSelectButton li.active a.last:hover span,
.auiSelectButton li.active a.last:active span {
	background:url(../images/common/bg_auiselectbutton.gif) right -168px no-repeat !important;
}
.auiSelectButton .arrow {
	width:25px;
}

/* Widgets Area ********************/
#auiWidgetsArea {
	float:left;
	width:180px;
}
#auiWidgetsArea2 {
	float:right;
	width:180px;
}

.auiWidget {
	clear:both;
	padding:0.8em 0;
	border-bottom:solid 1px #eee;
}
.auiWidget h2 {
	line-height:2em;
}
.auiWidget p {
	margin:0.8em 0;
}
.auiWidget li {
	padding:0;
	background:none;
}
.auiWidget li span {
	display:block;
	line-height:1.8em;
	padding:0.3em 0 0.3em 18px;
	background:url("../images/common/li_icon.gif") no-repeat scroll 5px 1em;
}
.auiWidget li a {
	display:block;
	line-height:1.8em;
	padding:0.3em 0 0.3em 10px;
	text-decoration:none;
	background:none;
	white-space:nowrap;
	overflow:hidden;
}
.auiWidget li a:hover {
	color:#000;
	background:#f6f6f6;
}
.auiWidget li.active>a {
	font-weight:bold;
	background:#f0f0f0;
}
.auiWidget li ul {
	margin:0;
}
.auiWidget li li a,
.auiWidget li li a:hover,
.auiWidget li li.active a {
	padding:0.3em 0 0.3em 36px;
	background-position:23px 1em;
}


/* Contents Area ********************/
#auiContentsArea {
	float:right;
	width:100%;
	margin-left:-200px;
}
#auiContentsAreaInner {
	margin-left:200px;
}
#auiContentsArea h2, h2.caption {
	margin:0 0 0.8em 0;
	padding:1em 0;
	font-size:1.2em;
	border-bottom:solid 1px #eee;
}
#auiThreeClumns {
	float:left;
	width:100%;
	margin-right:-200px;
}
#auiThreeClumnsInner {
	margin-right:200px;
}
#auiThreeColumnWidgets {
	float:right;
	width:180px;
}

/* Wide Area ********************/
#auiWideArea,
#auiWideAreaInner {
	width:100%;
	height:100%;
}


/* auiButton ********************/

.auiButton,
.auiButtonAction,
.auiButtonBold,
.auiButtonDisabled,
.auiButtonSearch,
.auiButtonSmall,
.auiButtonDisabled,
input[type=submit],
input[type=button],
input[type=reset],
button {
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border-radius:2px;
	-ms-border-radius:2px;
}

.auiButton,
.auiButtonBold,
.auiButtonSmall,
input[type=submit],
input[type=button],
input[type=reset],
button {
	color:#000;
	text-shadow:0 1px 0 #f8f8f8;
	border:solid 1px #c0c0c0;
	background:#f0f0f0;
	background:#f0f0f0 url(../images/common/auibutton_back.gif) left top repeat-x;/*IE*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fff, #f0f0f0);
}
.auiButton,
.auiButtonAction,
.auiButtonBold,
.auiButtonDisabled,
.auiButtonSearch {
	height:26px;
	line-height:26px;
	padding:0 0.7em;
}
input[type=submit],
input[type=button],
input[type=reset],
button {
	height:28px;
	line-height:1em;
	padding:0 0.7em;
}
button.auiButton,
button {
	padding:0 0.55em;
	>padding:0 0.15em;/*IE*/
}
.auiButtonSmall {
	padding:0 5px;
	height:16px !important;
	line-height:16px !important;
	font-size:10px;
}
input[type=submit].auiButtonSmall,
input[type=button].auiButtonSmall,
input[type=reset].auiButtonSmall,
button.auiButtonSmall {
	line-height:1em !important;
}
*:first-child+html input[type=submit],
*:first-child+html input[type=button],
*:first-child+html input[type=reset],
*:first-child+html button,
*:first-child+html .auiButtonSmall {/* IE7 Hack */
	padding:0 !important;
}
.auiButton:hover,
.auiButtonBold:hover,
.auiButtonSmall:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset],
button:hover {
	color:#000;
	border:solid 1px #999;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	background:#e0e0e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e1e1e1));/*Ch*/
	background: -moz-linear-gradient(top, #eee, #e1e1e1);/*Fx*/
}
.auiButton:active,
.auiButtonBold:active,
.auiButtonSmall:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset],
button:active {
	border:solid 1px #999;
	box-shadow:0 1px 1px rgba(0,0,0,0);
	background:#ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#eee));/*Ch*/
	background: -moz-linear-gradient(top, #e1e1e1, #eee);/*Fx*/
}
.auiButton span {
	display:table-cell;
	>display:block;
	/*
	height:1.85em;
	line-height:1.85em;
	*/
	height:26px;
	line-height:26px;
	text-align:center;
	vertical-align:middle;
}
.auiButtonSmall span {
	display:table-cell;
	>display:block;
	text-align:center;
	vertical-align:middle;
}
.auiButton img,
.auiButtonSmall img {
	>padding:2px 0;
	display:inline;
	vertical-align:middle;
}

.auiButtonAction {
	color:#fff !important;
	font-weight:bold;
	text-shadow:0 1px 0 #f09000 !important;
	border:solid 1px #f09000 !important;
	background:#ff9900;
	background:#ff9900 url(../images/common/auibuttonaction_back.gif) left top repeat-x !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffbb22), to(#ff9900)) !important;/*Ch*/
	background: -moz-linear-gradient(top, #ffbb22, #ff9900);/*Fx*/
}
.auiButtonBold {
	color:#000;
	text-shadow:0 1px 0 #f8f8f8;
	border:solid 1px #c0c0c0;
	background:#f0f0f0;
	background:#f0f0f0 url(../images/common/auibutton_back.gif) left top repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fff, #f0f0f0);
}
.auiButtonAction:hover {
	color:#fff;
	border:solid 1px #e0800 !important0;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	background:#ffbb22 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc33), to(#ff9900)) !important;/*Ch*/
	background: -moz-linear-gradient(top, #ffcc33, #ff9900);/*Fx*/
}
.auiButtonAction:active {
	border:solid 1px #e08000 !important;
	box-shadow:0 1px 1px rgba(0,0,0,0);
	background:#ff9000 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffbb22)) !important;/*Ch*/
	background: -moz-linear-gradient(top, #ff9900, #ffbb22);/*Fx*/
}

.auiButtonDisabled{
	text-shadow:0 1px 0 #f8f8f8;
	border:solid 1px #c0c0c0;
	color:#999;
	background:#eee;
	cursor:default;
}
.auiButtonDisabled:hover {color:#999}
*:first-child+html .auiButtonDisabled {/* IE7 Hack */
	line-height:2.4em;
}
input[disabled],
textarea[disabled],
button[disabled] {
	color:#999;
	background:#eee;
}
input[disabled]:hover,
textarea[disabled]:hover,
button[disabled]:hover {
	color:#999;
	background:#eee;
	border-color:#c9c9c9;
	cursor:default;
	box-shadow:none;
}
.auiButtonGroup {
	border-radius:10px;
}
.auiButtonGroup .auiButton {
	margin:0 -1px;
	border-radius:0;
	-ms-border-radius:0;
}
.auiButtonGroup .auiButton:hover {
	border:solid 1px #c0c0c0;
}
.auiButtonGroup .left {
	border-radius:2px 0 0 2px;
	-ms-border-radius:2px 0 0 2px;
}
.auiButtonGroup .right {
	border-radius:0 2px 2px 0;
	-ms-border-radius:0 2px 2px 0;
}


/* auiSearch ********************/
.auiSearch {
	position:relative;
}
.auiSearch input.text {
	width:20em;
}
.auiSearch input.date {
	width:7em;
}
.auiButtonSearch {
	color:#000;
	font-weight:bold;
	text-shadow:0 1px 0 #f8f8f8;
	border:solid 1px #d0d0d0;
	background:#ddd;
	background:#ddd url(../images/common/auibuttonsearch_back.gif) left top repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));/*Ch*/
	background: -moz-linear-gradient(top, #eee, #ddd);/*Fx*/
}
*:first-child+html .auiButtonSearch {
	height:26px;
	line-height:26px;
}
.auiButtonSearch:hover {
	color:#000;
	border:solid 1px #999;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	background:#d0d0d0;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#d0d0d0));/*Ch*/
	background: -moz-linear-gradient(top, #eee, #d0d0d0);/*Fx*/
}
.auiButtonSearch:active {
	border:solid 1px #999;
	box-shadow:0 1px 1px rgba(0,0,0,0);
	background:#c0c0c0;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#eee));/*Ch*/
	background: -moz-linear-gradient(top, #d0d0d0, #eee);/*Fx*/
}
.auiSearchOption {
	position:absolute;
	top:28px;
	left:0px;
	width:360px;
	padding:10px;
	border:solid 1px #ccc;
	border-radius:3px;
	-ms-border-radius:3px;
	background:#fff;
	overflow:hidden;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
}
.auiSearchOption .close {
	float:right;
}
.auiSearchOption .element {
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:solid 1px #eee;
}
.auiSearchOption label {
	line-height:2em;
	cursor:default;
}
.auiSearchResult {
	clear:both;
	font-weight:bold;
}
.auiSearchMore {
	line-height:2em;
	margin-bottom:2em;
}

/* auiSummaryMeta ********************/
.auiSummaryMeta {
	width:100%;
	line-height:2em;
	margin:0.8em 0;
	vertical-align:middle;
}
.auiSummaryMeta .count {
	float:left;
	height:24px;
	line-height:24px;
	padding-right:1em;
}
.auiSummaryTitle {
	line-height:2em;
	font-weight:bold;
}

/* auiGridTable ********************/
table.auiGridTable {
	border-collapse:collapse;
}
table.auiGridTable th {
	padding:8px 5px;
	white-space:nowrap;
	border:1px solid #ccc;
	background:#f0f0f0;
}
table.auiGridTable td {
	padding:8px 5px;
	border:1px solid #ccc;
}
table.auiGridTable tr.even {
	background:#f0f0f0 url(../images/common/bg_slash.gif) repeat left top;
}

table.auiGridTable tr.sunday td,
table.auiGridTable tr.sunday th,
table.auiGridTable tr.holiday td,
table.auiGridTable tr.holiday th {
	background:#ffefe5;
}
table.auiGridTable tr.saturday td,
table.auiGridTable tr.saturday th {
	background:#ebf0f6;
}
table.auiGridTable tr.today td,
table.auiGridTable tr.today th {
	background:#e0ffe0;
}

table.auiGridTable tr:hover td,
table.auiGridTable tr:hover th {
	background:#ffffe0;
}

/* auiRowTable ********************/
table.auiRowTable {
	border-spacing:0;
	border-collapse:collapse;
}
table.auiRowTable th {
	padding:8px 5px;
	white-space:nowrap;
	background:#f0f0f0;
	text-align:left;
}
table.auiRowTable td {
	padding:8px 5px;
	border-bottom:solid 1px #eee;
}
table.auiRowTable div {
	width:100%;
	height:1.6em;
	line-height:1.6em;
	min-height:18px;
	overflow:hidden;
}
table.auiRowTable tr.even {
}
table.auiRowTable tr.sunday td,
table.auiRowTable tr.sunday th,
table.auiRowTable tr.holiday td,
table.auiRowTable tr.holiday th {
	background:#ffefe5;
}
table.auiRowTable tr.saturday td,
table.auiRowTable tr.saturday th {
	background:#ebf0f6;
}
table.auiRowTable tr.today td,
table.auiRowTable tr.today th {
	background:#e0ffe0;
}
table.auiRowTable tr:hover td,
table.auiRowTable tr:hover th {
	background:#f5f5f5;
}


/* auiDirectoryList ********************/
.auiDirectoryList {
	margin-bottom:0.8em;
}
.auiDirectoryList div {
	height:2.2em;
}
.auiDirectoryList a {
	display:block;
	width:100%;
	line-height:2.2em;
	height:2.2em;
	text-decoration:none;
	overflow:hidden;
}
.auiDirectoryList a span {
	cursor:pointer;
}
.auiDirectoryList a:hover {
	background:#f6f6f6;
}
.auiDirectoryList .active a {
	font-weight:bold;
	background:#f0f0f0;
}
.auiDirectoryList a:hover span {
	color:#000;
}
.auiDirectoryList .directory {
	display:block;
	line-height:2.2em;
	height:2.2em;
	padding-left:25px;
	background:url(../images/icon/folder_close.gif) 4px 0.3em no-repeat;
}
.auiDirectoryList .open .directory {
	background:url(../images/icon/folder_open.gif) 4px 0.3em no-repeat;
}
.auiDirectoryList .d1 span {}
.auiDirectoryList .d2 span {margin-left:10px;}
.auiDirectoryList .d3 span {margin-left:20px;}
.auiDirectoryList .d4 span {margin-left:30px;}
.auiDirectoryList .d5 span {margin-left:40px;}
.auiDirectoryList .d6 span {margin-left:50px;}
.auiDirectoryList .d7 span {margin-left:60px;}
.auiDirectoryList .d8 span {margin-left:70px;}
.auiDirectoryList .d9 span {margin-left:80px;}
.auiDirectoryList .d10 span {margin-left:90px;}
.auiDirectoryList .d11 span {margin-left:100px;}
.auiDirectoryList .d12 span {margin-left:110px;}
.auiDirectoryList .d13 span {margin-left:120px;}
.auiDirectoryList .d14 span {margin-left:130px;}
.auiDirectoryList .d15 span {margin-left:140px;}
.auiDirectoryList .d16 span {margin-left:150px;}
.auiDirectoryList .d17 span {margin-left:160px;}
.auiDirectoryList .d18 span {margin-left:170px;}
.auiDirectoryList .d19 span {margin-left:180px;}
.auiDirectoryList .d20 span {margin-left:190px;}

/* auiSakuin ********************/
.auiSakuin {
}
.auiSakuin li {
	float:left;
	background:none;
}
.auiWidget .auiSakuin li {
	width:20%;
}

.auiSakuin li.first,
.auiSakuin li.last {
	float:none;
	clear:both;
}
.auiSakuin li a {
	padding:0.5em 0;
	text-align:center;
	background:none;
}
.auiSakuin li a:hover {
	background:#f6f6f6 none;
}
.auiSakuin li.active a {
	background:#f0f0f0 none;
}

/* auiCalendar ********************/
table.auiCalendar {
	width:100%;
	border-collapse:collapse;
}
table.auiCalendar th {
	font-weight:normal;
}
table.auiCalendar th div {
	line-height:24px;
}
table.auiCalendar td {
	text-align:center;
	font-size:11px;
	width:26px;
}
table.auiCalendar .auiButton {
	padding:0 0.7em;
}
table.auiCalendar .sunday {
	background:#fff0f0;
	width:25px;
}
table.auiCalendar .saturday {
	background:#f0ffff;
	width:25px;
}
table.auiCalendar td a {
	padding:1px;
	display:block;
	color:#000;
	text-decoration:none;
}
table.auiCalendar td a:hover {
	background:#ffffe0;
}
table.auiCalendar .out a {
	color:#999;
}
table.auiCalendar .today a {
	background:#e0ffe0;
}
table.auiCalendar .selected a {
	padding:0;
	border:solid 1px #000;
}

/* auiAvatarBlock ********************/
.auiAvatarBlock {
	text-align:center;
}
.auiAvatarBlock .avatar {
}
.auiAvatarBlock .name {
	font-weight:bold;
}
/* auiAvatarList ********************/
.auiAvatarList {
}
.auiAvatarList li a {
	padding:0.3em;
	background:none;
}
.auiAvatarList li.active a {
	background:#f0f0f0 none;
}

.auiAvatarList li a img {
	vertical-align:middle;
	margin-right:5px;
	border-radius:3px;
	-ms-border-radius:3px;
}

/* auiBlogEntry ********************/
#auiBlogEntries {
	padding-top:1em;
	border-top:solid 1px #eee;
}
#auiBlogEntries .avatar {
	float:left;
}
#auiBlogEntries .entry {
	margin:0 0 1em 0;
	border-bottom:solid 1px #eee;
}
.entryBody {
	margin-left:60px;
}
.dojoDndItem .entryBody {
	margin-left:40px;
}
.entryHeader {
	padding:0 0 1em 0;
}
.entryFooter {
	padding:1em 0;
}
.dojoDndItem .entryHeader {
	padding:0 0 0.5em 0;
}
.dojoDndItem .entryFooter {
	padding:0.5em 0;
}
.dojoDndItem .entryFooter {
	font-size:8pt;
}

/* auiMail ********************/
.auiMailSummaryExcerpt {
	color:#999;
}

/* auiForm ********************/
.auiForm,
form {
	margin:0;
	padding:0;
}
input,
textarea,
select {
	margin:0;
	vertical-align:middle;
}
textarea,
select {
	margin:1px 0;
	border:solid 1px #ccc;
	border-radius:2px;
	-ms-border-radius:2px;
}
input[type=text],
input[type=password] {
	/*height:26px;*/
	line-height:26px;
	padding:0 2px;
	vertical-align:middle;
	border-radius:3px;
	-ms-border-radius:3px;
	border:1px solid #c9c9c9;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color:#fff;
}
select {
	padding:0.25em;
}

form textarea {
	border-radius:3px;
	-ms-border-radius:3px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color:#fff;
}
input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
	border:solid 1px #999;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
}
input[type=checkbox],
input[type=radio] {
	height:auto;
}
.inlineCheckbox,
.inlineRadio {
	line-height:1em;
	margin-bottom:1px
}
.inlineLabel {
	line-height:1em;
	vertical-align:baseline;
}

/* fileupload **************************/
ul.attachments{
	margin:5px 0;
}
ul.attachments >li{
	list-style: none;
	background:none;
	padding:0;
}
ul.attachments span.deletebutton{
	margin-left:10px;
	cursor:pointer;
	text-decoration: underline;
	color: #1B1B1B;
}
ul.attachments span.deletebutton:hover{
	text-decoration:none;
	color: #F90;
}

/* auiSubmenu ********************/
.auiSubmenu {
	padding-right:5px;
}
.auiSubmenu li {
	padding:0;
	background:none;
}
.auiSubmenu li span {
	display:block;
	line-height:1.8em;
	padding:0.3em 0 0.3em 18px;
	background:url("../images/common/li_icon.gif") no-repeat scroll 5px 1em;
}
.auiSubmenu li a {
	display:block;
	line-height:1.8em;
	padding:0.3em 0 0.3em 18px;
	text-decoration:none;
	background:url("../images/common/li_icon.gif") no-repeat scroll 5px 1em;
}
.auiSubmenu li a:hover {
	color:#000;
	background:#f6f6f6 url("../images/common/li_icon.gif") no-repeat scroll 5px 1em;
}
.auiSubmenu li.active a {
	font-weight:bold;
	background:#f0f0f0 url("../images/common/li_icon.gif") no-repeat scroll 5px 1em;
}
.auiSubmenu li ul {
	margin:0;
}
.auiSubmenu li li a,
.auiSubmenu li li a:hover,
.auiSubmenu li li.active a {
	padding:0.3em 0 0.3em 36px;
	background-position:23px 1em;
}

/* timeline ********************/
#timelineOuter .message {
	clear:both;
	border-top: 1px solid #dcdcdc;
}
#timelineOuter .on {
	border-top: 1px solid #999999;
}

#timelineOuter #inputField,
#timelineOuter .outer {
	border-radius:3px;
	-ms-border-radius:3px;
	border: 1px #cdcdcd solid;
	background:#fff;
	overflow:hidden;
}
#timelineOuter #inputField {
	margin-bottom: 10px;
}
#timelineOuter .outer {
	padding: 3px;
	margin:0 0 5px 0;
}
#timelineOuter textarea {
	border:none;
	border-radius:0;
	-ms-border-radius:0;
}
#timelineOuter textarea:focus {
	box-shadow:none;
}
#timelineOuter textarea.elastic {
	width: 99%;
	overflow: hidden;
	resize: none;
	outline: 0;
	line-height: normal;
	height: 21px;
	-webkit-appearance: caret;
}
.tlInputMention {
	padding:4px;
}
.tlInputAttachment {
	border-top:dotted 1px #e0e0e0;
	margin-top:5px;
	padding:10px 6px;
}
.tlInputControls {
	border-top:solid 1px #e6e6e6;
	padding:4px;
	background:#f0f0f0;
}

.timeline {
	margin-top:10px;
	overflow:hidden;
}
.timeline .avatar {
	float:left;
	margin:10px 10px 0 0;
}
.timeline .messageContents {
	padding-left:60px;
	margin:10px 0;
}
.timeline .comments {
	margin:0 0 10px 60px;
	background:#f0f0f0;
}
.timeline .comments .messageContents {
	padding-left:42px;
	margin:0;
}
.timeline .comments .avatar {
	margin:0 10px 0 0;
}
.messageContents .name {
	/*color: #369;*/
	font-weight: bold;
	padding-right: 5px;
}
.messageContents .body {
	padding:3px 0;
}

.messageContents .time {
	font-size: 80%;
	*font-size: 75%;
	color: #434343;
}
.tlActivity,
.tlActivity a {
	color:#666666;
	font-size:11px;
}
.tlActivity .messageContents {
	display:table-cell;
	padding-left:0px !important;
	line-height:20px;
}
.tlActivity .messageContents div {
	display:inline;
	padding:0;
}


.timeline .commentCaption {
	padding:3px 5px;
	font-size:smaller;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e6e6e6;
}
.timeline .comments .message {
	margin:0;
	padding:5px !important;
	border: none;
	border-bottom:solid 1px #e6e6e6;
	border-top:solid 1px #fff !important;
}
.timeline .timeline {
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}
/* tlImageBox */
.tlImageBlock {
	margin:10px 0;
}
.tlImageBlock img {
	max-width:200px;
	max-height:200px;
	padding:4px;
	border:solid 1px #cccccc;
}
.tlImageBlock a:hover img {
	border:solid 1px #ff9900;
}

/* clipBloard */
.tlClipBoard {
	margin:10px 0;
}
.tlClipImage {
	float:left;
	max-width:90px;
	max-height:90px;
	margin-right:10px;
	text-align:center;
}
.tlClipImage img {
	max-width:90px;
	max-height:90px;
}
.tlClipContents {display:table-cell}
.tlClipTitle {font-size:12px;}
.tlClipUrl {font-size:10px;}
.tlClipBody {padding-top:5px;color:#666666;}

.name .avatar {
	float:left;
	width:23px;
	height:23px;
	margin:0 4px 0 0;
	border-radius:3px;
	-ms-border-radius:3px;
}
#timelineOuter #newMessage {
	background: #f0f0f0;
	text-align: center;
	border: 1px #cdcdcd solid;
	border-radius:3px;
	-ms-border-radius:3px;
}
.timeline .readMore {
	margin-top: 10px;
	background: #f0f0f0;
	text-align: center;
	border: 1px #cdcdcd solid;
	border-radius:3px;
	-ms-border-radius:3px;
}
#timelineOuter #newMessage a,
.timeline .readMore a {
	display:block;
	padding: 3px;
}
.timeline .message .more {
	line-height:1.6;
}

.timeline .commentInputDummy {
	padding:5px;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e6e6e6;
}
.timeline .commentInputDummy span {
	display:block;
	padding:5px;
	border: 1px #cdcdcd solid;
	color: #aaaaaa;
	cursor: text;
	background:#fff;
	border-radius:3px;
	-ms-border-radius:3px;
}
.timeline .commentField {
	padding:5px;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e6e6e6;
}
.timeline .commentField form {
	padding-left:42px;
}
.timeline .text_exposed_show.ellipsis{
	display:none;
}
.timeline .message .more.opened{
	display:none;
}
.iconLike,
.iconComment {
	display:inline-block;
	width:14px;
	height:14px;
	vertical-align:middle;
	background:url('../images/icon/social_icons.gif') no-repeat;
}
.iconLike {background-position:-2px -2px;}
.iconComment {background-position:-2px -17px;}

/* table Class */
tr.disabled th, tr.disabled td {
	background:#f6f6f6;
	color:#666666;
}
tr.disabled a {
	color:#666666;
}

/* auiIcon ********************/
/*
auiIconは「class="auiIcon auiIconSetting"」と
ベースクラスとサブクラスを同時に付与させること。

基本形（リンク版）：<a href="#" class="auiIcon auiIconSetting"><span>設定</span></a>
基本形（span版）：<span class="auiIcon auiIconSetting"><span>設定</span></span>

auiIconでアイコンの形状全てを一元管理し
サブクラスはあくまで背景位置の変更のみを行う。

IE6は透過PNGが利用できないため透過GIFへ置き換えている。
そのためバリを表示させないためhoverアクションを封じる。
*/
.auiIcon {
	display:block;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	border-radius:2px;
	-ms-border-radius:2px;
	vertical-align:middle;
	background:url(../images/icon/auiIconSprites.png) no-repeat;
}
*html .auiIcon {background:url(../images/icon/auiIconSprites.gif) no-repeat;}
.auiIcon span {display:none;}

a.auiIcon:hover {background-color:#999;}
*html a.auiIcon:hover {background-color:transparent;}/*IE6*/

.auiIconSetting {background-position:0px 0px;}
.auiIconSetting_w {background-position:0px -16px;}
a.auiIconSetting:hover {background-position:0px -16px;}
*html .auiIconSetting {background-position:0px 0px;}/*IE6*/
*html a.auiIconSetting:hover {background-position:0px 0px;}/*IE6*/

.auiIconFile {background-position:0px -32px;}
.auiIconFile_w {background-position:0px -48px;}
a.auiIconFile:hover {background-position:0px -48px;}
*html .auiIconFile {background-position:0px -32px;}/*IE6*/
*html a.auiIconFile:hover {background-position:0px -32px;}/*IE6*/

.auiIconUser {background-position:0px -64px;}
.auiIconUser_w {background-position:0px -80px;}
a.auiIconUser:hover {background-position:0px -80px;}
*html .auiIconUser {background-position:0px -64px;}/*IE6*/
*html a.auiIconUser:hover {background-position:0px -64px;}/*IE6*/

.auiIconCreate {background-position:0px -96px;}
.auiIconCreate_w {background-position:0px -112px;}
a.auiIconCreate:hover {background-position:0px -112px;}
*html .auiIconCreate {background-position:0px -96px;}/*IE6*/
*html a.auiIconCreate:hover {background-position:0px -96px;}/*IE6*/

.auiIconClock {background-position:0px -128px;}
.auiIconClock_w {background-position:0px -144px;}
a.auiIconClock:hover {background-position:0px -144px;}
*html .auiIconClock {background-position:0px -128px;}/*IE6*/
*html a.auiIconClock:hover {background-position:0px -128px;}/*IE6*/

.auiIconCalendar {background-position:0px -160px;}
.auiIconCalendar_w {background-position:0px -176px;}
a.auiIconCalendar:hover {background-position:0px -176px;}
*html .auiIconCalendar {background-position:0px -160px;}/*IE6*/
*html a.auiIconCalendar:hover {background-position:0px -160px;}/*IE6*/

.auiIconLock {background-position:0px -192px;}
.auiIconLock_w {background-position:0px -208px;}
a.auiIconLock:hover {background-position:0px -208px;}
*html .auiIconLock {background-position:0px -192px;}/*IE6*/
*html a.auiIconLock:hover {background-position:0px -192px;}/*IE6*/

.auiIconReload {background-position:0px -224px;}
.auiIconReload_w {background-position:0px -240px;}
a.auiIconReload:hover {background-position:0px -240px;}
*html .auiIconReload {background-position:0px -224px;}/*IE6*/
*html a.auiIconReload:hover {background-position:0px -224px;}/*IE6*/

.auiIconPrint {background-position:0px -256px;}
a.auiIconPrint:hover {background-position:0px -256px;}
*html .auiIconPrint {background-position:0px -256px;}/*IE6*/
*html a.auiIconPrint:hover {background-position:0px -256px;}/*IE6*/

.auiIconDelete {background-position:0px -272px;}
.auiIconDelete_w {background-position:0px -288px;}
a.auiIconDelete:hover {background-position:0px -288px;}
*html .auiIconDelete {background-position:0px -272px;}/*IE6*/
*html a.auiIconDelete:hover {background-position:0px -272px;}/*IE6*/

.auiIconPlus {background-position:0px -304px;}
.auiIconPlus_w {background-position:0px -320px;}
a.auiIconPlus:hover {background-position:0px -320px;}
*html .auiIconPlus {background-position:0px -304px;}/*IE6*/
*html a.auiIconPlus:hover {background-position:0px -304px;}/*IE6*/

.auiIconMinus {background-position:0px -336px;}
.auiIconMinus_w {background-position:0px -352px;}
a.auiIconMinus:hover {background-position:0px -352px;}
*html .auiIconMinus {background-position:0px -336px;}/*IE6*/
*html a.auiIconMinus:hover {background-position:0px -336px;}/*IE6*/

.auiIconArwLeft {background-position:0px -368px;}
.auiIconArwLeft_w {background-position:0px -384px;}
a.auiIconArwLeft:hover {background-position:0px -384px;}
*html .auiIconArwLeft {background-position:0px -368px;}/*IE6*/
*html a.auiIconArwLeft:hover {background-position:0px -368px;}/*IE6*/

.auiIconArwRight {background-position:0px -400px;}
.auiIconArwRight_w {background-position:0px -416px;}
a.auiIconArwRight:hover {background-position:0px -416px;}
*html .auiIconArwRight {background-position:0px -400px;}/*IE6*/
*html a.auiIconArwRight:hover {background-position:0px -400px;}/*IE6*/

.auiIconArwBottom {background-position:0px -432px;}
.auiIconArwBottom_w {background-position:0px -448px;}
a.auiIconArwBottom:hover {background-position:0px -448px;}
*html .auiIconArwBottom {background-position:0px -432px;}/*IE6*/
*html a.auiIconArwBottom:hover {background-position:0px -432px;}/*IE6*/

.auiIconArwTop {background-position:0px -464px;}
.auiIconArwTop_w {background-position:0px -480px;}
a.auiIconArwTop:hover {background-position:0px -480px;}
*html .auiIconArwTop {background-position:0px -464px;}/*IE6*/
*html a.auiIconArwTop:hover {background-position:0px -464px;}/*IE6*/

.auiIconImage {background-position:0px -496px;}
.auiIconImage_w {background-position:0px -512px;}
a.auiIconImage:hover {background-position:0px -512px;}
*html .auiIconImage {background-position:0px -496px;}/*IE6*/
*html a.auiIconImage:hover {background-position:0px -496px;}/*IE6*/

.auiIconUsers {background-position:0px -528px;}
.auiIconUsers_w {background-position:0px -544px;}
a.auiIconUsers:hover {background-position:0px -544px;}
*html .auiIconUsers {background-position:0px -528px;}/*IE6*/
*html a.auiIconUsers:hover {background-position:0px -528px;}/*IE6*/

.auiIconSearch {background-position:0px -560px;}
.auiIconSearch_w {background-position:0px -576px;}
a.auiIconSearch:hover {background-position:0px -576px;}
*html .auiIconSearch {background-position:0px -560px;}/*IE6*/
*html a.auiIconSearch:hover {background-position:0px -560px;}/*IE6*/

/* auiAbsLayer ********************/
.auiAbsLayer {
	position:absolute;
	background:#fff;
	border:solid 1px #c9c9c9;
	border-radius:3px;
	-ms-border-radius:3px;
	z-index:999;
}
.auiAbsLayer:hover {
	border:solid 1px #999;
}
.relative {
	position:relative;
}

/* auiNoData ********************/
.auiNoData {
	text-align:center;
}

/* CSS3 transition ********************/
@-webkit-keyframes fadeIn {
	0% {
		filter: alpha(opacity=0);
		-moz-opacity:0;
		opacity:0;
	}
	100% {
		filter: alpha(opacity=100);
		-moz-opacity:1;
		opacity:1;
	}
}
