#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<!-- Start Contents Area -->
#AUIcontentsAreaHeader()
<div class="auiSummaryMeta clearfix">
	<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!{portlet.ID}" "&nbsp;")</div>
</div>
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('SurveyList')
#if($result.List.size() == 0)
<div class="message">指定された条件に該当するアンケートはありません。</div>
#else
#AUISummaryDiv()
#AUIsearchresult($result.targetKeyword.toString())
#AUIajaxpageview('SurveyListScreen' $result)
#AUISummaryDivfooter()

#AUIrowMTableWide()
<tr>
#ALtdhead("#ALajaxsort('name' 'タイトル' $result 'SurveyListScreen')")
#ALtdhead("#ALajaxsort('user_id' '作成者' $result 'SurveyListScreen')")
#ALtdhead("#ALajaxsort('create_date' '作成日' $result 'SurveyListScreen')")
#ALtdhead("#ALajaxsort('close_date' '回答期日' $result 'SurveyListScreen')")
#if($!result.ListMode == 'created')
	#ALtdhead("回答数")
	#ALtdhead("#ALajaxsort('close_flag' '状態' $result 'SurveyListScreen')")
#else
	#ALtdhead("#ALajaxsort('response_flag' '回答状況' $result 'SurveyListScreen')")
#end
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","SurveyResponseFormScreen").addQueryData('entityid', $record.SurveyId))', '$!portlet.ID', aipo.survey.onLoadSurveyDetail);">
$record.Name
</a>
</div>
#ALtdcellfooter()
#ALtdcell("<div>$!{record.CreateUser.AliasName}</div>")
#ALtdcellAtt("<div>$!record.CreatedDate</div>" 'class="mb_hide"')
#ALtdcellAtt("<div>$!record.CloseDate</div>" 'class="mb_hide"')

#if($!result.ListMode == 'created')
	#ALtdcellAtt("<div>$!record.ResponseRate</div>" 'class="mb_hide" nowrap="nowrap"')
	#ALtdcellAtt("<div>$!record.CloseFlag</div>" 'class="mb_hide" nowrap="nowrap"')
#else	
	#ALtdcellAtt("<div>$!record.ResponseFlag</div>" 'class="mb_hide" nowrap="nowrap"')
#end
</tr>
#end
#AUItablefooter()

#AUISummaryDiv()
#AUIajaxpageview('SurveyListScreen' $result)
#AUISummaryDivfooter()
#end
</form>
#################################
##
#################################
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/survey-widgets.vm")