#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "回答する")
#set ($event_submit = "eventSubmit_doSurvey_insert")
#set ($subtitle = "アンケート詳細")
#set ($indicator_id = "indicator-dlg-")
#ALdialogheader($subtitle)

#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")

<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("surveyForm" $jslink $portlet "SurveyResponseFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.survey.onReceiveMessage);return false;")
<input type="hidden" name="entityid" value="$!result.Detail.SurveyId" />
#ALtableheaderWide()
#ALtdcaption("タイトル")
#ALtditemheader()
$!result.Detail.Name
#ALtditemfooter()
#ALtdcaption("作成者")
#ALtditemheader()
$!result.Detail.CreateUser.AliasName
#ALtditemfooter()
#ALtdcaption("回答期日")
#ALtditemheader()
$!result.Detail.CloseDate
#ALtditemfooter()
#ALtdcaption("内容")
#ALtditemheader()
$!result.Detail.Comment
#ALtditemfooter()
#ALtdcaption("#ALrequired('回答項目')")
#ALtditemheader()
#foreach ($map in $!result.Options.entrySet())
#if($!result.Detail.OptionType.Value == "M")
<div class="mh10"><label for="svcheck$map.key"><input #if($!result.OldResponses.contains($map.key)) checked="checked" #end type="checkbox" name="responses[]" value=$map.key id="svcheck$map.key"> $map.value</label></div>
#else
<div class="mh10"><label for="svcheck$map.key"><input #if($!result.OldResponses.contains($map.key)) checked="checked" #end type="radio" name="responses[]" value=$map.key id="svcheck$map.key"> $map.value</label></div>	
#end
#end
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="回答する" onclick="aimluck.io.setHiddenValue(this);">
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
