#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","SurveyFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
#AUIbuttonAction("アンケートを作成する" "javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.survey.onLoadSurveyDialog);")
</div>
<div class="auiWidget clearfix">
    <ul>
    <li #if($!result.ListMode == 'opened')class="active"#end>
    <a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","SurveyListScreen").addQueryData("listmode", "opened"))','$!portlet.ID');">受付中のアンケート</a></li>
    </ul>
    <ul>
    <li #if(($!result.ListMode == 'closed'))class="active"#end>
    <a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","SurveyListScreen").addQueryData("listmode", "closed"))','$!portlet.ID');">終了したアンケート</a></li>
    </ul>
</div>

<div class="auiWidget clearfix">
    <ul>
    <li #if($!result.ListMode == 'created')class="active"#end>
    <a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","SurveyListScreen").addQueryData("listmode", "created"))','$!portlet.ID');">作成したアンケート</a></li>
    </ul>
</div>

</div>

