#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($newUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WikiFormScreen").addQueryData("entityid","new")))
#set ($categoryUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','WikiListScreen').addQueryData('reset_params','true')))

## ---------------------------------------------------------------------------
<div id="auiWidgetsArea">
    <div class="auiWidget clearfix widgetButton">
		#if($!result.isTop())
        #AUIbutton($l10n.WIKI_CREATE "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.wiki.onLoadWikiDialog);")
		#else
        #AUIbuttonAction($l10n.WIKI_CREATE "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.wiki.onLoadWikiDialog);")
		#end
	</div>
    <div id="subNavigation">
        <div class="auiWidget clearfix">
            <ul>
				#foreach($record in $!result.TopWikiList )
				<li #if ("$!result.CategoryId" == "$!record.Id.toString()" && !$!result.isTop()) class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WikiViewScreen").addQueryData("filtertype","category").addQueryData("filter",$!record.Id).addQueryData("reset_params","true").addQueryData("entityid",$record.Id))','$!portlet.ID');">$!{record.Name}</a></li>
				#end
            </ul>
            <div style="margin:0.5em 0;">
                <a href="javascript:void(0)" onclick="aipo.viewPage('$categoryUrl', '$!portlet.ID')">${l10n.WIKI_MANAGEMENT}</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="marking_widgets_exist" value="true"/>
