#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($linkCompany = $!jslink.getPortletById($!portlet.ID).addQueryData("template","SystemCompanyFormScreen").addQueryData("entityid","1"))
#set($linkWebmailOption = $!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemWebMailSettingsFormScreen').addQueryData('entityid', 'edit'))
#set($linkWebmailAccount = $!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_mailaccount_form','1').addQueryData('template','SystemWebMailAdminFormScreen'))
#set($linkSampleDelete = $!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemDeleteSampleFormScreen').addQueryData('portlet_id',$!{portlet.ID}))
## ---------------------------------------------------------------------------

#AUISummaryDiv()
#AUIconfigheader($!{portlet.ID} "14em")
#AUIconfigitem("会社情報を変更する" $linkCompany)
#AUIconfigitem("メール通知を設定する" $linkWebmailOption)
#AUIconfigitem("メールアカウントを設定する" $linkWebmailAccount)
#AUIconfigitem("サンプルデータを削除する" $linkSampleDelete)
#AUIconfigfooter()
#AUISummaryDivfooter()

#if((!$config.getString("aipo.asp")) || ($config.getString("aipo.asp") != "true"))
<div style="p">
<h3>社内からのアクセス</h3>
社内から『${alias}』 にアクセスするためのアドレスです。社内のユーザーには、このアドレスをご連絡ください。
#ALformheader('internal' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaptionheader()
${alias}サイト（社内）
#ALtdcaptionfooter()
#ALtditem("$!result.Detail.LocalUrl")
#ALtdcellheaderAtt("align='center' colspan='2'")
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemNetworkFormScreen').addQueryData('mode','local')" "$!portlet.ID" 'aipo.system.onLoadNetworkInfoDialog')
#ALtdcellfooter()
#ALtablefooter()
#ALformfooter()
</div>
#end
<br />
<h3>社外からのアクセス</h3>
社外から『${alias}』 にアクセスするためのアドレスです。社外のユーザーには、このアドレスをご連絡ください。
#ALformheader('network' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaptionheader()
${alias}サイト（社外）
#ALtdcaptionfooter()
#ALtditem("$!result.Detail.GlobalUrl")
<tr>
#ALtdcellheaderAtt("align='center' colspan='2'")
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemNetworkFormScreen').addQueryData('mode','global')" "$!portlet.ID" 'aipo.system.onLoadNetworkInfoDialog')
#ALtdcellfooter()
</tr>
#ALtablefooter()
#ALformfooter()
