#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
##set ($menulist_webmail = [["受信ﾄﾚｲ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1')"], ["送信ﾄﾚｲ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1')"], ["ﾒｰﾙ作成", ""]])
##set ($menulist = [$menulist_webmail])
##cell_menulist($career 'Webﾒｰﾙ' $menulist)
#set($title = 'ﾒｰﾙｱｶｳﾝﾄ')
#set ($list = $result.List)
#ALcell_pagetitle($career $title)
#if ($list.size() == 0)
<div class="message">ﾒｰﾙｱｶｳﾝﾄが未登録です。</div>
#else
#if($career == "vodafone")
<dl>
#foreach($menulist in $list)
#set($menulistlen = $menulist.size() - 1)
${menulist.AccountName}#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_receive_mails','1').addQueryData('accountid',${menulist.AccountId})">ﾒｰﾙ受信</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('accountid',${menulist.AccountId})">受信ﾄﾚｲ</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('accountid',${menulist.AccountId})">送信ﾄﾚｲ</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('accountid',${menulist.AccountId})">ﾒｰﾙ作成</a>#ALcell_br($career)
#end
</dl>
#else
<ul>
#foreach($menulist in $list)
#set($menulistlen = $menulist.size() - 1)
#ALcell_li_header($career)
${menulist.AccountName} #if(${menulist.AccountType.Value} == "1") (標準) #end
#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_receive_mails','1').addQueryData('accountid',${menulist.AccountId})">ﾒｰﾙ受信</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('accountid',${menulist.AccountId})">受信ﾄﾚｲ</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('accountid',${menulist.AccountId}).addQueryData('tab', 'sent')">送信ﾄﾚｲ</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('accountid',${menulist.AccountId})">ﾒｰﾙ作成</a>#ALcell_br($career)

#ALcell_li_footer($career)
#end
</ul>
#end
#end

#ALcell_hr($career '1')
#ALtdcellFooterLink($career)

