#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [["祝日一覧", "",""]])
#set($indicator_id = "indicator-list-")
#set($default_format_url = $!jslink.getPortletById($!portlet.ID).addQueryData('template','HolidayFormJSONScreen').addQueryData('mode','default_format'))
#set($increment_year_url = $!jslink.getPortletById($!portlet.ID).addQueryData('template','HolidayFormJSONScreen').addQueryData('mode','increment_year'))
#set($decrement_year_url = $!jslink.getPortletById($!portlet.ID).addQueryData('template','HolidayFormJSONScreen').addQueryData('mode','decrement_year'))
## ---------------------------------------------------------------------------
#ALtabheader($tabs "")
#ALspacebothheader()
<div id="listMessageDiv"></div>
#ALajaxlistformheader('祝日')

<table border="0" cellspacing="0" cellpadding="2">
<tr valign="middle"><td>
<input type="image" src="themes/$!theme/images/icon/arrow_left.gif" onclick="aipo.holiday.changeYear(this, '$utils.escapeXML($decrement_year_url)', '${indicator_id}', '$!portlet.ID')" style="cursor:pointer"/>&nbsp;
</td><td nowrap="nowrap" class="center"><span style="font-weight:bold">
$!result.ViewedHolidayYear 年&nbsp;
</span></td><td>
<input type="image" src="themes/$!theme/images/icon/arrow_right.gif" onclick="aipo.holiday.changeYear(this, '$utils.escapeXML($increment_year_url)', '${indicator_id}', '$!portlet.ID')" style="cursor:pointer"/>&nbsp;
</td><td>
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</td></tr></table>

#if($result.List.size() == 0)
<div class="message">指定された条件に該当する祝日はありません。</div>
#else
#ALajaxpageview('HolidayListScreen' $result)
#ALtableheaderWide()
<tr>
#ALtdheadThin("#ALswitchCheckbox()")
#ALtdhead("#ALajaxsort('holiday_date' '日付' $result 'HolidayScreen')")
#ALtdhead("祝日名")
#ALtdheadThin(' ')
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.HolidayId' type='checkbox' value='$!record.HolidayId'/>" 'align="center"')
#ALtdcellAtt($!record.HolidayDate 'nowrap="nowrap"')
#ALtdcellAtt($!record.HolidayName '')
#ALtdcellAtt("#ALajaxbuttonLinkCallback('編集' $!jslink.getPortletById($!portlet.ID).addQueryData('template','HolidayFormScreen').addQueryData('entityid', $!record.HolidayId) 'images/icon/icon_edit.gif' '$!portlet.ID' 'aipo.holiday.onLoadHolidayDialog')" 'nowrap="nowrap"')
</tr>
#end
#ALtablefooter()
#ALbuttonheaderRight()
選択した祝日を
#ALajaxbuttonCheckboxDelete('削除する' "$!jslink.getPortletById($!portlet.ID).addQueryData('template','HolidayFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.holiday.onListReceiveMessage")
#ALbuttonfooterRight()
#ALajaxpageviewFooter('HolidayListScreen' $result)
#end
#ALbuttonheaderRight()
表示している年の祝日を
#ALbutton('default_format' 'デフォルトに戻す' "aipo.holiday.defaultFormat(this, '$utils.escapeXML($default_format_url)', '${indicator_id}', '$!portlet.ID')")
#ALbuttonfooterRight()

#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
