#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($action_str = $l10n.GADGETS_UPDATE)
#set ($subtitle = $l10n.GADGETS_APP_EDIT)
#set ($event_submit = "eventSubmit_doTimelineAdmin_update")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("timlineAdminForm" $jslink $portlet "TimelineAdminJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveAdminMessage)")
<input type="hidden" name="mode" value="update" />
#ALtableheaderWide()

#ALtdcaption($l10n.GADGETS_TITLE)
#ALtditemheader()
$!result.Detail.Title
#ALtditemfooter()
#ALtdcaption($l10n.GADGETS_APP_DESCRIPTION)
#ALtditem($!result.Detail.Description)
#ALtdcaption($l10n.TIMELINE_UPDATE_DISPLAY)
#ALtditemheader()
  <p><input class="mt0" name="enabled_activity" type="radio" value="T" id="enabled_activity_on" #if ($!{result.enabledActivityFlag.toString()}  == "T")checked="checked"#end>
  <label for="enabled_activity_on">&nbsp;$l10n.TIMELINE_DO_VALID</label></p>
  <p><input class="mt0" name="enabled_activity" type="radio" value="F" id="enabled_activity_off" #if ($!{result.enabledActivityFlag.toString()}  == "F")checked="checked"#end>
  <label for="enabled_activity_off">&nbsp;$l10n.TIMELINE_DO_INVALID</label></p>
#ALtditemfooter()

#ALtablefooter()

#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
