#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($nextrows = $result.RowsNum + 20)
#set ($record = $result.Detail)
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS("タイムライン詳細" "aipo.timeline.hideDialog()")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="timelineOuter">
  <div id="content">
    <div id="message$!{record.TimelineId}" class="message">
      <div class="floatLeft mr10">
      #if(${record.hasPhoto()})
        <img style="border-radius: 3px;" src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record.OwnerId}))" alt="${record.OwnerName}" width="50" height="50" />
      #else
        <img style="border-radius: 3px;" src="images/common/avatar_default3.png" alt="${record.OwnerName}" width="50" height="50" />
      #end
      </div>
      <div class="name">$!record.OwnerName</div>
      <div class="body">$!record.Note</div>
      <div class="time">$!{record.CreateDate}
      &nbsp;
	  #if(${record.isLike()})
		<form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
          <input type="hidden" name="secid" value="$secid" />
	      <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'dislike');dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">いいね！を取り消す</a>
        </form>
      #else
	    <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
          <input type="hidden" name="secid" value="$secid" />
	      <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'like');dojo.byId('likeForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">いいね！</a>
        </form>
	  #end
	  &nbsp;
	  <a href="javascript:void(0)" onclick="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId})">コメントする</a>
      #if($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}))
	    <form style="display:inline" name="deleteForm_$!{portlet.ID}_$!{record.TimelineId}" id="deleteForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen')" method="post" onsubmit="aimluck.io.disableForm(this, true);return false;">
          <input type="hidden" name="_name" value="発言" />
          <input type="hidden" name="secid" value="$secid" />
          #set ($deleteSubmit = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$record.TimelineId).addQueryData('mode', 'delete')))
		  &nbsp;
          <a href="javascript:void(0)" onclick="aimluck.io.ajaxDeleteSubmit(dojo.byId('dummy_$!{portlet.ID}_$!{record.TimelineId}'), '$deleteSubmit', '$indicator_id', '$!portlet.ID', aipo.timeline.onReceiveMessage);">削除する</a>
          <input type="hidden" id="dummy_$!{portlet.ID}_$!{record.TimelineId}" value="" />
		</form>
	  #end
	  </div>

    </div>
    <div id="comments_$!{portlet.ID}_$!{record.TimelineId}" class="comments">
	#if($record.LikeList.size() > 0)
	  <div id="like_$!{record.TimelineId}" class="commentCaption">
	    <span class="iconLike"></span>
		${record.LikeList.size()}人が「いいね！」と言っています。
	  </div>
	#end
    #if($record.ReplyCountInteger > 2)
      <div id="commentCaption_$!{portlet.ID}_$!{record.TimelineId}" class="commentCaption">
      <span class="iconComment"></span>
      <a href="javascript:void(0)" onclick="aipo.timeline.showCommentAll('$!{portlet.ID}', $!{record.TimelineId})">コメント${record.ReplyCount}件をすべて見る</a>
      </div>
    #end
    #foreach ($record2 in $record.CoTopicList)
      #if($velocityCount < $record.CoTopicList.size() - 1)
        <div id="message$!{record2.TimelineId}" class="message" style="display:none">
      #else
        <div id="message$!{record2.TimelineId}" class="message">
      #end
      <div class="floatLeft mr10">
      #if(${record2.hasPhoto()})
        <img style="border-radius: 3px;" src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record2.OwnerId}))" alt="${record2.OwnerName}" width="32" height="32" />
      #else
        <img style="border-radius: 3px;" src="images/common/avatar_default3.png" alt="${record2.OwnerName}" width="32" height="32" />
      #end
      </div>
      <div class="name">$!record2.OwnerName</div>
      <div class="body">$!record2.Note</div>
      <div class="time">$!{record2.CreateDate}
      &nbsp;
	  #if(${record2.isLike()})
		<form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record2.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
          <input type="hidden" name="secid" value="$secid" />
	      <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}'), 'mode', 'dislike');dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}').onsubmit();">いいね！を取り消す</a>
        </form>
	  #else
	    <form style="display:inline" name="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" id="likeForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record2.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)">
          <input type="hidden" name="secid" value="$secid" />
	      <a href="javascript:void(0)"  onclick="aipo.timeline.addHiddenValue(dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}'), 'mode', 'like');dojo.byId('likeForm_$!{portlet.ID}_$!{record2.TimelineId}').onsubmit();">いいね！</a>
        </form>
	  #end
      #if($!result.isMatch($!{result.UserId} , $!{record2.OwnerId.Value}))
      <form style="display:inline" name="deleteForm_$!{portlet.ID}_$!{record2.TimelineId}" id="deleteForm_$!{portlet.ID}_$!{record2.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen')" method="post" onsubmit="aimluck.io.disableForm(this, true);return false;">
        <input type="hidden" name="_name" value="コメント">
        <input type="hidden" name="secid" value="$secid" />
        #set ($deleteSubmit = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$record2.TimelineId).addQueryData('mode', 'delete')))
        &nbsp;
        <a href="javascript:void(0)" onclick="aimluck.io.ajaxDeleteSubmit(dojo.byId('dummy_$!{portlet.ID}_$!{record2.TimelineId}'), '$deleteSubmit', '$indicator_id', '$!portlet.ID', aipo.timeline.onReceiveMessage);">削除する</a>
        <input type="hidden" id="dummy_$!{portlet.ID}_$!{record2.TimelineId}" value="" />
      </form>
	  #end
	  #if($record2.LikeList.size() > 0)
		&nbsp;
	    <span class="iconLike"></span>${record2.LikeList.size()}
	  #end
      </div>
      </div>
    #end
    #if($record.CoTopicList.size() > 0)
      <div onclick="aipo.timeline.showCommentField('$!{portlet.ID}', $!{record.TimelineId});" class="commentInputDummy" id="commentInputDummy_$!{portlet.ID}_$!{record.TimelineId}">
      <span>コメントする</span>
      </div>
    #end
    </div>
    <div id="commentField_$!{portlet.ID}_$!{record.TimelineId}" class="commentField" style="display:none">
    <form name="commentForm_$!{portlet.ID}_$!{record.TimelineId}" id="commentForm_$!{portlet.ID}_$!{record.TimelineId}" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','TimelineJSONScreen').addQueryData('entityid',$!record.TimelineId).addQueryData('secid',$secid)" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage);return false;">
      <input type="hidden" name="secid" value="$secid" />
      <div class="outer">
      <textarea class="elastic" id="note_$!{portlet.ID}_$!{record.TimelineId}" cols="10" name="note" rows="1" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; height: 39px; color: black; " onkeyup="aipo.timeline.onKeyUp('$!{portlet.ID}', $!{record.TimelineId})"></textarea>
      </div>
      <div class="right">
      <a class="auiButton" href="javascript:void(0)" onclick="aipo.timeline.addHiddenValue(dojo.byId('commentForm_$!{portlet.ID}_$!{record.TimelineId}'), 'mode', 'comment');dojo.byId('commentForm_$!{portlet.ID}_$!{record.TimelineId}').onsubmit();">コメントする</a>
      </div>
    </form>
    </div>
  </div>
</div>
#ALbuttonheader()
<input name="ajaxbuttonClose" class="button" type="button" value="　閉じる　" onclick="aipo.timeline.hideDialog();" />
#ALbuttonfooter()
#ALdialogfooter()