#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "自分のアプリ配置を初期配置として「設定する」")
#set ($default_str = "デフォルトに戻す" )
#set ($indicator_id = "indicator-form-")
## ---------------------------------------------------------------------------
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
#ALerrmsg($errmsgs)
#ALajaxscreenformheader("psmlForm" $jslink $portlet "PsmlFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.psml.onReceiveMessageUpdate)")
<div class="p">
<input type="hidden" name="mode" id="$!{portlet.ID}-mode" value="" />
</div>
#if(!$!{result.isAdminUser()})
#ALsubmitJS($event_submit $action_str "aipo.psml.beforeSubmit('$!portlet.ID', 'update')")
#ALsubmitJS($event_submit $default_str "aipo.psml.beforeSubmit('$!portlet.ID', 'default')")
#else
<span>Adminユーザーでは行えない操作です。管理者権限を持つユーザーでログインしてください。</span>
#end

#ALformfooter()

