
#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALprintformheader()
#ALprintoptionheader()
#ALprintoptionfooter()

<script type="text/javascript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;
  }
  //]]>
</script>
<div id="printBody" style="width:600px;font-size:10pt;">
<table class="p5">
<colgroup style="width:25%;"></colgroup>
<colgroup style="width:75%;"></colgroup>
<tbody>
#ALtdcaption($l10n.PROJECT_TASK_NAME)
#ALtditem($!{result.Detail.TaskNameHtml})
#ALtdcaption($l10n.PROJECT_NAME)
#ALtditem($!result.Detail.TopicPath)
#ALtdcaption($l10n.PROJECT_CATEGORY)
#ALtditem($!{result.Detail.TrackerString})
#ALtdcaption($l10n.PROJECT_STATUS)
#ALtditem($!{result.Detail.StatusString})
#ALtdcaption($l10n.PROJECT_PRIORITY)
#ALtditem($!{result.Detail.PriorityString})
#ALtdcaption($l10n.PROJECT_MEMBER)
#ALtditemheader()
<ul>
#foreach($record in $!result.Detail.MemberList)
<li>
$!record.UserName
($!{record.Workload}${l10n.PROJECT_MANHOUR})
</li>
#end
</ul>
#ALtditemfooter()
#ALtdcaption($l10n.PROJECT_START_PLAN_DATE)
#ALtditemheader()
#if($!{result.Detail.StartPlanDate.toString()} != "")
$!{result.Detail.StartPlanDate.Year}${l10n.PROJECT_YEAR}$!{result.Detail.StartPlanDate.Month}${l10n.PROJECT_MONTH}$!{result.Detail.StartPlanDate.Day}${l10n.PROJECT_DATE}$!{result.Detail.StartPlanDate.DayOfWeek}
#end
#ALtditemfooter()
#ALtdcaption($l10n.PROJECT_END_PLAN_DATE)
#ALtditemheader()
#if($!{result.Detail.EndPlanDate.toString()} != "")
$!{result.Detail.EndPlanDate.Year}${l10n.PROJECT_YEAR}$!{result.Detail.EndPlanDate.Month}${l10n.PROJECT_MONTH}$!{result.Detail.EndPlanDate.Day}${l10n.PROJECT_DATE}$!{result.Detail.EndPlanDate.DayOfWeek}
#end
#ALtditemfooter()
#ALtdcaption($l10n.PROJECT_EXPECTED_WORKLOAD)
#ALtditemheader()
$!{result.Detail.PlanWorkload}${l10n.PROJECT_MANHOUR}
#ALtditemfooter()
#ALtdcaption($l10n.PROJECT_PROGRESS_RATE)
#ALtditemheader()
$!{result.Detail.ProgressRate}%
#ALtditemfooter()
#ALtdcaption($l10n.PROJECT_EXPLANATION)
#ALtditem($!{result.Detail.Explanation})

#if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
#ALtdcaption($l10n.PROJECT_FILE_ATTACH)
#ALtditemheader()
<ul>
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
<li>$result.getStringCR($attachmentFile.FileNameField)
#if($attachmentFile.isImage())
<div id='popc' style='position:absolute'></div>
<div class="thumbBlock">
<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("ProjectTaskFileThumbnailScreen").addQueryData("entityid", $result.Detail.TaskId).addQueryData("attachmentIndex", $attachmentFile.FileId)"><br>
</div>
#end
</li>
#end
</ul>
#ALtditemfooter()
#end
#ALtablefooter()

<table class="p5" style="margin-top:10px;">
<colgroup style="width:100%;"></colgroup>
<tbody>

#if (!$result.Detail.CommentList.isEmpty())
#ALtdheadheaderAtt('align="center" colspan="2"')$l10n.PROJECT_COMMENT#ALtdheadfooter()
#set($firstCoTopic = true)
#foreach ($record in $result.Detail.CommentList)
#set($firstCoTopic = false)
<tr>
#ALtditemheader()
<div class="alignleft"><strong>$!{record.CreateUser}</strong><span style="float: right;">$!{record.CreateDate.Year}${l10n.PROJECT_YEAR}$!{record.CreateDate.Month}${l10n.PROJECT_MONTH}$!{record.CreateDate.Day}${l10n.PROJECT_DATE}$!{record.CreateDate.DayOfWeek} $!{record.CreateDate.time}</span></div><br />
<div class="alignright">
</div>
<div>
${record.Comment}
#if($!record.AttachmentFileList && $!record.AttachmentFileList.size() > 0)
<div style="padding-top:15px;">
<ul>
#foreach( $attachmentFile in $!record.AttachmentFileList )
<li>$result.getStringCR($attachmentFile.FileNameField)
#if($attachmentFile.isImage())
    <div class="thumbBlock">
        <img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("ProjectTaskCommentFileThumbnailScreen").addQueryData("entityid", $record.CommentId).addQueryData("attachmentIndex", $attachmentFile.FileId)"><br>
    </div>
#end
</li>
#end
</ul>
</div>
#end
</div>
#ALtditemfooter()
#end
#end
#ALtablefooter()
</div>
#ALprintformfooter()