#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($newUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskFormScreen").addQueryData("entityid","new").addQueryData("projectid","$!result.SelectedProjectId")))

## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
#if($!result.AllProject && $!result.AllProject.size() == 0)
#AUIDisableButton("$l10n.PROJECT_DO_TASK_ADD")
#else
#if ($!result.SelectedProjectId)
#AUIbuttonAction("$l10n.PROJECT_DO_TASK_ADD" "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.project.onLoadProjectTaskDialog);")
#else
#AUIbutton("$l10n.PROJECT_DO_TASK_ADD" "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.project.onLoadProjectTaskDialog);")
#end
#end
</div>
<div class="auiWidget clearfix">
<ul>
#if($!result.AllProject && $!result.AllProject.size() != 0)
<li #if ($!result.SelectedProjectId && $!result.SelectedProjectId.toString() == "0") class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskListScreen").addQueryData("filter", "0").addQueryData("filtertype","project_id").addQueryData('tab','list').addQueryData('reset_condition','true'))','$!portlet.ID');">$l10n.PROJECT_ALL_PROJECT</a></li>
#end
#foreach($record in $!result.AllProject )
<li #if ($!result.SelectedProjectId && $!result.SelectedProjectId.toString() == $!record.ProjectId.toString()) class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ProjectTaskListScreen").addQueryData("filter",$!record.ProjectId).addQueryData("filtertype","project_id").addQueryData('tab','list').addQueryData('reset_condition','true'))','$!portlet.ID');">$!{record.ProjectName}</a></li>
#end
</ul>
<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','ProjectListScreen')', '$!portlet.ID');">$l10n.PROJECT_PROJECT_MANAGEMENT</a>
</div>
</div>
</div>
