#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
#if($result.List.size() == 0)

#else
#foreach ($record in $result.List)
<div id="message$!record.MessageId" class="message">
	<div class="avatar">
		#if($!record.isHasPhoto())
			<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!record.UserId).addQueryData("t", "$!record.PhotoModified"))" alt="$!record.LastName $!record.FirstName" width="50" height="50" class="avatar_l"/>
		#else
			<img src="images/common/avatar_default3.png" alt="$!record.LastName $!record.FirstName" width="50" height="50"/>
		#end
	</div>
	<div class="messageContents">
		<div class="name">$!record.LastName $!record.FirstName</div>
		<div class="body">$!record.MessageHtml</div>
		<div class="time">
			$!record.CreateDate&nbsp;
			#if($!record.isOwner())<a href="javascript:void(0)" id="messageReadCount$!record.MessageId">#if($!record.isAllRead())$l10n.MESSAGE_ALL_READ#else$!record.ReadCount人が既読#end</a>#end
		</div>
	</div>
</div>
#end
#end