#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<!-- HEADER -->
#if ($data.User.hasLoggedIn())
<div id="header" class="clearfix"><div class="inner">
  <div class="hdSign">
    <div class="hdLogo"><img src="${external_resources_url}/themes/${theme}/images/logo_aipo.png" alt="Aipo" /></div>
  </div>
  <div class="hdNavi">
#if ($data.User.getUserName()!="admin")
    <div class="hdActivity" title="お知らせ"><div id="activitycheckerContainer" class="dijitInline" ><div id="activitychecker" class="zero counter"></div><span class="mb_hide">お知らせ</span></div></div>
#end
    <div class="hdUserName">
    	#if ($data.User.getUserName()!="admin")
			<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'AccountPerson').addQueryData('template','AccountPersonFormScreen'))');">
			#if ($data.User.hasPhoto())
				<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{data.User.UserId}).addQueryData("t", $!{data.User.PhotoModified.Time}))" class="avatar" alt="顔写真" />
			#else
				<img src="images/common/avatar_default3.png" class="avatar" alt="顔写真"/>
			#end
			#if($!data.User.CompanyId >= 1)
				$!data.User.getCompanyName($!data.User.CompanyId)
			#end
			$utils.escapeXML($!data.User.LastName.toString()) $!utils.escapeXML($!data.User.FirstName.toString())
			</a>
		#else
			$utils.escapeXML($!data.User.LastName.toString()) $!utils.escapeXML($!data.User.FirstName.toString())
		#end
    </div>
    <div class="hdLogout"><input type="button" value="ログアウト" onclick="location.href='$jslink.setAction($config.getString("action.logout"))'" /></div>
  </div>
</div></div>
#end
#if ($data.User.getUserName()!="admin")
<!-- /HEADER -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aipo.widget.DropdownActivityChecker");

dojo.addOnLoad(function () {
    var num;
    if(dojo.byId("messagechecker") != undefined  && dojo.byId("activitychecker") != undefined) {
    	num = parseInt(dojo.byId("activitychecker").innerHTML) + parseInt(dojo.byId("messagechecker").innerHTML);
    } else if(dojo.byId("activitychecker") != undefined) {
    	num = parseInt(dojo.byId("activitychecker"));
    } else {
    	num = 0;
    }
    if (!num){
    	document.title = djConfig.siteTitle;
    } else if (num > 99) {
    	document.title = "(99+) " + djConfig.siteTitle;
    } else {
    	document.title = "(" + num + ") " + djConfig.siteTitle;
    }
    var acHtml = document.getElementById("activitycheckerContainer");
    if(acHtml){
       var params = {
            widgetId: "activitychecker",

#if ("${client}" == "IPHONE" )
            iconURL: "themes/$!theme/images/mobile/an_activity.png",
            iconWidth: "24",
            iconHeight: "24",
#else
            iconURL: "themes/$!theme/images/common/icon_message.gif",
            iconWidth: "19",
            iconHeight: "15",
#end
            iconAlt: "あなた宛のお知らせ"
       };
       var ac = new aipo.widget.DropdownActivityChecker(params , acHtml);
   }
});

//]]>
</script>
#end