#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($action_str = "返信する")
#set ($subtitle = '報告書詳細')
#set ($event_submit = "eventSubmit_doReport_update")
#set ($modesrv = "update")
## ---------------------------------------------------------------------------
#ALdialogheader("報告書詳細")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader("書き込み")##delete時メッセージ
#ALtableheaderWide()
#ALtdcaption('名前')
#ALtditem($!result.ParentReport.ClientName)
#ALtdcaption('タイトル')
#ALtditem($!result.ParentReport.ReportName)
#ALtdcaption('社内参加者')
#ALtditemheader()
#foreach($record in $!result.ParentReport.MemberList)
$!record.AliasName<br />
#end
#ALtditemfooter()
#ALtdcaption('作成日時')
#ALtditem($!{result.ParentReport.UpdateDate.toString('yyyy年MM月dd日HH時mm分')})
#ALtdcaption('日時')
#ALtditem("$!{result.ParentReport.StartDate.toString('yyyy年MM月dd日HH時mm分')}～$!{result.ParentReport.EndDate.toString('HH時mm分')}")
#ALtdcaption('内容')
#ALtditem($!{result.ParentReport.Note})
#if($!{result.ParentReport.AttachmentFileList} && $!result.ParentReport.AttachmentFileList.size() > 0)
#ALtdcaption('添付ファイル')
#ALtditemheader()
#foreach( $attachmentFile in $!result.ParentReport.AttachmentFileList )
<a href="$jslink.getTemplate("ReportFileRawScreen").addQueryData("attachmentIndex", $attachmentFile.FileId).addQueryData("ownerid", $!{result.ParentReport.UserId}).addQueryData("entityid", $!result.ParentReport.ReportId)">$attachmentFile.FileName</a><br>
#end
#ALtditemfooter()
#end
#ALtdcaption('通知先')
#ALtditemheader()
#foreach($record in $!result.ParentReport.MapList)
#if($result.ParentReport.getStatus($record.UserId.Value) == "R")
<img src="images/report/report_read.gif" border="0" width="16" height="16" align="absmiddle" alt="既読" title="既読"/>
#else
<img src="images/report/report_unread.gif" border="0" width="16" height="16" align="absmiddle" alt="未読" title="未読"/>
#end
$!record.AliasName
<br />
#end
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#if($result.ParentReport.isSelfReport())
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ReportFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.report.onLoadReportDialog")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ReportFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.report.onReceiveMessage")
#end
#ALbuttonfooter()
#if($!result.CoReportList && $!result.CoReportList.size() > 0)
##pageview($link $result)
#ALtableheaderWide()
<tr>
#ALtdheadAtt("書き込み" "style='text-align:left;'")
</tr>
#set($firstCoReport = true)
#foreach ($record in $result.CoReportList)
#set($firstCoReport = false)
<tr>
#ALtditemheader()
<div class="clearfix">
<div class="alignleft">
投稿者：$!{record.ClientName}&nbsp;&nbsp;&nbsp;投稿日：$!{record.UpdateDate.toString('yyyy年MM月dd日HH時mm分')}
</div>
<div class="alignright">
#if("$!{record.UserId.toString()}" == "$!{result.LoginUser.UserId.toString()}")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ReportFormJSONScreen').addQueryData('report_reply_id',${record.ReportId}).addQueryData('mode', 'delete_reply')" "$indicator_id" "$!portlet.ID" "aipo.report.onReceiveMessage")
#end
</div>
</div>
<div>
${record.Note}
#if($!record.AttachmentFileList && $!record.AttachmentFileList.size() > 0)
<div style="padding-top:15px;">
#foreach( $attachmentFile in $!record.AttachmentFileList )
<div style="padding-top:5px;">
<img src="images/msgboard/msgboard_item.gif">&nbsp;<a href="$jslink.getTemplate("ReportFileRawScreen").addQueryData("userid", ${record.UserId}).addQueryData("entityid", $record.ReportId).addQueryData("attachmentIndex", $attachmentFile.FileId)">$result.getStringCR($attachmentFile.FileNameField)</a><br>
</div>
#end
</div>
#end
</div>
#ALtditemfooter()
</tr>
#end
#ALtablefooter()
##pageview($link $result)
#end
#ALformfooter()
#if($!resultOnReportDetail)
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("reportForm" $jslink $portlet "ReportFormJSONScreen" "aimluck.io.selectAllOptions(this.attachments);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.report.onReceiveMessage)")
<input type="hidden" name="mode" value="report_reply" />
<input type="hidden" name="entityid" value="$!result.ParentReport.ReportId" />
<input type="hidden" name="report_name" value=" " />
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!resultOnReportDetail.getFieldName('note'))")
#ALtditemheader()
<textarea class="text wide" name="note" rows="10" cols="40">$!resultOnReportDetail.Note</textarea>
#ALtditemfooter()
#ALtdcaption("添付ファイル")
#ALtditemheader()
<select id="attachments" name="attachments" type="select" size="3" multiple="multiple" style="width: 325px">
#foreach( $record in $!resultOnReportDetail.AttachmentFileNameList )
<option value="$record.FileId">$resultOnReportDetail.FileName</option>
#end
</select>
#set($att_url = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FileuploadFormScreen").addQueryData("mode","form"))
<input type="button" onclick="aipo.fileupload.openAttachment('$!utils.escapeXML($att_url)');" value="ファイルの選択" class="button" name="add_attachment"/>
選択したファイルを<input type="button" onclick="aimluck.io.removeOptions(this.form.attachments);" value="削除する" class="button" name="add_attachment"/>
<input type="hidden" id="folderName" name="folderName" value="">
#ALtditemfooter()
#ALtablefooter()
#end
#ALbuttonheader()
#if($!resultOnReportDetail) #ALsubmit($event_submit $action_str) #end #ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()