#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div class="auiSummaryMeta clearfix">
<div class="floatLeft w30">
<form class="auiForm">
#ALselectpdheader("target_thema" "100%" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogScreen").addQueryData("themeid","all"))">$l10n.BLOG_ALL_THEME</option>
#foreach( $record in $result.ThemaList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogScreen").addQueryData("themeid",$!record.ThemaId))" #if ($!result.ThemeId && $!result.ThemeId == $!record.ThemaId.toString()) selected #end>$!record.ThemaName</option>
#end
</select>
</form>
</div>
#if ($result.List && $result.List.size() != 0)
#AUIajaxpageview('BlogScreen' $result)
#end
</div>
#if($result.List && $result.List.size() == 0)
<div class="message">$l10n.BLOG_NOTHING_ENTRY_SELECT_THEME</div>
#else
<div id="auiBlogEntries">
#foreach ($record in $result.List)
<div class="entry clearfix">
<div class="avatar">
<a href="$!utils.escapeXML($!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1').addQueryData('view_uid',${record.OwnerId}).addQueryData('ownerid',${record.OwnerId}).addQueryData('view_month', 'none'))">
#if(${record.hasPhoto()})
<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record.OwnerId}).addQueryData("t", ${record.PhotoModified}))" alt="${record.OwnerName}" width="32" height="32" />
#else
<img src="images/common/avatar_default3.png" alt="${record.OwnerName}" width="32" height="32" />
#end
</a>
</div>
<div class="entryBody">
<div class="entryHeader"><h2><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogDetailScreen").addQueryData("entityid",$record.EntryId))', '$!portlet.ID', aipo.blog.onLoadBlogDetailDialog );">${record.Title} #if($record.CommentsNum > 0)（$record.CommentsNum）#end</a></h2></div>
<div class='entryText'>$!{record.CompressedNote}</div>
<div class="entryFooter floatRight">${record.TitleDate}｜${record.OwnerName}</div>
</div>
</div>
#end
</div>
#end
