#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2008 Aimluck,Inc.
 * http://aipostyle.com/
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aimluck.widget.Menu");

dojo.addOnLoad(function () {

    var subMenu =
		[
			{
				caption: "アドレス",
				iconClass: "menuBarIconAdd",
				url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list','1')",
				submenu:
				[
				    {   caption: "アドレス一覧を見る", iconClass: "menuBarIconList", url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list','1')"    },
					{   caption: "社外アドレスを追加する", iconClass: "menuBarIconAdd", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookFormScreen").addQueryData("entityid","new")','$!portlet.ID',aipo.addressbook.onLoadAddressbookDialog);"    }
				]
			},
            {
                caption: "会社情報",
                iconClass: "menuBarIconList",
                url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doaddressbook_company_list','1')",
                submenu:
                [
                    {   caption: "会社情報一覧を見る", iconClass: "menuBarIconList", url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doaddressbook_company_list','1')"    },
                    {   caption: "会社情報を追加する", iconClass: "menuBarIconAdd", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookCompanyFormScreen").addQueryData("entityid","new")','$!portlet.ID',aipo.addressbook.onLoadAddressbookCompanyDialog);"    }
                ]
            },
			{
				caption: "社外グループ",
				iconClass: "menuBarIconList",
				url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_group_list','1')",
				submenu:
				[
					{   caption: "社外グループ一覧を見る", iconClass: "menuBarIconList", url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_group_list','1')"    },
					{   caption: "社外グループを追加する", iconClass: "menuBarIconAdd", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookGroupFormScreen").addQueryData("entityid","new")','$!portlet.ID',aipo.addressbook.onLoadAddressbookGroupDialog);"    }
				]
			}
		];
		
	if(aipo.addressbook.menuSelected == "undefined"){
          aipo.addressbook.menuSelected = -1;  
    }
    var menubar = new aimluck.widget.Menubar({id: "mbar", items: subMenu, selectedIndex:aipo.addressbook.menuSelected}, "portletMenu");

});

//]]>
</script> 
