#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------
<input id="page_tutorial" type="hidden" value="1" />

<div class="auiPopup imgPopupTutorial">
 <div class="imgBody">
 	<a href="javascript:void(0)">
		<img id="popupImage1" onload="aipo.onLoadImage(this)" src="images/slide01.png"  onclick="aipo.tutorialNextPage()"/>
		<img id="popupImage2" onload="aipo.onLoadImage(this)" src="images/slide02.png" style="display: none;" onclick="aipo.tutorialNextPage()"/>
		<img id="popupImage3" onload="aipo.onLoadImage(this)" src="images/slide03.png" style="display: none;" onclick="aipo.showTutorialDialog('$jslink.getTemplate("TutorialForbidScreen")'); aipo.hideImageDialog()" />
	</a>
 </div>
</div>

<div id="tutorial_prev" class="prevButton" style="top: 10px; left: 10px; width: 100px; height: 650px; position: absolute; cursor: pointer; display: none; z-index: 9999;" onclick="aipo.tutorialPrevPage()">
 	<a href="javascript:void(0)">
 		<img src="images/prev_tutorial.png"/>
	 </a>
</div>
<div id="tutorial_next" class="nextButton" style="top: 10px; left: 910px; width: 100px; height: 650px; position: absolute; cursor: pointer; z-index: 9999;" onclick="aipo.tutorialNextPage()">
 	<a href="javascript:void(0)">
 		<img src="images/next_tutorial.png"/>
	 </a>
</div>