#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
        <div class="contents divider clearfix">
            <a href="javascript:void(0)" onclick="aipo.message.hideProfile();aipo.common.showDialog('?template=UserDetailScreen&entityid=$!{result.Detail.UserId}');">
            #if($!{result.Detail.hasPhoto()})
            <img width="50" height="50" alt="$!result.Detail.Name" src='?template=FileuploadFacePhotoScreen&uid=$!{result.Detail.UserId}&t=$!{result.Detail.PhotoModified}' class="avatar_l">
            #else
            <img width="50" height="50" alt="$!result.Detail.Name" src="images/common/avatar_default3.png" class="avatar_l">
            #end</a><div class="popupInner">
            <span class="name"><a href="javascript:void(0)" onclick="aipo.message.hideProfile();aipo.common.showDialog('?template=UserDetailScreen&entityid=$!{result.Detail.UserId}');">$!result.Detail.Name</a></span>
            <span class="name_kana">$!result.Detail.NameKana</span>
            <span class="post_name">#foreach($record in $!result.Detail.getPostNameList())$!record <br />#end</span></div>
        </div>
        <ul class="icon_menu icon_menu_s clearfix">
            <li><a href="javascript:void(0)" onclick="aipo.message.hideProfile();aipo.common.showDialog('?template=UserDetailScreen&entityid=$!{result.Detail.UserId}');"><div><i class="icon-user"></i></div>プロフィール</a></li>
            <li><a href="javascript:void(0)" onclick="aipo.message.hideProfile();aipo.common.showDialog('?template=AccountPersonFormScreen')"><div><i class="icon-cog"></i></div>プロフィール編集</a></li>
        </ul>


