#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($tabs = [["未完了", "unfinished","$!jslink.getPortletById($!portlet.ID).addQueryData('template', 'WorkflowAllListScreen').addQueryData('alltab','unfinished')"], ["完了", "finished", "$!jslink.getPortletById($!portlet.ID).addQueryData('template', 'WorkflowAllListScreen').addQueryData('alltab','finished')"]])
#if($!result.currentTab == "unfinished")
  #set ($sumname = "未完了総数")
  #set ($colName1 = "最終閲覧者")
#else
  #set ($sumname = "完了総数")
  #set ($colName1 = "最終承認者")
#end
## ---------------------------------------------------------------------------
#ALajaxtabheader($tabs $!result.currentTab)
#ALspacebothheader()
#ALajaxlistformheader('ワークフロー')
#if($result.List.size() == 0)
<div class="message">指定された条件に該当する依頼はありません。</div>
#else
#ALajaxpageview('WorkflowAllListScreen' $result)
#ALtableheaderWide()
<tr>
#ALtdheadThin("番号")
#ALtdheadThin("#ALajaxsort('priority' '重要度' $result 'WorkflowAllListScreen')")
#ALtdheadThin("状態")
#ALtdheadW33("#ALajaxsort('request_name' '表題' $result 'WorkflowAllListScreen')")
#ALtdheadThin("#ALajaxsort('price' '金額' $result 'WorkflowAllListScreen')")
#ALtdheadW33("#ALajaxsort('create_date' '作成日時' $result 'WorkflowAllListScreen')")
#ALtdheadThin("$colName1")
#ALtdheadThin("進捗")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("$!{record.RequestId}" "align='right' nowrap='nowrap'")
#ALtdcellheaderAtt("align='center' valign='center'")
<a title='$!record.PriorityString'><img src='images/workflow/$!record.PriorityImage' alt='$!record.PriorityString' title='$!record.PriorityString'></a>
#ALtdcellfooter()
#ALtdcellheaderAtt("nowrap='nowrap'")
<span class="caution">#if($record.Progress.Value == "D") 差戻要確認 #elseif($record.Progress.Value == "A") 承認済み #else 決裁待ち #end</span>
#ALtdcellfooter()
#ALtdcellheader()
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllDetailScreen").addQueryData('mode','detail_all').addQueryData('entityid',$record.RequestId).addQueryData('prvid',$record.RequestId))');">【$!record.CategoryName】#if($!record.RequestName != '')$!record.RequestName #end</a>
#ALtdcellfooter()
#ALtdcellAtt("$!{record.PriceStr}&nbsp;円" "nowrap='nowrap'")
#ALtdcellAtt("$!record.CreateDate" "nowrap='nowrap'")
#ALtdcellAtt("$!record.LastUpdateUser" "nowrap='nowrap'")
#ALtdcellAtt("$!record.StateString" "nowrap='nowrap' align='center'")
</tr>
#end
#ALtablefooter()
#ALajaxpageviewFooter('WorkflowAllListScreen' $result)
#end
#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
