#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleHolidayFormScreen").addQueryData("entityid","new")))
#set ($newAfterFunction1 = "aipo.schedule_holiday.onLoadScheduleHolidayDialog")
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowRouteFormScreen").addQueryData("entityid","new")))
#set ($newAfterFunction2 = "aipo.workflow_route.onLoadWorkflowRouteDialog")
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#else
#AUIwideAreaHeader()
#end
#AUISummaryDiv()
<div class="floatLeft">
#AUIbuttonAction($l10n.SCHEDULE_ADD_HOLIDAY "javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.schedule_holiday.onLoadScheduleHolidayDialog);")
</div>

#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
#if($result.List.size() <= 0)
$l10n.SCHEDULE_MSG_NO_HOLIDAYS<br />
#else

#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.SCHEDULE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.workflow_category.onReceiveMessage")
</div>
#AUIajaxpageview('ScheduleHolidayListScreen' $result)
#AUISummaryDivfooter()



<table class="auiRowTable auiMbTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="">
</colgroup>
<tbody>
<tr>
#ALtdhead("#ALswitchCheckbox()")
#ALtdhead("#ALajaxsort('holiday_title' $l10n.SCHEDULE_HOLIDAY_TITLE $result 'ScheduleHolidayListScreen')")
#ALtdhead("#ALajaxsort('holiday_date' $l10n.SCHEDULE_HOLIDAY_DATE $result 'ScheduleHolidayListScreen')")
</tr>

#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.HolidayId' type='checkbox' value='$!record.HolidayId'/>" 'align="center"')
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="">$record.HolidayTitle</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
$!record.HolidayDate
</div>
#ALtdcellfooter()
</tr>
#end


</tbody>
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.SCHEDULE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.workflow_category.onReceiveMessage")
</div>
#AUIajaxpageview('WorkflowCategoryListScreen' $result)
#AUISummaryDivfooter()

#end
#ALformfooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#else
#AUIwideAreaFooter()
#end
