#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------

<div class="title">
  <input type="button" class="auiButtonSmall floatRight" name="allread" value="$l10n.ACTIVITY_ALL_ALREADY_READ" onclick="aipo.menu.hideDropdown('activity');aipo.menu.closeDropdown('activity');aipo.container.gadgetService.requestCheckActivity('*')" />
  $l10n.ACTIVITY_INFO_TO_YOU
</div>
<div class="dropdown_list">
#if($result.List.size() == 0)
  <div class="emptyMessage">
    <i class="icon-bell-alt"></i>
    <p>$l10n.ACTIVITY_NO_INFO_TO_YOU</p>
  </div>
#else

#set($pageRange = 5)

#set($pageTrimRange = 2)
#set($pages = $result.PagesNum)
#set($currentPage = $result.CurrentPage)
#set($rowsNum = $result.RowsNum)
#set($count = $result.Count)
#set($from = ($currentPage - 1 ) * $rowsNum + 1)
#if ( $currentPage * $rowsNum > $result.Count)
#set($to = $result.Count )
#else
#set($to = $currentPage * $rowsNum )
#end

#set($nextLeftPage = 1 )
#set($nextRightPage = $pages)
#if($pages < ${pageRange} + ${pageTrimRange} + ${pageTrimRange} + 1)
#set($showLeftRest = false)
#set($showRightRest = false)
#else
## show left and right
#set($showLeftRest = true)
#set($showRightRest = true)
#if($currentPage > ${pageRange})
#set($nextLeftPage = $currentPage - $pageTrimRange )
#if((${currentPage} + ${pageRange}) > ${pages})
#if(${currentPage} - ${pageTrimRange} > ${pages} - ${pageRange}) #set($nextLeftPage = ${pages} - ${pageRange} + 1) #else #set($nextLeftPage = ${currentPage} - ${pageTrimRange}) #end
#set($nextRightPage = ${pages})
#else
#set($nextRightPage = $currentPage + ($pageTrimRange / 2) + 1)
#end
#else
#if(($currentPage + ${pageTrimRange}) < ${pageRange})
#set($nextRightPage = $pageRange )
#else
#if(${currentPage} + ${pageRange} > ${pages}) #set($nextRightPage = ${pages}) #else #set($nextRightPage = $currentPage + ${pageTrimRange}) #end
#end
#end
#end

<ul>
#foreach ($record in $result.List)
  <li #if(!$record.isRead())class="new"#end><a href="javascript:void(0);" onclick="aipo.menu.hideDropdown('activity');aipo.menu.closeDropdown('activity');aipo.common.showDialog('$!utils.escapeXML($!{record.PopupUrl})&amp;js_peid=$!{portletId}', '$!{portletId}', aipo.container.onPopupGadgets );aipo.container.gadgetService.requestCheckActivity(${record.Id})">
    <!-- div class="avatar"><img src="images/common/avatar_default3.png" class="avatar_s"></div -->
    <div class="body">
      <div class="date">$!record.UpdateDate</div>
      <div class="name">$!{record.DisplayName}</div>
      <div class="ellipsis">
#if($!$record.Icon.toString() != "")
      <img src="$!record.Icon" width="16" height="16" alt="" align="absmiddle" />
#end
$!record.TitleText</div>
    </div>
</a></li>
#end
</ul>
#end
</div>
<div class="foot">
  <div class="floatLeft">
  </div>
#if($result.List.size() > 0)
<div class="floatRight">
<div class="count">$from - $to / $count</div>
#if ($pages > 1)
<div class="auiSelectButton floatLeft">
<ul class="floatLeft">
#if($currentPage > 1) #set($pre = $currentPage - 1)
<li title="$l10n.ACTIVITY_PREVIOUS"><a href="javascript:void(0);" onclick="dijit.byId('activityListPane').viewPage('?template=ActivityListScreen&start=$pre');" title="$l10n.ACTIVITY_PREVIOUS" class="first arrow"><i class="icon-caret-left"></i></a></li>
#else
<li title="$l10n.ACTIVITY_PREVIOUS"><a href="javascript:void(0);" class="first arrow" title="$l10n.ACTIVITY_PREVIOUS"><i class="icon-caret-left"></i></a></li>
#end
#if($pages > $currentPage) #set($next = $currentPage + 1)
<li title="$l10n.ACTIVITY_NEXT"><a href="javascript:void(0);" onclick="dijit.byId('activityListPane').viewPage('?template=ActivityListScreen&start=$next');" title="$l10n.ACTIVITY_NEXT" class="last arrow"><i class="icon-caret-right"></i></a></li>
#else
<li title="$l10n.ACTIVITY_NEXT"><a href="javascript:void(0);" class="last arrow" title="$l10n.ACTIVITY_NEXT"><i class="icon-caret-right"></i></a></li>
#end
</ul>
</div>
#end
</div>
#end
</div>
