#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($s = '"')
## ---------------------------------------------------------------------------

## 「タイムカード記録」のプリント用のページです
## ページの先頭に色々つける
#ALprintformheader()
#ALprintoptionheader()
#ALprintoptionfooter()

<script type="text/javascript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;
  }
  //]]>
</script>
<div id="printBody" style="width:600px;font-size:10pt;">
<table class="p5">
<colgroup style="width:25%;"></colgroup>
<colgroup style="width:75%;"></colgroup>
<tbody>
	## headers
	<tr>
	#ALtdheadAtt("氏名" "class='thin mb_hide center'")
	#ALtdheadAtt("日付" "class='thin mb_hide center'")
	#ALtdheadAtt("曜日" "class='thin mb_hide center'")
	#ALtdheadAtt("勤務形態" "class='thin mb_hide center'")
	#ALtdheadAtt("出勤時間" "class='thin mb_hide center'")
	#ALtdheadAtt("退勤時間" "class='thin mb_hide center'")
	#ALtdheadAtt("出勤日数" "class='thin mb_hide center'")
	#ALtdheadAtt("所定休日出勤日数" "class='thin mb_hide center'")
	#ALtdheadAtt("法定休日出勤日数" "class='thin mb_hide center'")
	#ALtdheadAtt("総労働時間" "class='thin mb_hide center'")
	#ALtdheadAtt("所定内労働時間" "class='thin mb_hide center'")
	#ALtdheadAtt("法定内残業時間" "class='thin mb_hide center'")
	#ALtdheadAtt("残業時間" "class='thin mb_hide center'")
	#ALtdheadAtt("所定休日労働時間" "class='thin mb_hide center'")
	#ALtdheadAtt("法定休日労働時間" "class='thin mb_hide center'")
	#ALtdheadAtt("深夜労働時間" "class='thin mb_hide center'")
	#ALtdheadAtt("休憩時間" "class='thin mb_hide center'")
	#ALtdheadAtt("遅刻日数" "class='thin mb_hide center'")
	#ALtdheadAtt("早退日数" "class='thin mb_hide center'")
	#ALtdheadAtt("欠勤日数" "class='thin mb_hide center'")
	#ALtdheadAtt("有休日数" "class='thin mb_hide center'")
	#ALtdheadAtt("代休日数" "class='thin mb_hide center'")
	#ALtdheadAtt("その他日数" "class='thin mb_hide center'")
	#ALtdheadAtt("修正理由" "class='thin mb_hide center' nowrap='nowrap'")
	#ALtdheadAtt("備考" "class='thin mb_hide center' nowrap='nowrap'")
	#ALtdheadAtt("外出１" "class='thin mb_hide center'")
	#ALtdheadAtt("復帰１" "class='thin mb_hide center'")
	#ALtdheadAtt("外出２" "class='thin mb_hide center'")
	#ALtdheadAtt("復帰２" "class='thin mb_hide center'")
	#ALtdheadAtt("外出３" "class='thin mb_hide center'")
	#ALtdheadAtt("復帰３" "class='thin mb_hide center'")
	#ALtdheadAtt("外出４" "class='thin mb_hide center'")
	#ALtdheadAtt("復帰４" "class='thin mb_hide center'")
	#ALtdheadAtt("外出５" "class='thin mb_hide center'")
	#ALtdheadAtt("復帰５" "class='thin mb_hide center'")
	</tr>

	## each content
	#foreach ($rdlist in $result.DateListKeys)
		<tr>
		## 氏名
		#ALtdcellheaderAtt("class='center' nowrap='nowrap'")
			$!utils.escapeXML($result.TargetUserName)
		#ALtdcellfooter()

		##! いろんな設定
		#set($isrd = $rdlist.IsResultData)
		#if($isrd)
			#set($rd = $rdlist.Rd)
		#else
		#set($rd = "")
		#end

		#set($saturday_sunday_holiday = $rdlist.IsSaturdayOrSundayOrHoliday)
		#set($beforeafter = $rdlist.BeforeAfter)
		#set($entityid = "")
		#if($isrd)
			#set($entityid = $rd.TimecardId.toString())
		#else
			#set($entityid = "new")
		#end
		#set($class = "")
        #if($beforeafter == 0)
        	#set($class = "today")
        #end
        ##! ここまで


		## 日付
		#ALtdcellheaderAtt("class='center' nowrap='nowrap'")
			$!rdlist.getDateStr("yyyy/MM/dd")	## yyyy/MM/ddスタイル
		#ALtdcellfooter()

		## 曜日
		#ALtdcellheaderAtt("class='center' nowrap='nowrap'")
			$!rdlist.getDateStr("EE")
		#ALtdcellfooter()

		## 勤務形態
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$!utils.escapeXML($result.TimecardSystem.SystemName)
		#ALtdcellfooter()

		##　出勤時刻
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
		#if($rdlist.IsNotNullClockInTime)
      		$!{rd.getClockInTime("HH:mm")}
		#end
		#ALtdcellfooter()

		## 退勤時刻
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
		#if($rdlist.IsNotNullClockOutTime)
      		$!{rd.getClockOutTime("HH:mm")}
		#end
		#ALtdcellfooter()

		##　出勤日数の代入
		## 所定内労働時間の代入
		#if(${rdlist.isNewWorkDay()})
			##　出勤日数の代入
			#set($work_day = 1)
			## 所定内労働時間の代入
			#set($work_hour = ${rdlist.getHourToString($!{rdlist.getWorkHourWithoutRestHour(true)})})
		#else
			##　出勤日数の代入
			#set($work_day = 0)
			## 就業時間(work_hour)の定義
			#set($work_hour = ${rdlist.getHourToString("0.0")})
		#end
		## 総労働時間の代入
		#set($total_work_hour = ${rdlist.getHourToString(${rdlist.getTotalWorkRoundHour()})})
		#if ($total_work_hour == "")
			#set($total_work_hour = ${rdlist.getHourToString("0.0")})
		#end
		## 所定休日、法定休日などの代入
		#if ($rdlist.isOffDay())
			#set($off_day = 1) ##　現状未使用
			## 所定内休日、法定内休日に振り分け
			#if ($rdlist.isStatutoryHoliday()) ## 法定内休日
				## 所定休日出勤日数の代入
				#set($official_off_day = 0)
				## 法定休日出勤日数の代入
				#set($statutory_off_day = 1)
				## 所定休日労働時間の代入
				#set($total_official_off_day_work_hour = ${rdlist.getHourToString("0.0")})
				## 法定休日労働時間の代入
				#set($total_statutory_off_day_work_hour = $total_work_hour) ## 法定休日労働時間＝総労働時間（NewXlsの方のロジックそのまま）
			#else ## 所定内休日
				## 所定休日出勤日数の代入
				#set($official_off_day = 1)
				## 法定休日出勤日数の代入
				#set($statutory_off_day = 0)
				## 所定休日労働時間の代入
				#set($total_official_off_day_work_hour = $total_work_hour) ## 所定休日労働時間＝総労働時間（NewXlsの方のロジックそのまま）
				## 法定休日労働時間の代入
				#set($total_statutory_off_day_work_hour = ${rdlist.getHourToString("0.0")})
			#end
		#else
			#set($off_day = 0) ## 現状未使用
			#set($official_off_day = 0) ## 所定休日出勤日数
			#set($statutory_off_day = 0) ## 法定休日出勤日数
			#set($total_official_off_day_work_hour = ${rdlist.getHourToString("0.0")}) ## 所定休日労働時間
			#set($total_statutory_off_day_work_hour = ${rdlist.getHourToString("0.0")}) ## 法定休日労働時間
		#end


		## 出勤日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$work_day
		#ALtdcellfooter()

		## 休出日数の表示（現在非表示）
		## #ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
		##	$off_day
		## #ALtdcellfooter()

		## 所定内休日出勤日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$official_off_day
		#ALtdcellfooter()
		## 法定内休日出勤日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$statutory_off_day
		#ALtdcellfooter()

		## 総労働時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$total_work_hour
		#ALtdcellfooter()

		## 所定内労働時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$work_hour
		#ALtdcellfooter()

		## 法定内残業時間の代入
		#set($overtime_within_statutory_working_hour = $rdlist.getHourToString(${rdlist.getWithinStatutoryOvertimeWorkHourWithoutOffday(true)}))
		#if ($overtime_within_statutory_working_hour == "")
			#set($overtime_within_statutory_working_hour = $rdlist.getHourToString("0.0"))
		#end
		## 法定内残業時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$overtime_within_statutory_working_hour
		#ALtdcellfooter()
		## 残業時間の代入
		#set($overtime_hour = $rdlist.getHourToString(${rdlist.getOvertimeHourWithoutRestHour(true)}))
		#if ($overtime_hour == "")
			#set($overtime_hour = $rdlist.getHourToString("0.0"))
		#end
		## 残業時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$overtime_hour
		#ALtdcellfooter()


		## 所定内休日労働時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${total_official_off_day_work_hour}
		#ALtdcellfooter()
		## 法定内休日労働時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${total_statutory_off_day_work_hour}
		#ALtdcellfooter()

		## 深夜労働時間の代入
		#set($total_midnight_work_hour = $rdlist.getHourToString(${rdlist.getMidnightWorkRoundHour()}))
		#if ($total_midnight_work_hour == "")
			#set($total_midnight_work_hour = $rdlist.getHourToString("0.0"))
		#end
		## 深夜労働時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${total_midnight_work_hour}
		#ALtdcellfooter()

		## 休憩時間の代入
		#set($rest_hour = $rdlist.getHourToString(${rdlist.getRestRoundHour()}))
		#if ($rest_hour == "")
			#set($rest_hour = $rdlist.getHourToString("0.0"))
		#end
		## 休憩時間の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${rest_hour}
		#ALtdcellfooter()

		## 遅刻日数の代入
		#if ( $rdlist.isLateComing() )
			#set($late_coming_day = 1)
		#else
			#set($late_coming_day = 0)
		#end
		## 遅刻日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${late_coming_day}
		#ALtdcellfooter()

		## 早退日数の代入
		#if ( $rdlist.isEarlyLeaving() )
			#set($early_leaving_day = 1)
		#else
			#set($early_leaving_day = 0)
		#end
		## 早退日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${early_leaving_day}
		#ALtdcellfooter()

		## 欠勤日数の代入
		#if ( $rd.isTypeA )
			#set($absent_day = 1)
		#else
			#set($absent_day = 0)
		#end
		## 欠勤日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${absent_day}
		#ALtdcellfooter()

		## 有休日数の代入
		#if ( $rd.isTypeH )
			#set($paid_holiday = 1)
		#else
			#set($paid_holiday = 0)
		#end
		## 有休日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${paid_holiday}
		#ALtdcellfooter()

		## 代休日数の代入
		#if ( $rd.isTypeC )
			#set($compensatory_holiday = 1)
		#else
			#set($compensatory_holiday = 0)
		#end
		## 代休日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${compensatory_holiday}
		#ALtdcellfooter()

		## その他日数の代入
		#if ( $rd.isTypeE )
			#set($other_day = 1)
		#else
			#set($other_day = 0)
		#end
		## その他日数の表示
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			${other_day}
		#ALtdcellfooter()

		## 修正理由
  		#ALtdcellheaderAtt("class='center mb_hide'")
	  		#if($!{rd.ReasonFlg})
				$!{rd.Reason}
  			#end
  		#ALtdcellfooter()

  		## 備考
  		#ALtdcellheaderAtt("class='center mb_hide'")
		  	#if($!{rd.RemarksFlg})
				$!{rd.Remarks}
  			#end
  		#ALtdcellfooter()

  		## 外出・復帰
  		#set($outcomes = $rdlist.OutgoingComeback)
		#set($listsize = $outcomes.size())
		#set($displaysize = 5)	##外出回数を何回分表示するか決める変数

		#if($listsize >= $displaysize)
			#foreach($outcome in $outcomes)
			#if ($velocityCount <= $displaysize)
			## 外出
			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
	  			$outcome.get('outgoing')
  			#ALtdcellfooter()
  			## 復帰
  			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
	  			$outcome.get('comeback')
  			#ALtdcellfooter()
  			#end
			#end
		#else
			#set($restsize = $displaysize - $listsize)
			#foreach($outcome in $outcomes)
			## 外出
			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
	  			$outcome.get('outgoing')
  			#ALtdcellfooter()
  			## 復帰
  			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
	  			$outcome.get('comeback')
  			#ALtdcellfooter()
			#end

			#foreach("" in [1 .. $restsize])
			## 外出
			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
  			#ALtdcellfooter()
  			## 復帰
  			#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
  			#ALtdcellfooter()
			#end
		#end
		## 外出・復帰おわり

		</tr>
	#end


#ALtablefooter()
</div>
#ALprintformfooter()

##parse("/portlets/html/exttimecard-widget.vm")
