#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($s = '"')
## ---------------------------------------------------------------------------

## 「タイムカード記録」のプリント用のページです

## ページの先頭に色々つける
#ALprintformheader()
#ALprintoptionheader()
#ALprintoptionfooter()

<script type="text/javascript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;
  }
  //]]>
</script>
<div id="printBody" style="width:600px;font-size:10pt;">
<table class="p5">
<colgroup style="width:25%;"></colgroup>
<colgroup style="width:75%;"></colgroup>
<tbody>
	## headers
	<tr>
	#ALtdheadAtt($l10n.EXTTIMECARD_DATE "class='thin center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS "class='thin mb_hide center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_PUNCH_IN "class='thin center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_PUNCH_OUT "class='thin center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_OUTGOING "class='thin center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_COMEBACK "class='thin center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_WORK_DAY "class='thin mb_hide center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_OVERTIME_DAY "class='thin mb_hide center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_OFF_DAY "class='thin mb_hide center'")
	#ALtdheadAtt($l10n.EXTTIMECARD_REASON_REMARKS "class='wide mb_hide center'")
	</tr>

	## each content
	#foreach ($rdlist in $result.DateListKeys)
		#set($isrd = $rdlist.IsResultData)
		#if($isrd)
			#set($rd = $rdlist.Rd)
		#else
		#set($rd = "")
		#end

		#set($outcomes = $rdlist.OutgoingComeback)
		#set($listsize = $outcomes.size())
		#set($saturday_sunday_holiday = $rdlist.IsSaturdayOrSundayOrHoliday)
		#set($beforeafter = $rdlist.BeforeAfter)
		#set($entityid = "")
		#if($isrd)
			#set($entityid = $rd.TimecardId.toString())
		#else
			#set($entityid = "new")
		#end
		#set($class = "")
          #if($beforeafter == 0)
            #set($class = "today")
          #end
         ## ここまで

		<tr>
		## 日にち
		#ALtdcellheaderAtt("class='center' nowrap='nowrap'")
			$!rdlist.DateStr
		#ALtdcellfooter()
		## 勤務形態
		#ALtdcellheaderAtt("class='center mb_hide' nowrap='nowrap'")
			$!utils.escapeXML($result.TimecardSystem.SystemName)
		#ALtdcellfooter()

		## 「今日」より先の日付の場合
		#if($beforeafter > 0)
			## 出勤時刻などについて
			## いろいろな特別な日
			#if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE} || $!{rd.IsTypeP})
    			<td class='center' nowrap='nowrap' colspan='7'>	## 7連結
    				#if($!{rd.IsTypeA})
						$l10n.EXTTIMECARD_ABSENT_DAY
				    #elseif($!{rd.IsTypeH})
						$l10n.EXTTIMECARD_PAID_HOLIDAY
				    #elseif($!{rd.IsTypeC})
						$l10n.EXTTIMECARD_COMPENSATORY_HOLIDAY
				    #elseif($!{rd.IsTypeE})
						$l10n.EXTTIMECARD_OTHER
				    #elseif($!{rd.IsTypeP})
						$l10n.EXTTIMECARD_PUNCH_IN
				    #end
			    </td>
		  	#else
		  		## その他の普通の日（空白のセルを作る）
    			#ALtdcellAtt(" " "")
    			#ALtdcellAtt(" " "")
    			#ALtdcellAtt(" " "")
    			#ALtdcellAtt(" " "")
    			#ALtdcellAtt(" " " class='mb_hide'")
    			#ALtdcellAtt(" " " class='mb_hide'")
    			#ALtdcellAtt(" " " class='mb_hide'")
  			#end

  			## 修正理由・備考
  			<td class='mb_hide'>
		  		#if($!{rd.ReasonFlg})
					$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
    				#if($!{rd.RemarksFlg})
						、
    				#end
  				#end
			  	#if($!{rd.RemarksFlg})
					$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
  				#end
  			</td>
  		## 今日（を含めて）より前の日
  		#else
  			## 出勤時刻などについて
  			## そのうち特別な日
			#if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE})
  				<td class='center' nowrap='nowrap' colspan='7'>	## 7連結
  				#if($!{rd.IsTypeA})
      				$l10n.EXTTIMECARD_ABSENT_DAY
  				#elseif($!{rd.IsTypeH})
      				$l10n.EXTTIMECARD_PAID_HOLIDAY
  				#elseif($!{rd.IsTypeC})
      				$l10n.EXTTIMECARD_COMPENSATORY_HOLIDAY
  				#elseif($!{rd.IsTypeE})
      				$l10n.EXTTIMECARD_OTHER
  				#end
  				</td>
  				<td class='mb_hide'>
  				#if($!{rd.ReasonFlg})
					$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
    				#if($!{rd.RemarksFlg})
						、
    				#end
  				#end
  				#if($!{rd.RemarksFlg})
					$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
  				#end
  				</td>

  			## 今日より前の普通の日
  			#else
  				## 出勤時刻
  				#if($rdlist.IsNotNullClockInTime)
      				#ALtdcellAtt("$!{rd.ClockInTimeHourMinuteText}" "class='center' nowrap='nowrap'")
  				#else
	  				#ALtdcellAtt("${l10n.EXTTIMECARD_NOT_INPUT}" "class='center' nowrap='nowrap'")
    				###if($saturday_sunday_holiday == 0)
      				## #if($!result.TargetUserId == $!result.UserId)
        			##	#if($class == "today")
          			##		<td class='center' nowrap='nowrap'><input type="button" value="$l10n.EXTTIMECARD_PUNCH_IN" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '$l10n.EXTTIMECARD_PUNCH_IN');dojo.byId('form$!portlet.ID').onsubmit();" /></td>
        			##	#else
          			##		#ALtdcellAtt("#AUIajaxbuttonLinkCallbackBoldInput($l10n.EXTTIMECARD_NOT_INPUT $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "class='center' nowrap='nowrap'")
        			##	#end
      				## #else
        			##	#ALtdcellAtt('' "")
      				## #end
    				## ###else
      				## 	###ALtdcellAtt("" "class='center' nowrap='nowrap'")
    				## ###end
  				#end

				## 退勤時刻
  				#if($rdlist.IsNotNullClockOutTime)
    				#ALtdcellAtt("$!{rd.ClockOutTimeHourMinuteText}" "class='center' nowrap='nowrap'")
  				#else
  					#ALtdcellAtt("${l10n.EXTTIMECARD_NOT_INPUT}" "class='center' nowrap='nowrap'")
    				###if($saturday_sunday_holiday == 0)
      				## #if($!result.TargetUserId == $!result.UserId)
        			##	#if($class == "today")
          			##		#set($q = '"')
          			##		#if($rdlist.IsNotNullClockInTime)
           			##			#if($rdlist.IsClockOverTime)
             		##				#set($leaving = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_PUNCH_OUT${q} class=${q}auiButtonAction${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();${q} />")
           			##			#else
              		##				#set($leaving = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_PUNCH_OUT${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();${q} />")
            		##			#end
          			##		#else
              		##			#set($leaving = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_PUNCH_OUT</span>")
          			##		#end
        			##	#else
          			##		#ALtdcellAtt("#AUIajaxbuttonLinkCallbackBoldInput($l10n.EXTTIMECARD_NOT_INPUT $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "class='center' nowrap='nowrap'")
        			##	#end
      				## #else
     	  			##	#ALtdcellAtt('' "")
      				## #end
    				###else
      					###ALtdcellAtt("" "class='center' nowrap='nowrap'")
    				###end
  				#end

  				## ????

  				#set($first = 0)
  				#set($isOutgoing = 0)
  				#set($outgoings = "")
  				#set($comebacks = "")
  				#foreach ($outcome in $outcomes)
    			#if($first == 0)
      				#if($class == "today" && $!result.TargetUserId == $!result.UserId && !($rdlist.IsNotNullClockOutTime))
        				#if($outcome.get('outgoing') != "")
          					#set($isOutgoing = 1)
          					#set($outgoings = "$outcome.get('outgoing')")
						#end
        				#if($outcome.get('comeback') != "")
          					#set($isOutgoing = 0)
          					#set($comebacks = "$outcome.get('comeback')")
        				#end
      				#else
        				#set($outgoings = $outcome.get('outgoing'))
        				#set($comebacks = $outcome.get('comeback'))
      				#end
      				#set($first = 1)
    			#else
      				#set($outgoings = "$outgoings<br>$outcome.get('outgoing')")
     				#if($outcome.get('comeback') == "") ##復帰時間が記録されていない <=> 外出中である
						#set($isOutgoing = 1)
      				#else
        				#set($isOutgoing = 0)
        				#set($comebacks = "$comebacks<br>$outcome.get('comeback')")
      				#end
    			#end
  				#end

  				##今日である＆＆そのユーザーである
  				#if($class == "today" && $!result.TargetUserId == $!result.UserId)
  					##退勤ボタンの出力
  					#if($isOutgoing == 1)
	  					#set($leaving = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_PUNCH_OUT</span>")
					#end
					#if(!($rdlist.IsNotNullClockOutTime)) ## 退勤ボタンが押されていないならボタンを出力
	  					#ALtdcellAtt($leaving "class='center' nowrap='nowrap'")
					#end

  					#if(!($rdlist.IsNotNullClockInTime)) ## 出勤ボタンが押されていない
  	  					<td class='center' nowrap='nowrap'><span class="auiButtonDisabled">$l10n.EXTTIMECARD_OUTGOING</span></td>
  	  					<td class='center' nowrap='nowrap'><span class="auiButtonDisabled">$l10n.EXTTIMECARD_COMEBACK</span></td>
  					#else
  	  					#if(!($rdlist.IsNotNullClockOutTime)) ## 退勤ボタンが押されていない
  	  						#set($q = '"')
  	    					#if($isOutgoing == 0) ## 外出していない
  	      						#if($outgoings == "") ##一番最初だけ２つ（外出・復帰）とも表示
            						#set($outgoings = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_OUTGOING${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_OUTGOING');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
									#set($comebacks = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_COMEBACK</span>")
      	  						#else
  	        						#set($outgoings = "$outgoings<br><input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_OUTGOING${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_OUTGOING');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
  	      						#end
  	    					#else
  	      						#if($comebacks != "") ##一番最初以外は改行が必要
  	        						#set($comebacks = "$comebacks<br>")
      	  						#end
		  						#set($comebacks = "$comebacks<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_COMEBACK${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'comeback');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_COMEBACK');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
  	    					#end
  	  					#end
					#end
  				#end

  				#if($rdlist.IsNotNullClockInTime || $class != "today" || $!result.TargetUserId != $!result.UserId)
    				#ALtdcellAtt($outgoings "class='center' nowrap='nowrap'")
    				#ALtdcellAtt($comebacks "class='center' nowrap='nowrap'")
  				#end

  				#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getWorkHourWithoutRestHour(true)})}" "class='center mb_hide' nowrap='nowrap'")
  				#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOvertimeHourWithoutRestHour(true)})}" "class='center mb_hide' nowrap='nowrap'")
  				#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOffHour(true)})}" "class='center mb_hide' nowrap='nowrap'")

				<td class='mb_hide'>
				#if($!{rd.ReasonFlg})
					$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
					#if($!{rd.RemarksFlg})
						、
					#end
				#end
				#if($!{rd.RemarksFlg})
					$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
				#end
				</td>
			#end

		#end
		</tr>
	#end



#ALtablefooter()
</div>
#ALprintformfooter()

##parse("/portlets/html/exttimecard-widget.vm")
