#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#if($result.DateListKeys.size() == 0)
<div class="message">指定された条件に該当するタイムカードはありません。</div>
#else
#if($!result.TargetUserId != "")
<div class="auiSummaryMeta clearfix">
#if($!result.hasAclXlsExport())
<div class="floatLeft">
#set($dlLink = $!utils.escapeXML($jslink.getTemplate('ExtTimecardXlsExportScreen').addQueryData('target_user_id', "$!result.TargetUserId").addQueryData('view_month', "$!result.ViewMonth")) )
#AUIbutton("表示中の一覧をダウンロード" $dlLink)
</div>
#end
<div class="auiSelectButton floatRight">
<div class="floatLeft" style="line-height:24px;margin-right:10px;"><strong>$!{result.ViewMonth.Year} 年 $!{result.ViewMonth.Month} 月</strong></div>
<ul class="floatLeft">
<li style="margin-right:10px;"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="今月へ" class="btn" style="width:4em;"><span>今月へ</span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="先月へ" class="first arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_l.gif" alt="先月へ" /></span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="来月へ" class="last arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_r.gif" alt="来月へ" /></span></a></li>
</ul>
</div>
</div>
#if($!result.TargetUserId == $!result.UserId)
#set($col_count = 5)
#else
#set($col_count = 4)
#end
#AUIrowTableWide()
<tr>
#ALtdheadThin("日付")
#ALtdheadThin("勤務形態")
#ALtdheadThin("出勤")
#ALtdheadThin("退勤")
#ALtdheadThin("外出")
#ALtdheadThin("復帰")
#ALtdheadThin("就業")
#ALtdheadThin("残業")
#ALtdheadThin("休出")
#ALtdheadWide("修正理由、備考")
</tr>

#foreach ($rdlist in $result.DateListKeys)
#set($isrd = $rdlist.IsResultData)
#if($isrd)
#set($rd = $rdlist.Rd)
#else
#set($rd = "")
#end

#set($outcomes = $rdlist.OutgoingComeback)
#set($listsize = $outcomes.size())
#set($saturday_sunday_holiday = $rdlist.IsSaturdayOrSundayOrHoliday)
#set($beforeafter = $rdlist.BeforeAfter)
#set($entityid = "")
#if($isrd)
#set($entityid = $rd.TimecardId.toString())
#else
#set($entityid = "new")
#end

#set($class = "")
#if($saturday_sunday_holiday == 1)
#set($class = "saturday")
#elseif($saturday_sunday_holiday == 2)
#set($class = "sunday")
#elseif($saturday_sunday_holiday == 3)
#set($class = "holiday")
#end
#if($beforeafter == 0)
#set($class = "today")
#end

<tr class="$class">
#ALtdcellheaderAtt("nowrap='nowrap'")
#set($formLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date))
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($formLink)', '$!portlet.ID', 'aipo.exttimecard.onLoadExtTimecardDialog')" >$rdlist.DateStr</a>
#ALtdcellfooter()

#ALtdcellheaderAtt("align='center' rowspan='$listsize'")
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSystemDetailScreen").addQueryData("entityid",$result.TimecardSystem.SystemId))');">$result.TimecardSystem.SystemName</a>
#ALtdcellfooter()

#if($beforeafter > 0)

#if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE} || $!{rd.IsTypeP})
<td nowrap='nowrap' align='center' colspan='6' class="$class">
#if($!{rd.IsTypeA})
    欠勤
#elseif($!{rd.IsTypeH})
    有休
#elseif($!{rd.IsTypeC})
    代休
#elseif($!{rd.IsTypeE})
    その他
#elseif($!{rd.IsTypeP})
    出勤
#end
</td>
#else
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#ALtdcellAtt(" " "")
#end

<td rowspan='$listsize' class='$class'>
#if($!{rd.ReasonFlg})
修正理由：$!{rd.Reason}
#if($!{rd.RemarksFlg})
	、
#end
#end
#if($!{rd.RemarksFlg})
備考：$!{rd.Remarks}
#end
</td>

#if($!result.TargetUserId == $!result.UserId)
##ALtdcellAtt("#ALajaxbuttonLinkCallback('編集' $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) 'images/icon/icon_edit.gif' $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap' rowspan='$listsize' ")
#end

#else

#set($first = 0)
#foreach ($outcome in $outcomes)

#if($first == 0)

#if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE})
<td nowrap='nowrap' align='center' colspan='7' class="$class">
#if($!{rd.IsTypeA})
    欠勤
#elseif($!{rd.IsTypeH})
    有休
#elseif($!{rd.IsTypeC})
    代休
#elseif($!{rd.IsTypeE})
    その他
#end
</td>
<td rowspan='$listsize' class='$class'>
#if($!{rd.ReasonFlg})
修正理由：$!{rd.Reason}
#if($!{rd.RemarksFlg})
	、
#end
#end
#if($!{rd.RemarksFlg})
備考：$!{rd.Remarks}
#end
</td>
#if($!result.TargetUserId == $!result.UserId)
##ALtdcellAtt("#AUIajaxbuttonLinkCallback('編集' $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap' rowspan='$listsize'")
#end
#else
#if($rdlist.IsNotNullClockInTime)
        #ALtdcellAtt("$!{rd.ClockInTime.Hour}時$!{rd.ClockInTime.Minute}分" "nowrap='nowrap' align='center' rowspan='$listsize'")
#else
#if($saturday_sunday_holiday == 0)
#if($!result.TargetUserId == $!result.UserId)
#ALtdcellAtt("#AUIajaxbuttonLinkCallback('未入力' $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap' rowspan='$listsize'")
#else
#ALtdcellAtt('' "")
#end
#else
#ALtdcellAtt("" "nowrap='nowrap' align='center' rowspan='$listsize'")
#end
#end

#if($rdlist.IsNotNullClockOutTime)
    #ALtdcellAtt("$!{rd.ClockOutTime.Hour}時$!{rd.ClockOutTime.Minute}分" "nowrap='nowrap' align='center' rowspan='$listsize' ")
#else
#if($saturday_sunday_holiday == 0)
#if($!result.TargetUserId == $!result.UserId)
#ALtdcellAtt("#AUIajaxbuttonLinkCallback('未入力' $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap' rowspan='$listsize'")
#else
#ALtdcellAtt('' "")
#end
#else
#ALtdcellAtt("" "nowrap='nowrap' align='center' rowspan='$listsize'")
#end
#end

#ALtdcellAtt($outcome.get('outgoing') "align='center' nowrap='nowrap'")
#ALtdcellAtt($outcome.get('comeback') "align='center' nowrap='nowrap'")
#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getWorkHourWithoutRestHour(true)})}" "align='center' rowspan='$listsize'")
#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOvertimeHourWithoutRestHour(true)})}" "align='center' rowspan='$listsize'")
#ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOffHour(true)})}" "align='center' rowspan='$listsize'")

<td rowspan='$listsize' class='$class'>
#if($!{rd.ReasonFlg})
修正理由：$!{rd.Reason}
#if($!{rd.RemarksFlg})
	、
#end
#end
#if($!{rd.RemarksFlg})
備考：$!{rd.Remarks}
#end
</td>

#if($!result.TargetUserId == $!result.UserId)
##ALtdcellAtt("#ALajaxbuttonLinkCallback('編集' $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) 'images/icon/icon_edit.gif' $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap' rowspan='$listsize'")
#end
#end
#set($first = 1)
</tr>
#else
<tr>
#ALtdcellAtt($outcome.get('outgoing') "align='center' nowrap='nowrap'")
#ALtdcellAtt($outcome.get('comeback') "align='center' nowrap='nowrap'")
</tr>
#end
#end
#end
</tr>
#end
#AUItablefooter()

<div class="auiSummaryMeta clearfix">
<div class="auiSelectButton floatRight">
<div class="floatLeft" style="line-height:24px;margin-right:10px;"><strong>$!{result.ViewMonth.Year} 年 $!{result.ViewMonth.Month} 月</strong></div>
<ul class="floatLeft">
<li style="margin-right:10px;"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="今月へ" class="btn" style="width:4em;"><span>今月へ</span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="先月へ" class="first arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_l.gif" alt="先月へ" /></span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="来月へ" class="last arrow"><span><img src="https://app.aipo.com/themes/orange/images/icon/icon_arrow_r.gif" alt="来月へ" /></span></a></li>
</ul>
</div>
</div>

#else
<div class="message">指定されたグループにはユーザーが所属していません。</div>
#end


#end
#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/exttimecard-widget.vm")
