#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogEntryFormScreen').addQueryData('entityid','new')))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogThemaFormScreen").addQueryData("entityid","new")))
#set ($submenulist = [["記事を書く","javascript:aipo.common.showDialog('$newUrl1');","images/icon/icon_add.gif"], ["テーマを追加する","javascript:aipo.common.showDialog('$newUrl2');","images/icon/icon_add.gif"]])
#set($tabs = [["検索", "",""]])
## ---------------------------------------------------------------------------
#ALsubmenubar($submenulist "")
#ALajaxtabheader($tabs "")
#ALspacebothheader()
<form name="blogForm$!portlet.ID" id="blogForm$!portlet.ID" action="#" method="post" onsubmit="aipo.blog.onSubmitSerchButton(this ,'$!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogWordListScreen")', '$!portlet.ID');return false;">
<div style="padding:0px 0px 5px 0px">
<input name="sword" id="sword" type="text" size="20" maxlength="100" value="$!result.SearchWord" />
<input name="eventSubmit_doBlog_search_list" type="hidden" value="1" />
#ALsubmit('submit' ' 検 索 ')
<span class="middle">（記事タイトル・記事内容・コメントで検索します）</span>
</div>
#ALformfooter()

#if(! $result.List || $result.List.size() == 0)
<div class="message">指定された条件に該当する記事はありません。</div>
#else
#ALajaxpageview('BlogWordListScreen' $result)
#foreach ($record in $result.List)
#if($record)
<div class="spaceTop">
<h3>$record.TitleDate &nbsp;  <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogDetailScreen").addQueryData('entityid',$record.EntryId))');">${record.Title}</a></h3>
$record.Note
<table width="100%"  border="0" cellspacing="0" cellpadding="0"><tbody><tr>
<td align="right"> #if(${record.CommentsNum} == 0) コメント(0) #else <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogDetailScreen").addQueryData('entityid',$record.EntryId))','$!portlet.ID',aipo.blog.onLoadBlogCommentDialog);">コメント(${record.CommentsNum}) </a> #end | <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogDetailScreen").addQueryData('entityid',$record.EntryId))');">続きはこちら </a>
#if($result.LoginUid == $result.ViewUid)
| <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogEntryFormScreen").addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid',$record.EntryId))','$!portlet.ID',aipo.blog.onLoadBlogDialog);">編集 </a>
#end
</td>
</tr></tbody></table>
</div>
#end
#end
#ALajaxpageviewFooter('BlogWordListScreen' $result)
#end
#ALspacebothfooter()
#ALajaxtabfooter()
<script language="JavaScript" type="text/javascript">
//<![CDATA[

    dojo.byId("sword").focus();
	
//]]>
</script> 
