#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($action_str = "$l10n.GPDB_ADD")
#set ($event_submit = "eventSubmit_doGpdb_insert")
#set ($subtitle = "$l10n.GPDB_DATABASE_ADD")
#set ($GpdbItem = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemListScreen").addQueryData('reset_keyword_params','true')))
#else
#set ($action_str = "$l10n.GPDB_UPDATE")
#set ($subtitle = "$l10n.GPDB_DATABASE_EDIT")
#set ($event_submit = "eventSubmit_doGpdb_update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("gpdbForm" $jslink $portlet "GpdbFormJSONScreen" "#if($mode=='new_form')ptConfig['$!portlet.ID'].reloadUrl='$GpdbItem'#end;aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.gpdb.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('gpdb_name'))")
#ALtditem("#ALtextfield('gpdb_name' $!result.GpdbName '100%' 50 'active')")
#ALtdcaption($!result.getFieldName("mail_flg"))
#ALtditemheader()
<input name="mail_flg_checkbox" type="checkbox" value="" id="$!{portlet.ID}mail_flg_id" #if($!result.MailFlg.toString() == "t") checked="checked" #end onchange="aipo.gpdb.formFlgToggle(this,'mail_flg');"/>&nbsp;<label for="$!{portlet.ID}mail_flg_id">$l10n.GPDB_SEND_EMAIL_DATA_REGISTRATION</label>
<input name="mail_flg" type="hidden" id="mail_flg" value="$!result.MailFlg.toString()" />
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
