#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($action_str = "$l10n.GPDB_ADD")
#set ($event_submit = "eventSubmit_doGpdb_insert")
#set ($subtitle = "$l10n.GPDB_DATA_ADD")
#else
#set ($action_str = "$l10n.GPDB_UPDATE")
#set ($subtitle = "$l10n.GPDB_DATA_UPDATE")
#set ($event_submit = "eventSubmit_doGpdb_update")
#end
#set ($indicator_id = "indicator-dlg-")
#set ($adminTab = $!utils.escapeXML($!jslink.getAction("controls.Maximize",$!portlet.ID).addQueryData("admintab","true")))
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#if(!$!result.Gpdb)
	#ALbuttonheader()
	#AUIEmptyMessage("" "$utils.getl10nFormat1('GPDB_EMPTY_LONG_MESSAGE_HREF',${adminTab})")
	#ALajaxbuttonClose()
#ALbuttonfooter()
#else
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("gpdbForm" $jslink $portlet "GpdbRecordFormJSONScreen" "aipo.fileuploadadv.createSelectFromFileList(this, '$!portlet.ID');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.gpdb.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
	##対象データベース
	#ALtdcaption("$l10n.GPDB_DATABASE")
	#ALtditem($result.Gpdb.GpdbName)
##=====================項目配置START=====================
#foreach($item in $result.GpdbItemList)
	##-----------変数設定-----------
	#set ($type = $!item.Type.toString())    ##入力形式
	#set ($field = "field_$item.GpdbItemId") ##フィールド名
	#set ($record = $result.getRecordResult($item.GpdbItemId.toString())) ##レコードの値
	##表示サイズ（横）
	#if ($!item.SizeCol.toString())
		#set ($sizeCol = "${item.SizeCol}px")
	#else
		#set ($sizeCol = "300px")
	#end
	##表示サイズ（縦）
	#if ($!item.SizeRow.toString())
		#set ($sizeRow = "${item.SizeRow}px")
	#else
		#set ($sizeRow = "100px")
	#end
	##-----------項目名出力-----------

	#if (($type=='08' || $type=='11' || $type=='13' || $type=='12' || $type=='14') && !$record)
	#else
    	#if ($item.RequiredFlg.toString() == "t")
			#ALtdcaptionAtt("#ALrequired($item.WbrGpdbItemName)" "style='word-break: break-all;white-space: normal;'")
    	#else
			#ALtdcaptionAtt("$item.WbrGpdbItemName" "style='word-break: break-all;white-space: normal;'")
    	#end
	#end
	##-----------項目出力-----------

	#if ($type=='02')
		##テキストエリア
		#ALtditemheader()
		#ALtextarea($field "$!record.Value" 10 40)
		#ALtditemfooter()
	#elseif ($type=='04' || $type=='05')
		##選択式（択一／複数）
		#ALtditemheader()
		<select name="$field"#if ($type=='05') multiple="multiple" size="$!item.Line"#end class="w100">
		##選択式（択一）
		#if ($type=='04')
		<option value="">$l10n.GPDB_NOT_SET</option>
		#end
		#foreach($kubun in $result.getKubunValueList($item.GpdbKubunId.toString()))
			<option value="$!kubun.GpdbKubunValueId" #if($!record.ValueList.contains($!kubun.GpdbKubunValueId.toString())) selected#end>$!kubun.GpdbKubunValue</option>
		#end
		</select>
		#ALtditemfooter()
	#elseif ($type=='06' || $type=='07')
		##ファイル、画像
		#ALtditemheader()
		<div #if(!$result.hasAttachmentInsertAuthority() && !$result.hasAttachmentDeleteAuthority())class="hide"#end>
		<div class="clearfix">
 		#if($result.hasAttachmentInsertAuthority())
 		<div>
		<iframe name="$field" id="$field" allowtransparency="true" class="auiInputFileFrame" src="$!jslink.getPortletById($!{portlet.ID}).addQueryData('template','FileuploadadvFormScreen').addQueryData('mode','miniform').addQueryData('msize','1').addQueryData('keyid', $item.GpdbItemId)" frameborder="0" scrolling="no" ></iframe>
		</div>
		#end
		<ul id="attachments_$!{portlet.ID}_$!{item.GpdbItemId}" class="attachments">
		#foreach($line in $!record.AttachmentFileList)
			#ACLFileList($line)
		#end
		</ul>
		<div id="messageDiv_$!{portlet.ID}_$!{item.GpdbItemId}"></div>
		<input type="hidden" id="folderName_$!{portlet.ID}_$!{item.GpdbItemId}" name="folderName_$!{item.GpdbItemId}" value="$!result.FolderName" />
		</div>
		</div>
		#ALtditemfooter()
	#elseif ($type=='08')
		##自動採番
		#if($record)
			#ALtditem("$!record.WbrValue")
		#else
##			#ALtditem("※自動採番")
		#end
	#elseif ($type=='10')
		##日付
		#ALtditemheaderAtt('class="auiSetDate"')
		<div class="mb5">
		#if ($item.RequiredFlg.toString() == "t")
    	    <div dojoType="aipo.widget.DropdownDatepicker" id="${field}Span" widgetId="${field}Span"  iconURL="images/icon/icon_date.gif" iconAlt="$item.GpdbItemName" hiddenId="${field}" #if ($!record.Value.toString()) initValue="$!{record.Value}" #else initValue="" checked="checked" #end inputId="${field}_input" dateId="${field}" displayCheck="none"></div>
		#else
    	    <div dojoType="aipo.widget.DropdownDatepicker" id="${field}Span" widgetId="${field}Span"  iconURL="images/icon/icon_date.gif" iconAlt="$item.GpdbItemName" hiddenId="${field}" #if ($!record.Value.toString())) initValue="$!{record.Value}" #else initValue="" checked="checked" #end inputId="${field}_input" dateId="${field}" displayCheck=""></div>
		#end
		</div>
		#ALtditemfooter()
	#elseif ($type=='11' || $type=='13')
		##作成日、登録者
		#if($record)
			#ALtditem("$!record.WbrDispValue")
		#else
##			#ALtditem("※登録時に設定")
		#end
	#elseif ($type=='12' || $type=='14')
		##更新日時、更新者
		#if($record)
			#ALtditem("$!record.WbrDispValue")
		#else
##			#ALtditem("※更新時に設定")
		#end
	#else
		##テキスト、リンク、メール
		#if($record)
			#ALtditem("#ALtextfield($field $!record.Value '100%' 50 '')")
		#else
			#ALtditem("#ALtextfield($field '' '100%' 50 '')")
		#end
	#end
#end
##=====================項目配置END=====================
#ALtablefooter()
#ALbuttonheader()
<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="$action_str" onclick="aimluck.io.setHiddenValue(this);">
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#end
#ALdialogfooter()
