#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#if($result.GpdbAllList && $result.GpdbAllList.size()>0)
#set ($addGpdbItem = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemFormScreen").addQueryData("entityid","new").addQueryData("gpdb_id",$!result.CurrentFilter)))
#set ($orderGpdbItem = $!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemChangeTurnFormScreen").addQueryData("gpdb_id",$!result.CurrentFilter))
#set ($centering = "style='text-align:center'")
#set ($centeringMb_hide = "class='center mb_hide'")
#end

## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

<h2>$l10n.GPDB_SETTING_DATABASE_ITEM:
#foreach( $record in $result.GpdbAllList )
	#if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbId.toString()) $!record.WbrGpdbName #end
#end
</h2>

#if(!$result.GpdbAllList || $result.GpdbAllList.size()==0)
	<div class="auiBlankBox">$l10n.GPDB_ADD_DATABASE_ITEM</div>
#else
#AUISummaryDiv()
	#if($result.getGpdbSum() != 0)
	#AUIbuttonAction("$l10n.GPDB_ADD_ITEM" "javascript:aipo.common.showDialog('$addGpdbItem','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
	#end
#AUISummaryDivfooter()

###AUISummaryDiv()
##		#if($result.getGpdbSum() != 0)
##		<form class="auiForm" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
##		<select sytle="max-width: 180px" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')">
##		#foreach( $record in $result.GpdbAllList )
##		<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemListScreen").addQueryData("filter",$!record.GpdbId).addQueryData("filtertype","gpdb_id"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbId.toString()) selected="selected" #end>$!record.WbrGpdbName</option>
##		#end
##		</select>
##		#ALformfooter()
##		#end
###AUISummaryDivfooter()
<div id="listmessageDiv"></div>
#ALajaxlistformheader("$l10n.GPDB_ITEM")
#if($result.getGpdbSum() == 0)
#AUIrowTableWide()
<tr><td colspan="4" class="auiNoData">
<p class="mh10">
#AUIbuttonAction("$l10n.GPDB_ADD_ITEM" "javascript:aipo.common.showDialog('$addGpdbItem','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
</p>
</td></tr>
#AUItablefooter()
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.COMMON_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbItemFormJSONScreen').addQueryData('gpdb_id',$!result.CurrentFilter).addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.gpdb.onListReceiveMessage")
#AUIajaxbuttonLink("$l10n.GPDB_CHANGE_ITEM_ORDER" $orderGpdbItem)
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</div>
#AUIajaxpageview('GpdbItemListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;"></colgroup>
<colgroup style="width:12em;"></colgroup>
<colgroup style="width:8em;"></colgroup>
<colgroup class="mb_hide" style="width:8em;"></colgroup>
<colgroup class="mb_hide" style="width:8em;"></colgroup>
<colgroup class="mb_hide" style="width:8em;"></colgroup>
<colgroup style=""></colgroup>
<tbody>
<tr class="mb_hide">
#ALtdheadAtt("#ALswitchCheckbox()" 'class="auiMTCheck center"')
#ALtdhead("$l10n.GPDB_ITEM_NAME")
#ALtdhead("$l10n.GPDB_INPUT_FORM")
#ALtdheadAtt("$l10n.GPDB_ITEM_TITLE" $centering)
#ALtdheadAtt("$l10n.GPDB_ESSENTIAL" $centering)
#ALtdheadAtt("$l10n.GPDB_LIST" $centering)
#ALtdheadAtt("$l10n.GPDB_SORT" $centering)
#ALtdhead("")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtditemheaderAtt('class="auiMTCheck center"')
#if("$!record.TitleFlg"!="t")
<input name='check$!record.GpdbItemId' type='checkbox' value='$!record.GpdbItemId'/>
#end
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemDetailScreen").addQueryData("entityid",$record.GpdbItemId).addQueryData("gpdb_id",$record.GpdbId))');">$!record.WbrGpdbItemName</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
$!record.TypeName
#ALtdcellfooter()
#ALtdcellheaderAtt($centeringMb_hide)
#if("$!record.TitleFlg"=="t")$l10n.GPDB_YES #end
#ALtdcellfooter()
#ALtdcellheaderAtt($centeringMb_hide)
#if("$!record.RequiredFlg"=="t")$l10n.GPDB_YES #end
#ALtdcellfooter()
#ALtdcellheaderAtt($centeringMb_hide)
#if("$!record.ListFlg"=="t")$l10n.GPDB_YES #end
#ALtdcellfooter()
#ALtdcellheaderAtt($centeringMb_hide)
#if("$!record.DefaultSortFlg"=="t")
	#if("$!record.AscDesc" == "DESC")$l10n.GPDB_DESC#else$l10n.GPDB_ASC#end
#end
#ALtdcellfooter()
#ALtdcellheader()
#ALtdcellfooter()
</tr>
#end
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.COMMON_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbItemFormJSONScreen').addQueryData('gpdb_id',$!result.CurrentFilter).addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.gpdb.onListReceiveMessage")
#AUIajaxbuttonLink("$l10n.GPDB_CHANGE_ITEM_ORDER" $orderGpdbItem)
</div>
#AUIajaxpageview('GpdbItemListScreen' $result)
#AUISummaryDivfooter()
#end
#ALformfooter()
#end
#AUIcontentsAreaFooter()

#parse("/portlets/html/gpdb-widgets.vm")
