#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($addGpdb = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbFormScreen").addQueryData("entityid","new")))
#set ($orderGpdb = $!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbChangeTurnFormScreen"))
#set ($adminTab = $!utils.escapeXML($!jslink.getAction("controls.Maximize",$!portlet.ID).addQueryData("admintab","true")))

## ---------------------------------------------------------------------------
#AUIwideAreaHeader()
#if(!$result.GpdbAllList || $result.GpdbAllList.size()==0)
#AUIEmptyMessage("" "$utils.getl10nFormat1('GPDB_EMPTY_LONG_MESSAGE_HREF',${adminTab})")
#else
<div class="auiSummaryMeta clearfix mt0">
  <div class="filters floatLeft" id="filters_$!{portlet.ID}">
#foreach( $record in $result.GpdbAllList )
	#if($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbId.toString())
		<a href="javascript:void(0);"class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.gpdb.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$!record.GpdbName</span></a>
	#end
#end
  </div>
  #if($result.List.size() > 0)
  <div class="floatRight">
     #AUIajaxpageview('GpdbTopScreen' $result)
  </div>
  #end
</div>
<div class="menubar multi " id="menubar_auiFilter_$!portlet.ID" style="width:130px;display:none;">
	<div>
		<ul class="filtertype_$!portlet.ID" data-type="post" data-defaultparam="0">
			#foreach( $record in $result.GpdbAllList )
			<li #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbId.toString()) class="selected" #end><a href="javascript:void(0)"  #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbId.toString()) class="selected" #end onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbTopScreen").addQueryData("filter",$!record.GpdbId).addQueryData("filtertype","gpdb_id").addQueryData('tab','list').addQueryData('reset_keyword_params','true'))','$!portlet.ID');" >$record.WbrGpdbName</a></li>
			#end
		</ul>
	</div>
</div>
#if($result.List.size() == 0)
#AUIEmptyMessage("" "$l10n.GPDB_EMPTY_DATA_MESSAGE")
#else
<table class="auiRowTable wide">
	<tbody>
	#set($titleItemId = "")
	#foreach($item in $result.GpdbItemList)
		#if ("$!item.TitleFlg.toString()" == "t")
			#set($titleItemId = $!item.GpdbItemId.toString())
		#end
		#if("$!item.Type.toString()" == ("10"))
			#set($dateId = "$!item.GpdbItemId.toString()")
		#elseif ("$!item.Type.toString()" == ("11"))
			#set($createDateId = "$!item.GpdbItemId.toString()")
		#elseif("$!item.Type.toString()" == ("12"))
			#set($updateDateId = "$!item.GpdbItemId.toString()")
		#elseif("$!item.Type.toString()" == ("13"))
			#set($createUserId = "$!item.GpdbItemId.toString()")
		#elseif("$!item.Type.toString()" == ("14"))
			#set($updateUserId = "$!item.GpdbItemId.toString()")
		#end
	#end
	#set($recordNo = "")
	#foreach($record in $result.List)
		#if($recordNo.toString() != $record.RecordNo.toString())
			#if($velocityCount > 1)
				</tr>
			#end
			<tr>
			#set($recordNo = $record.RecordNo.toString())
		#end
		#if ($titleItemId.toString() == $record.GpdbItemId.toString())
			#ALtdcellNowrapheaderAtt('class="auiMTCaption"')
			<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbRecordDetailScreen").addQueryData("entityid",$record.RecordNo))');">$!record.WbrDispValue</a>
			#ALtdcellNowrapfooter()
		#elseif ($createUserId.toString() == $record.GpdbItemId.toString())
			#ALtdcellNowrapheader()
			<a href="javascript:void(0);" onclick="aipo.message.popupProfile($record.UserId,arguments[0])">$!record.WbrDispValue</a>
			#ALtdcellNowrapfooter()
		#elseif ($updateUserId.toString() == $record.GpdbItemId.toString())
			#ALtdcellNowrapheader()
			<a href="javascript:void(0);" onclick="aipo.message.popupProfile($record.UserId,arguments[0])">$!record.WbrDispValue</a>
			#ALtdcellNowrapfooter()
		#elseif ("$!item.TitleFlg.toString()" == "t")
			#ALtdcellNowrapAtt($!record.WbrDispValue 'class="auiMTCaption"')
		#else
			#ALtdcellNowrapAtt($!record.WbrDispValue 'class="mb_hide"')
		#end
		#if($velocityCount == $result.List.size())
			##最終行の場合
			<!--最後！-->
			</tr>
		#end
	#end
    </tbody>
</table>
#end
#end
#AUIcontentsAreaFooter()
