#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($addGpdbKubun = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbKubunFormScreen").addQueryData("entityid","new")))
#if ($!result.CurrentFilter)
#set ($gpdbKubunId = $!result.CurrentFilter)
#else
#set ($gpdbKubunId = "")
#end
#set ($orderGpdbKubun = $!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbKubunChangeTurnFormScreen").addQueryData("gpdb_kubun_id",$gpdbKubunId))
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<h2>$l10n.GPDB_MANAGE_SELECTION_ITEMS</h2>
#AUISummaryDiv()
#if($result.getAllGpdbKubunValueSum() != 0)
#AUIbuttonAction("$l10n.GPDB_ADD_SELECTION_ITEMS" "javascript:aipo.common.showDialog('$addGpdbKubun','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
#end
#AUISummaryDivfooter()

#AUISummaryDiv()
#if($result.getAllGpdbKubunValueSum() != 0)
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="max-width: 180px">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbKubunListScreen").addQueryData("filter","").addQueryData("filtertype","gpdb_kubun_id"))">$l10n.GPDB_ALL_SELECTION_ITEMS</option>
#foreach( $record in $result.AllGpdbKubun )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbKubunListScreen").addQueryData("filter",$!record.GpdbKubunId).addQueryData("filtertype","gpdb_kubun_id"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GpdbKubunId.toString()) selected="selected" #end>$!record.GpdbKubunName</option>
#end
</select>
#end
#AUISummaryDivfooter()

<div id="listmessageDiv"></div>
#ALajaxlistformheader("$l10n.GPDB_VALUE")
#if($result.getAllGpdbKubunValueSum() == 0)
#AUIrowTableWide()
<tr><td colspan="4" class="auiNoData">
<p class="mh10">
#AUIbuttonAction("$l10n.GPDB_ADD_SELECTION_ITEMS" "javascript:aipo.common.showDialog('$addGpdbKubun','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
</p>
</td></tr>
#AUItablefooter()
#elseif($result.List.size() == 0)
$l10n.GPDB_NO_SELECTION_ITEM<br />
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.COMMON_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbKubunFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.gpdb.onListReceiveMessage")
#if ($result.CurrentFilter)
#AUIajaxbuttonLink("$l10n.GPDB_CHANGE_VALUE_ORDER" $orderGpdbKubun)
#end
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</div>
#AUIajaxpageview('GpdbKubunListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;"></colgroup>
<colgroup style="width:15em;"></colgroup>
<colgroup style=""></colgroup>
<tbody>
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" 'class="auiMTCheck center"')
##ALtdhead("#ALajaxsort('gpdb_kubun_name' '$l10n.GPDB_SELECTION_ITEMS' $result 'GpdbKubunListScreen')")
#ALtdhead("$l10n.GPDB_SELECTION_ITEMS")
#ALtdhead("$l10n.GPDB_VALUE")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.GpdbKubunValueId' type='checkbox' value='$!record.GpdbKubunValueId'/>" 'class="auiMTCheck center"')
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>$!record.WbrGpdbKubunName</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbKubunDetailScreen").addQueryData("entityid",$record.GpdbKubunValueId))');">$!record.GpdbKubunValue</a>
</div>
#ALtdcellfooter()
</tr>
#end
</table>
#AUISummaryDiv()
#AUIajaxpageview('GpdbKubunListScreen' $result)
#AUISummaryDivfooter()
#end
#ALformfooter()
#AUIcontentsAreaFooter()

#parse("/portlets/html/gpdb-widgets.vm")
