#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($newUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbRecordFormScreen").addQueryData("entityid","new")))

## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>

#if($result.List && $!result.GpdbId)
<div class="auiWidget clearfix widgetButton">
#AUIbuttonAction("$l10n.GPDB_ADD_DATA" "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
</div>
#else
#if(!$result.GpdbAllList || $result.GpdbAllList.size()==0)
<div class="auiWidget clearfix widgetButton">
#AUIDisableButton("$l10n.GPDB_ADD_DATA")
</div>
#else
<div class="auiWidget clearfix widgetButton">
#AUIbutton("$l10n.GPDB_ADD_DATA" "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.gpdb.onLoadGpdbDialog);")
</div>
#end
#end

<div id="subNavigation">
<div class="auiWidget clearfix">
<ul>
#foreach($record in $!result.GpdbAllList )
<li #if ($!result.GpdbId && $!result.GpdbId == $!record.GpdbId.toString()) class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbRecordScreen").addQueryData("filter",$!record.GpdbId).addQueryData("filtertype","gpdb_id").addQueryData('tab','list').addQueryData('reset_keyword_params','true'))','$!portlet.ID');">$!{record.WbrGpdbName}</a></li>
#end
</ul>
<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbListScreen')', '$!portlet.ID');">$l10n.GPDB_MANAGEMENT</a>
</div>
</div>
##<div class="auiWidget clearfix">
##<div style="margin:0.5em 0;">
##<a href="javascript:void(0);" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbItemListScreen').addQueryData('reset_keyword_params','true')', '$!portlet.ID');">データベースの項目設定</a>
##</div>
##</div>
<div class="auiWidget clearfix">
<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbKubunListScreen')', '$!portlet.ID');">$l10n.GPDB_MANAGE_SELECTION_ITEMS</a>
</div>
</div>
</div>
</div>