#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookGroupFormScreen").addQueryData("entityid","new")))
#set ($newUrl3 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookCompanyFormScreen").addQueryData("entityid","new")))
#set ($submenulist = [["アドレスを追加する","javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.addressbook.onLoadAddressbookDialog);","images/icon/icon_add.gif"],["会社情報を追加する","javascript:aipo.common.showDialog('$newUrl3','$!portlet.ID',aipo.addressbook.onLoadAddressbookCompanyDialog);","images/icon/icon_add.gif"],["グループを追加する","javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.addressbook.onLoadAddressbookGroupDialog);","images/icon/icon_add.gif"]])
#if($!result.Index)
#set ($idx = $!result.Index)
#else
#set ($idx = "")
#end
## ---------------------------------------------------------------------------
##ALsubmenubar($submenulist "")
#AUIcontentsAreaHeader()

#if($result.SearchWord && $result.SearchWord.toString() != "")
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_search_list','1')")
#set($pageviewscreen = "AddressBookWordScreen")
#else
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list','1')")
#set($pageviewscreen = "AddressBookListScreen")
#end
#set($tabs = [["社外アドレス", "syagai", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData('tab','syagai')"], ["社内アドレス", "corp", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData('tab','corp')"]])

#AUISummaryDiv()
<form class="auiSearch floatLeft" name="addressbook$!portlet.ID" id="addressbook$!portlet.ID" action="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData('mode','ajaxsearch')) method="post" onsubmit="aipo.addressbook.onSubmitSerchButton(this,'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData('mode','ajaxsearch'))','$!portlet.ID','$!result.currentTab'); return false;">
<input class="text floatLeft" name="sword" id="sword" value="$!result.SearchWord" maxlength="100" style="margin-right:5px;ime-mode:active" />
<a class="auiButtonSearch floatLeft" onclick="aimluck.io.setHiddenValue(this);">検索</a>
<input name="mode" type="hidden" value="ajaxsearch" />
</form>
#AUISummaryDivfooter()

#if(!($result.hasAuthorityList))
  アクセス権限がありません。管理者にお問い合わせください。
#else
#if($result.List.size() == 0)
指定された条件に該当するアドレスはありません。<br />
#else
#ALajaxlistformheader('AddressBook')
#AUISummaryDiv()
#AUIajaxpageview(${pageviewscreen} $result)
#AUISummaryDivfooter()
#AUISummaryDiv()
#AUIsearchresult($result.SearchWord)
#AUISummaryDivfooter()
#AUIrowTableWide()
<tr>
#ALtdheadW25("#ALajaxsortaddressbook('name_kana' '名前' $result 'AddressBookListScreen')")
#ALtdhead('部署名')
#ALtdhead('役職')
#ALtdheadW25('メールアドレス')
#ALtdheadThin('電話番号（外線）')
#ALtdheadThin('電話番号（内線）')
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookDetailScreen").addQueryData("entityid",$record.AddressId).addQueryData("tab","$!result.currentTab"))');">$result.getStringCR($!record.Name)</a>
</div>
#if($!record.PublicFlag.toString() == 'F')
<img src="images/addressbook/addressbook_secret.gif" border="0" width="16" height="16" align="absmiddle" alt="非公開" title="非公開">
#end
</td>
#ALtdcellheader()
<div>
#set($pcount = 0)
#foreach($post in $record.PostList)
#if($pcount != 0)、&nbsp;#end
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountPersonPostDetailScreen").addQueryData("entityid",$!post.GroupId))');">$!post.Name</a>
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcellAtt($result.getStringCR($!record.PositionName) "nowrap='nowrap'")
#ALtdcell("<a href='mailto:$!record.Email'>$!record.Email</a>")
#ALtdcellAtt("$!record.Telephone" "nowrap='nowrap'")
#ALtdcellAtt("$!record.InTelephone" "nowrap='nowrap'")
</tr>
#end
#AUItablefooter()
#end
#ALformfooter()
#end

#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/addressbook-widgets.vm")