#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#AUISummaryDiv()

#AUISearchHeader("searchForm_" "searchForm_" "#" "aipo.addressbook.onSubmitSerchButton(this,'$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookScreen')','$!portlet.ID','','$indicator_id'); return false;")
<input class="text floatLeft" type="text" name="sword" id="sword" style="width:60%; margin-right:5px;" value="$!result.SearchWord" />
#AUIButtonSearch("$l10n.COMMON_SEARCH")
<input name="mode" type="hidden" value="ajaxsearch" />
&nbsp;
<i class="indicator" id="${indicator_id}$!{portlet.ID}" style="display:none;"></i>
#AUISearchFooter()
#AUISummaryDivfooter()

#if("$!result.CurrentTab" != "")
  #if($result.List.size() == 0)
	#AUIEmptyMessage("" "$l10n.ADDRESSBOOK_EMPTY_SHORT_MESSAGE")
  #else
    #AUISummaryDiv()
    #AUIsearchresult($result.SearchWord.toString())
    #AUIajaxpageview('AddressBookScreen' $result)
    #AUISummaryDivfooter()
    <table class="auiRowTable wide">
    <colgroup style="width:8em;" />
    <colgroup />
    <tbody>
    #foreach ($record in $result.List)
    <tr>
    #ALtdcellheader()
    #set ($url = "$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookDetailScreen').addQueryData('entityid',$record.AddressId).addQueryData('tab','$!result.currentTab'))")
	#if ($!record.PublicFlag.toString() == 'T')#set($publicFlag=true)#else#set($publicFlag=false)#end
	#AUIlinkList("aipo.common.showDialog('$url');" $result.getStringCR($!record.Name) $publicFlag "title='$l10n.TODO_CLOSE_PUBLIC'")
    #ALtdcellfooter()
    #ALtdcellheader()
    <div>
    $result.getStringCR($!record.CompanyName)
    </div>
    #ALtdcellfooter()
    </tr>
    #end
  </tbody></table>
  #end
#end


