#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * General Purpose Database Portlet was developed by Advance,Inc.
 * http://www.a-dvance.co.jp/
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
	#set ($action_str = "追加する")
	#set ($event_submit = "eventSubmit_doGpdb_insert")
	#set ($subtitle = "選択項目追加")
#else
	#set ($action_str = "更新する")
	#set ($subtitle = "選択項目編集")
	#set ($event_submit = "eventSubmit_doGpdb_update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="gpdb_val_switch1" style="display:none">新しく入力する</span>
<span id="gpdb_val_switch2" style="display:none">一覧から選択する</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("gpdbKubunForm" $jslink $portlet "GpdbKubunFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.gpdb.onReceiveMessage)")
<input name="is_new_kubun" type="hidden" value="$!result.NewKubun"/>
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('gpdb_kubun_id'))")
#ALtditemheader()
<div id="gpdbKubunInputField" #if(!$!{result.NewKubun})style="display:none"#end>
#ALtextfieldw100('gpdb_kubun_name' $!result.GpdbKubunName 50 'active')
</div>
<div id="gpdbKubunSelectField" #if($!{result.NewKubun})style="display:none"#end>
#ALselectpdheaderclass("gpdb_kubun_id" "" "w100")
#foreach( $record in $result.GpdbKubunList )
<option value='$!record.GpdbKubunId' #if ($!result.GpdbKubunId.toString() == $!record.GpdbKubunId.toString()) selected #end>$!record.GpdbKubunName</option>
#end
#ALselectfooter()
</div>
<div class="mt5">
<input name="kubun_input_button" type="button" class="button" value=" #if(!$!{result.NewKubun})新しく入力する#else一覧から選択する#end " onclick="aipo.gpdb.formSwitchKubunInput(this)" />
</div>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('gpdb_kubun_value'))")
#ALtditem("#ALtextfieldw100('gpdb_kubun_value' $!result.GpdbKubunValue 50 'active')")
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
