#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * General Purpose Database Portlet was developed by Advance,Inc.
 * http://www.a-dvance.co.jp/
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($GpdbItem = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","GpdbItemListScreen").addQueryData('filter',$!result.Detail.GpdbId).addQueryData('filtertype','gpdb_id')))

## ---------------------------------------------------------------------------
#ALdialogheader("データベース詳細")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader("データベース")
#ALtableheaderWide()
<div id="messageDiv"></div>
#ALtdcaption("データベース名")
#ALtditemheader()
$!result.Detail.WbrGpdbName
#ALtditemfooter()
#ALtdcaption("メール通知")
#if("$result.Detail.MailFlg" == "t")
#ALtdcell("データ登録時にメールを送信する")
#else
#ALtdcell("データ登録時にメールを送信しない")
#end
#ALtdcaption("作成者")
#ALtditem($!result.Detail.WbrCreateUserName)
#ALtdcaption("作成日")
#ALtditem($!result.Detail.CreateDate)
#ALtdcaption("更新日")
#ALtditem($!result.Detail.UpdateDate)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.gpdb.onLoadGpdbDialog")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.gpdb.onReceiveMessage")
#ALbutton("ajaxbuttonLink" "項目設定" "aipo.common.hideDialog();aipo.viewPage('$GpdbItem', '$!portlet.ID')")
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
