#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2015 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader("$l10n.GPDB_DATA_DETAIL")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader("$l10n.GPDB_DATA")
#ALtableheaderWide()
##=====================項目配置START=====================
#foreach($item in $result.Detail)
	#if($item.DetailFlg.toString() == "t")
		##-----------変数設定-----------
		#set ($record = $result.getRecordResult($item.GpdbItemId.toString()))
		#set ($type = $!item.Type.toString())    ##入力形式
		#set ($field = "field_$item.GpdbItemId") ##フィールド名
		##-----------項目名出力-----------
		#ALtdcaptionAtt("$item.WbrGpdbItemName" "style='word-break: break-all;white-space: normal;'")
		##-----------項目出力-----------
		#if($!type=="02")
			##テキストエリア
			<td>$!record.ValueBr</td>
		#elseif($!type=="03")
			##リンク
			<td><a href="$!record.Value" target="_blank">$!record.WbrValue</a></td>
		#elseif($!type=="06")
			##ファイル
			<td>
			#if($!record.AttachmentFileList && $!record.AttachmentFileList.size() > 0)
				<ul>
				#foreach( $attachmentFile in $!record.AttachmentFileList )
					<li><a #if(${client}=="IPHONE")target="_blank"#end href="$jslink.getTemplate("GpdbRecordFileRawScreen").addQueryData("entityid", $record.GpdbRecordId).addQueryData("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})">$result.getStringCR($attachmentFile.FileNameField)</a></li>
				#end
				</ul>
			#end
			</td>
		#elseif($!type=="07")
			##画像
			<td style="border-bottom:none;">
			#if($!record.AttachmentFileList && $!record.AttachmentFileList.size() > 0)
				<ul>
				#foreach( $attachmentFile in $!record.AttachmentFileList )
					<li><a #if(${client}=="IPHONE")target="_blank"#end href="$jslink.getTemplate("GpdbRecordFileRawScreen").addQueryData("entityid", $record.GpdbRecordId).addQueryData("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})">$result.getStringCR($attachmentFile.FileNameField)</a>
					#if($attachmentFile.isImage())
						<div id='popc' style='position:absolute'>
						</div>
						<div class="thumbBlock">
							<a href="javascript:void(0);" onclick="aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen','GpdbRecordFileRawScreen').addPathInfo("entityid", $record.GpdbRecordId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})');">
							<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("GpdbRecordFileThumbnailScreen").addQueryData("entityid", $record.GpdbRecordId).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br>
						</div>
					#end
					</li>
				#end
				</ul>
			#end
			</td>
		#elseif($!type=="09")
			##メール
			<td><a href="mailto:$!record.Value">$!record.WbrValue</a></td>
		#elseif($!type=="13")
			##登録者
			<td><a href="javascript:void(0);" onclick="aipo.message.popupProfile($record.UserId,arguments[0])">$!record.WbrDispValue</a></td>
		#elseif($!type=="14")
			##更新者
			<td><a href="javascript:void(0);" onclick="aipo.message.popupProfile($record.UserId,arguments[0])">$!record.WbrDispValue</a></td>
		#else
			<td>$!record.WbrDispValue</td>
		#end
	#end
#end
##=====================項目配置END=====================
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbRecordFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.gpdb.onLoadGpdbDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GpdbRecordFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.gpdb.onReceiveMessage")#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
