#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------
#ALspacebothheader()
#ALformheader('コンテナ管理' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaption("Locked Domain")
<td class="item">
#if($result.Detail.LockedDomainRequired.toString() == "true")
有効（$result.Detail.LockedDomainSuffix）
#else
無効
#end
</td>
#ALtdcaption("あなた宛のお知らせの自動更新")
<td class="item">
#if($result.Detail.CheckActivityInterval.toString() == "0")
自動更新しない
#elseif($result.Detail.CheckActivityInterval.toString() == "60")
1分毎
#elseif($result.Detail.CheckActivityInterval.toString() == "300")
5分毎
#elseif($result.Detail.CheckActivityInterval.toString() == "600")
10分毎
#elseif($result.Detail.CheckActivityInterval.toString() == "1800")
30分毎
#elseif($result.Detail.CheckActivityInterval.toString() == "3600")
1時間毎
#else

#end

</td>
#ALtdcaption("更新情報とあなた宛のお知らせの<br/>自動更新")
<td class="item">
#if($result.Detail.ActivitySaveLimit.toString() == "7")
7日間
#elseif($result.Detail.ActivitySaveLimit.toString() == "15")
15日間
#elseif($result.Detail.ActivitySaveLimit.toString() == "30")
30日間
#elseif($result.Detail.ActivitySaveLimit.toString() == "60")
60日間
#elseif($result.Detail.ActivitySaveLimit.toString() == "90")
90日間
#else

#end

</td>
#ALtdcaption("ガジェットXMLのキャッシュ")
<td class="item">
#if($result.Detail.CacheGadgetXml.toString() == "true")
有効
#else
無効
#end
</td>
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsContainerAdminFormScreen').addQueryData('entityid','edit')")
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
