#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($createDate_word = "$!{result.Detail.CreateDate.Year}$l10n.WIKI_YEAR$!{result.Detail.CreateDate.Month}$l10n.WIKI_MONTH$!{result.Detail.CreateDate.Day}$l10n.WIKI_DATE")
#set ($updateDate_word = "$!{result.Detail.UpdateDate.Year}$l10n.WIKI_YEAR$!{result.Detail.UpdateDate.Month}$l10n.WIKI_MONTH$!{result.Detail.UpdateDate.Day}$l10n.WIKI_DATE")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.WIKI_DETAIL)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader("Wiki")
<table class="listTable wide">
<caption>
#if($!result.Detail.isChild())
<span class="floatRight" style="font-weight:normal"><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WikiDetailScreen").addQueryData("entityid",$!result.Detail.parentId))', '$!portlet.ID', aipo.wiki.onLoadWikiDetail);" >$!result.Detail.getParentName()</a></span>
#end
$!result.Detail.name
</caption>
<tbody>
<tr>
  <td colspan="2">
	<div class="auiWikiContent">
	$!result.Detail.getNote()
    </div>
  </td>
</tr>
#if($!result.Detail.AttachmentFileList.size() > 0)
<tr>
  <td class="caption">$l10n.WIKI_FILE_ATTACH</td>
  <td>
	<ul>
	#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
		<li>&nbsp;<a #if("$!{client}"=="IPHONE")target="_blank"#end href="$jslink.getTemplate("WikiFileRawScreen").addPathInfo("entityid", $!result.Detail.Id).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})">$result.getStringCR($attachmentFile.FileNameField)</a><br />
		#if($attachmentFile.isImage())
			<div id='popc' style='position:absolute'></div>
			<div class="thumbBlock">
				<a href="javascript:void(0);" onclick="aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen','WikiFileRawScreen').addPathInfo("ownerid", $!result.Detail.OwnerId).addPathInfo("entityid", $!result.Detail.Id).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})');">
				<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("WikiFileThumbnailScreen").addQueryData("entityid", $!result.Detail.Id).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br />
			</div>
		#end
		</li>
	#end
    </ul>
  </td>
</tr>
#end

#ALtdcaption($l10n.WIKI_CREATE_USER)
#ALtditem($!result.Detail.createUser)
#ALtdcaption($l10n.WIKI_CREATE_DATE)
#ALtditem($createDate_word)
#ALtdcaption($l10n.WIKI_UPDATE_USER)
#ALtditem($!result.Detail.updateUser)
#ALtdcaption($l10n.WIKI_UPDATE_DATE)
#ALtditem($updateDate_word)
	</tbody>
</table>
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WikiFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.wiki.onLoadWikiDialog")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WikiFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.wiki.onReceiveMessage")
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
