#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------

#AUIcontentsAreaHeader()
<h2>$l10n.WIKI_MANAGEMENT</h2>
<div class="auiSummaryMeta clearfix">
<p>
#AUIbuttonAction($l10n.WIKI_CATEGORY_ADD "javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.wiki.onLoadCategoryDialog);")
</p>
</div>
#AUISummaryDiv()
#AUIajaxpageview('WikiCategoryListScreen' $result)
#AUISummaryDivfooter()
#AUIrowMTableWide()
<tr>
<th class="wCategory mb_hide">#ALajaxsort('category_name' $l10n.WIKI_CATEGORY $result 'WikiCategoryListScreen')</th>
<th class="wName">#ALajaxsort('user_name' $l10n.WIKI_CREATE_USER $result 'WikiCategoryListScreen')</th>
</tr>
#AUItablefooter()

#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/wiki-widgets.vm")
