#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($newUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WikiCategoryFormScreen").addQueryData("entityid","new")))

## ---------------------------------------------------------------------------

#AUIcontentsAreaHeader()

                  <h2>カテゴリの管理</h2>

                  #AUIbuttonAction($l10n.WIKI_CATEGORY_ADD "javascript:aipo.common.showDialog('$newUrl','$!portlet.ID',aipo.wiki.onLoadCategoryDialog);")
                  <div class="auiSummaryMeta clearfix">
                      <div class="floatRight">
                          <div class="count">1 - 10 / 20</div>
                          <div class="auiSelectButton floatLeft">
                              <ul class="floatLeft">
                                  <li title="前へ"><a href="javascript:void(0);" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
                                  <li title="次へ"><a href="javascript:void(0);" onclick="aipo.viewPage();" class="last arrow" title="次の 2 件"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <table class="auiRowTable wide">
                      <tbody>
                      <tr>
                          <th class="w75"> <a class="headDown" href="javascript:void(0);" onclick="">カテゴリ名</a>
                          </th>
                          <th class="w25 mb_hide"><a href="javascript:void(0);" onclick="">作成者</a>
                          </th>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>アーノルド シュワルツェネッガー</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>木村 一郎</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>アーノルド シュワルツェネッガー</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>木村 一郎</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>アーノルド シュワルツェネッガー</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>木村 一郎</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>アーノルド シュワルツェネッガー</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>木村 一郎</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>アーノルド シュワルツェネッガー</div></td>
                      </tr>
                      <tr>
                          <td>
                              <div>
                                  <a href="javascript:void(0);" onclick="">カテゴリ名カテゴリ名</a>
                              </div>
                          </td>
                          <td class="mb_hide"><div>木村 一郎</div></td>
                      </tr>
                      </tbody>
                  </table>

                  <div class="auiSummaryMeta clearfix">
                      <div class="floatRight">
                          <div class="count">1 - 10 / 20</div>
                          <div class="auiSelectButton floatLeft">
                              <ul class="floatLeft">
                                  <li title="前へ"><a href="javascript:void(0);" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
                                  <li title="次へ"><a href="javascript:void(0);" onclick="aipo.viewPage();" class="last arrow" title="次の 2 件"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>

#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/wiki-widgets.vm")