#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!set) #set($portletsum = $!set.size()) #else #set($portletsum = 0) #end
#set($tabs = [["$l10n.WAR_SET_UP_LAYOUT", "",""]])
## ---------------------------------------------------------------------------
##ALtabheader($tabs "")
#ALspacebothheader()
<h3>ページ名</h3>
<p style="margin-bottom:10px">
#if($isMypage)
$!pageTitle
#else
<form name="form$!{js_peid}" id="form$!{js_peid}" action="$!jslink.getPortletById($!{js_peid}).addQueryData('template', 'CustomizeFormJSONScreen')" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!js_peid',function(){ location.href='$!{jslink}/js_pane/$!{js_peid}?action=controls.Maximize' });return false;">
<input type="hidden" name="_name" value="ページ" />
<input type="hidden" name="secid" value="$secid" />
<input type="hidden" name="portlet_id" value="$!{js_peid}" />
<input type="hidden" name="mode" value="add" />
#ALbuttonheader()
#ALtextfield('pageTitle' $!pageTitle '40%' 10 'active')
#ALsubmit('setPageTitle' 'ページ名を変更する')
#ALbuttonfooter()
</form>
#end
</p>
#if($portletsum <= 0)
<div class="auiBlankBox">
<a title="アプリを追加する" href="$jslink.Template.addPathInfo('js_peid',$!set.ID).addPathInfo('mode','add').addQueryData('mtype', $mtype).addQueryData('action', 'controls.Customize')" class="auiButtonAction">$l10n.WAR_ADD_APPLICATION</a>
</div>
#else
<h3>$l10n.WAR_ADD_APP</h3>
<div class="center">
<a title="$l10n.WAR_ADD_APPLICATION" href="$jslink.Template.addPathInfo('js_peid',$!set.ID).addPathInfo('mode','add').addQueryData('mtype', $mtype).addQueryData('action', 'controls.Customize')" class="auiButtonAction">$l10n.WAR_ADD_APPLICATION</a>
</div>
<h3>$l10n.WAR_SELECT_POSITION</h3>
<div class="message">$l10n.WAR_SELECT_LAYOUT_BUTTON</div>
<table class="tableWrapper center">
<tbody>
<tr>
<td width="40%"></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=OneColumn"><img src="images/layout/layout_100.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumns"><img src="images/layout/layout_50-50.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumnsRight"><img src="images/layout/layout_25-75.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumnsLeft"><img src="images/layout/layout_75-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=ThreeColumnsSymetric"><img src="images/layout/layout_33-33-33.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="center" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=ThreeColumns"><img src="images/layout/layout_25-50-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" width="72" height="72" border="0" /></a></td>
<td width="40%"></td>
</tr>
</tbody>
</table>
<br />
<h3>$l10n.WAR_ARRANGE_APP</h3>
$l10n.WAR_ARRANGE_APP_UP_DOWN
$l10n.WAR_DELETE_APP
<table class="tableWrapper">
<tbody>
$data.User.setTemp("customizer",$customizer)
$!set.Controller.getContent($data)
</tbody>
</table>
#end
#ALspacebothfooter()
##ALtabfooter()

<script language="JavaScript" type="text/javascript">
//<![CDATA[
    aipo.portletset.menuSelected = 0;
//]]>
</script>

