${userName}(${mailAddress})${addScheduleMSG}

${title}
${titleName}
${date}
${dateDetail}
#if(${placeName})
${place}
${placeName}
#end
#if(${noteContent})
${note}
${noteContent}
#end
#if(${menbersName})
${menbers}
${menbersName}
#end

[${Alias}${accessTo}
#if(${Alias})
${globalUrl1}
#else
${outsideOffice}${globalUrl2}
${insideOffice}${globalUrl3}
#end
---------------------
${Alias}