#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($hasMember = false)
#set ($tabs = [[$l10n.SCHEDULE_SCHEDULE_DETAIL, "",""]])
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#if (${client}!= "IPHONE")
	#ALdialogheaderPrintSchedule($l10n.SCHEDULE_SCHEDULE_DETAIL "$!portlet.ID" "ScheduleDetailScreenPrint" "$!{result.getViewDate().toString()})" "$!{result.Detail.User.UserId.toString()}" "$entityid")
#else
	#ALdialogheaderDetailSmartPhone("$l10n.SCHEDULE_SCHEDULE_DETAIL")
#end
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxdetailformheader($l10n.SCHEDULE_SCHEDULE)
<input type="hidden" name="edit_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('mode','form').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="delete_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('mode','delete').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="change_status_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('mode','change_status').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}"/>
<input type="hidden" name="type" value="$!{result.Detail.Type}"/>
<input type="hidden" name="userid" value="$!{result.Detail.User.UserId.toString()}"/>
<input type="hidden" name="entityid" value="$entityid" />
#if($afterbehavior)
<input type="hidden" name="afterbehavior" value="1" />
#end
#if($!{result.ViewDate.Year} && $!{result.ViewDate.Month} && $!{result.ViewDate.Day} && ($!{result.ViewDate.Year} != "") && ($!{result.ViewDate.Month} != "") && ($!{result.ViewDate.Day} != ""))
#set($viewDateEnable = "true")
#else
#set($viewDateEnable = "false")
#end
#ALtableheaderWide()
#if(!($!result.isActivity() || $!ignore_viewdate == "true"))
#ALtdcaption($l10n.SCHEDULE_NAME)
#ALtditemheader()
#if($!{result.Detail.Type} == "U")
<a href="javascript: void(0)" onclick="aipo.message.popupProfile($!{result.Detail.User.UserId},arguments[0])">$!{result.Detail.User.AliasNameHtml}</a>
#else
$!{result.Detail.User.AliasNameHtml}
#end
#ALtditemfooter()
#end
#ALtdcaption($l10n.SCHEDULE_DATE)
#ALtditemheader()
#if($!{result.Detail.isSpan()})
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek} -
$!{result.Detail.EndDateFormatSpace} $!{result.Detail.EndDate.DayOfWeek}
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}<br/>
$!{result.Detail.Date}
#else
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}<br/>
$!{result.Detail.Date}
#end
#AUIiconScheduleSets($!{result.Detail})
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_TITLE)
#ALtditemheader()
#if(! ${result.Detail.isPublic()})#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'" "")#end$!{result.Detail.WbrName}
#ALtditemfooter()
#* 共有カテゴリ連携（ここから）  *#
#if($!result.isDisplayManHour())
#ALtdcaption($l10n.SCHEDULE_COMMON_CATEGORY)
#ALtditem($!{result.Detail.CommonCategoryName})
#end
#* 共有カテゴリ連携（ここまで）  *#

#*以下詳細画面の場所表示*#
#ALtdcaption($l10n.SCHEDULE_PLACE)
#if($result.enabledMapsFlag())
#ALtditemheader()
<a href="https://maps.apple.com/maps?q=$!{result.Detail.PlaceEncode} " target="_blank">$!{result.Detail.PlaceHtml} </a>
#ALtditemfooter()
#else
#ALtditem($!{result.Detail.PlaceHtml})
#end

#ALtdcaption($l10n.SCHEDULE_NOTE)
#ALtditem($!{result.Detail.Note})
#ALtdcaption($l10n.SCHEDULE_PUBLIC)
#ALtditemheader()
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC
#elseif(!$!result.Detail.isHidden())
$l10n.SCHEDULE_CLOSED_PUBLIC
#else
$l10n.SCHEDULE_HIDDEN_PUBLIC
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_ENTRY_USER)
#ALtditemheader()
#set($counter = 0)
#foreach($record in $!result.MemberList)
    #if($!result.isActivity() || $!ignore_viewdate == "true" || !($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}))
    <a href="javascript: void(0)" onclick="aipo.message.popupProfile($!{record.UserId.Value},arguments[0])">$!record.AliasName</a>
        #if($result.getStatus($record.UserId.Value) == "T")
        <i class="auiIcon auiIconTmpreserve"></i>
        #elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
        #set($counter = $counter + 1)
        <i class="icon-remove fcRed" title="$l10n.SCHEDULE_DELETED"></i>
        #end
    <br/>
    #end
#end

#if(($!result.MemberList.size() ) && $counter < ($!result.MemberList.size() - 1) )
#set ($hasMember = true)
#end

#if($hasMember)
<div style="padding:4px 0px 0px 0px">
#if($!{result.Detail.isEditable()}) $l10n.SCHEDULE_MESSAGE_OF_EDIT_AND_DELETE#else #if($!{result.Detail.User.UserId.toString()}==$!{result.Detail.UpdateUser.UserId.toString()}) $l10n.SCHEDULE_MESSAGE_OF_DISABLE_EDIT_AND_DELETE #else $!{result.OutsideUser}#end#end
</div>

<div>
#if($!{result.Detail.MailFlag} && $!{result.Detail.MailFlag} == "A")
$l10n.SCHEDULE_MESSAGE_OF_SEND_EMAIL
#elseif($!{result.Detail.MailFlag} && $!{result.Detail.MailFlag} == "I")
$l10n.SCHEDULE_MESSAGE_OF_DONOT_SEND_EMAIL_IN_UPDATE
#else
$l10n.SCHEDULE_MESSAGE_OF_DONOT_SEND_EMAIL_FOR_USER
#end
</div>
#end

#ALtdcellfooter()

#ALtdcaption($l10n.SCHEDULE_FACILITY)
#ALtditemheader()
#foreach($record in $!result.FacilityList)
${record.FacilityNameHtml}<br/>
#end
#ALtditemfooter()

#* 添付ファイル（ここから）  *#
#if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
#ALtdcaption($l10n.SCHEDULE_FILE_ATTACH)
#ALtditemheader()
<ul>
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
<li><a #if("$!{client}"=="IPHONE")target="_blank"#end href="$jslink.getTemplate("ScheduleFileRawScreen").addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("ownerid", $attachmentFile.UserId).addPathInfo("entityid", $entityid).addPathInfo("f", $attachmentFile.getURLEncodedValue())">$attachmentFile.FileName</a></li>
#if($attachmentFile.isImage())
<div id='popc' style='position:absolute'></div>
<div class="thumbBlock">
	<a href="javascript:void(0);" onclick="aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen','ScheduleFileRawScreen').addPathInfo("ownerid", $attachmentFile.UserId).addPathInfo("entityid", $entityid).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})');">
	<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("ScheduleFileThumbnailScreen").addQueryData("ownerid",  $attachmentFile.UserId).addQueryData("entityid", $entityid).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br>
</div>
#end
#end
</ul>
#ALtditemfooter()
#end
#* 添付ファイル（ここまで）  *#

#ALtdcaption($l10n.COMMON_CREATE_USER)
#ALtditemheader()
<a href="javascript: void(0)" onclick="aipo.message.popupProfile($!{result.Detail.CreateUser.UserId.Value},arguments[0])">$!{result.Detail.CreateUser.AliasName}</a>
 （$!{result.Detail.CreateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_DAY)}）
#ALtditemfooter()
#ALtdcaption($l10n.COMMON_UPDATE_USER)
#ALtditemheader()
<a href="javascript: void(0)" onclick="aipo.message.popupProfile($!{result.Detail.UpdateUser.UserId.Value},arguments[0])">$!{result.Detail.UpdateUser.AliasName}</a>
 （$!{result.Detail.UpdateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_MINUTE)}）
#ALtditemfooter()

#if($result.isReminderEnabled())
#if(!$!{result.Detail.isSpan()} && !$!{result.Detail.isLastStarted()} && $!{result.Detail.isMember()})
#ALtdcaption($l10n.SCHEDULE_ALARM)
#ALtditemheader()
#if($result.hasReminderItem())
$!result.ReminderItem.NotifyTimingText
$l10n.SCHEDULE_REMINDER_NOTIFY_DETAIL_TEXT
#set($count = 0)
#if ($!{result.ReminderItem.hasNotifyTypeMessage()}) #set ($dest_type_message_dist = $l10n.SCHEDULE_REMINDER_MESSAGE) #set($count = $count+1) #end
#if ($!{result.ReminderItem.hasNotifyTypeMail()}) #set ($dest_type_mail_dist = $l10n.SCHEDULE_REMINDER_MAIL) #set($count = $count+1) #end
#if($count == 0)
-----
#else
 （ $!{dest_type_message_dist} #if($count == 2) と #end $!{dest_type_mail_dist} ）
#end
#else
#if ($!{result.Detail.isLoginuser()})
$l10n.SCHEDULE_REMINDER_OFF
#end
#end
#ALtditemfooter()
#end
#end

#ALtablefooter()

#ALbuttonheader()
#if( ($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} || ($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()}) || ($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()}) || (!$!{result.Detail.isOwner()} && $!{result.hasAuthorityOtherDelete()}) || (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherEdit()})))
    <div align="left" style="padding:0px 0px 2px 0px" class="radioBlock">
    #if($viewDateEnable == "true" && $!ignore_viewdate == "false")
        #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} || ($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}&&$!{result.hasAuthoritySelfDelete()} &&($!{result.Detail.isTmpreserve()}||$!{result.Detail.isConfirm()}) )|| (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherDelete()}))
        <h3> $l10n.SCHEDULE_DELETE_CASE</h3>
        #set($prestr = "$!{result.Detail.User.AliasNameHtml} の")

            #if(($hasMember || $!{result.Detail.Type}=="F") && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3"  id="$!{portlet.ID}del_flag_3_id" checked="checked" onclick="aipo.schedule.delFlag3(this.form)"/>&nbsp;${prestr} $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label><br/>
            <label for="$!{portlet.ID}del_flag_1_id" onclick="aipo.schedule.delFlag1(this.form)"><input name="del_flag" type="radio" value="1"  id="$!{portlet.ID}del_flag_1_id" onclick="aipo.schedule.delFlag1(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_ONLY_THE_SCHEDULE_OF_ENTRY_USER $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="1"/>
            #elseif( ($hasMember || $!{result.Detail.Type}=="F") && ! $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label><br/>
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif(! $hasMember && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3"  id="$!{portlet.ID}del_flag_3_id" checked="checked" onclick="aipo.schedule.delFlag3(this.form)"/>&nbsp;${prestr} $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="1"/>
            #else
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #end
        #else
            #if($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}&&$!{result.hasAuthoritySelfDelete()}&&($!{result.Detail.isTmpreserve()}||$!{result.Detail.isConfirm()}) )
                #if($!{result.Detail.isRepeat()})
                <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3" id="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_ONLY_MY_SCHEDULE $!{result.ViewDateFormat}</label><br/>
                <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE</label>
                <input type="hidden" name="del_member_flag" value="1"/>
                <input type="hidden" name="del_range_flag" value="0"/>
                #else
                <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE</label>
                <input type="hidden" name="del_member_flag" value="1"/>
                <input type="hidden" name="del_range_flag" value="0"/>
                #end
            #end
		#end
	#else
       #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} || ($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}) || (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherDelete()}))
        <h3>$l10n.SCHEDULE_DELETE_CASE</h3>
            #if(($hasMember || $!{result.Detail.Type}=="F") && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" checked="checked" onclick="aipo.schedule.delFlag0(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="0"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif( ($hasMember || $!{result.Detail.Type}=="F") && ! $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" checked="checked" onclick="aipo.schedule.delFlag0(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="0"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif(! $hasMember && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #else
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>&nbsp;$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #end
        #end

    #end
    </div>

    <span style="vertical-align:middle;">
    #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()})
        #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        #end
        #if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        #end
    #elseif(!$!{result.Detail.isLoginuser()})
        #if($!{result.hasAuthorityOtherEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        #end
        #if($!{result.hasAuthorityOtherDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        #end
    #elseif($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()})
        #ALbutton('eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_CHANGE_STATUS_BE_DECIDED "aipo.schedule.buttonChangeStatus(this.form, this.form.change_status_url.value, 'C', '$indicator_id', '$!portlet.ID')")
        #if($!{result.Detail.isEditable()})
            #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
            #end
            #if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
            #end
        #else
            #if($!{result.hasAuthorityOtherEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
            #end
            #if($!{result.hasAuthorityOtherDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
            #end
        #end
    #elseif($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()})
        #ALbutton('eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_CHANGE_STATUS_TEMP_SCHEDULE "aipo.schedule.buttonChangeStatus(this.form, this.form.change_status_url.value, 'T', '$indicator_id', '$!portlet.ID')")
        #if($!{result.Detail.isEditable()})
            #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            	#if(${client} == "IPHONE")
            		<br/>
            	#end
            	#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        	#end
        	#if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            	#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        	#end
        #end
    #end
    #if (${client} == "IPHONE")
    	<br/>
    #end


    #if($!{result.hasAuthoritySelfInsert()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
    #ALajaxbuttonNameEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('is_copy','true')" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog" $l10n.SCHEDULE_COPY)
    #end

    #if($result.isReminderEnabled() || $result.isReminderViewSetting())
    #if(!$!{result.Detail.isSpan()} && !$!{result.Detail.isLastStarted()} && $!{result.Detail.isMember()})
    #ALajaxbuttonNameEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleAlarmFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog" $l10n.SCHEDULE_ALARM_MESSAGE)
    #end
    #end

    #ALajaxbuttonClose()
    </span>
#else
    #ALajaxbuttonClose()
#end
#ALbuttonfooter()

#ALformfooter()
#ALdialogfooter()
