#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set($schedulescreen = "ScheduleScreen")
#set($tabs = [["$l10n.SCHEDULE_ONEDAY", "oneday","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','oneday')"], ["$l10n.SCHEDULE_WEEKLY", "weekly", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','weekly')"], ["$l10n.SCHEDULE_MONTHLY", "monthly", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','monthly')"], ["$l10n.SCHEDULE_ONEDAY_GROUP", "oneday-group","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','oneday-group')"], ["$l10n.SCHEDULE_WEEKLY_GROUP", "weekly-group", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','weekly-group')"]])
## ---------------------------------------------------------------------------

#ALprintformheader()

#ALspacebothheader()
## One day
#if ($!result.Viewtype == "oneday")
#parse("/portlets/html/schedule-oneday-print.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly")
#parse("/portlets/html/schedule-weekly-print.vm")
#end
## Monthly
#if ($!result.Viewtype == "monthly")
#parse("/portlets/html/schedule-monthly-print.vm")
#end
## One day
#if ($!result.Viewtype == "oneday-group")
#parse("/portlets/html/schedule-oneday-group-print.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly-group")
#parse("/portlets/html/schedule-weekly-group-print.vm")
#end
## Detail
#if ($!result.Viewtype == "detail")
#parse("/portlets/html/schedule-detail-print.vm")
#end
## List
#if ($!result.Viewtype == "list")
#parse("/portlets/html/schedule-search-list-print.vm")
#end
#ALspacebothfooter()

#ALprintformfooter()
