#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#ALprintoptionheader()
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_ICON</label><br />
</td>
</tr>
#ALprintoptionfooter()

<script type="text/javascript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
}else{
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
}
  }
  //]]>
</script>


<div id="printBody" style="width:600px;font-size:10pt;">
#if($!{result.Detail.isSpan()})
<h1>$!{result.User.AliasName} $!{result.ViewDateFormatText}$!{result.Detail.StartDate.DayOfWeek}</h1>
#else
<h1>$!{result.User.AliasName} $!{result.ViewDateFormatText}$!{result.Detail.StartDate.DayOfWeek}$!{result.Detail.Date2}</h1>
#end

<table><tbody>

#ALtdcaption($l10n.SCHEDULE_NAME)
#ALtditem($!{result.User.AliasName})
#ALtdcaption($l10n.SCHEDULE_DATE)
#ALtditemheader()
#if($!{result.Detail.isSpan()})
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}&nbsp;-&nbsp;
$!{result.Detail.EndDateFormatSpace} $!{result.Detail.EndDate.DayOfWeek}
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}<br/>
$!{result.Detail.Date2}
#else
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}<br/>
$!{result.Detail.Date2}
#end
#AUIiconScheduleSets($!{result.Detail})
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_TITLE)
#ALtditemheader()
#if(! ${result.Detail.isPublic()})#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'" "")#end$!{result.Detail.Name}
#ALtditemfooter()

#* 共有カテゴリ連携（ここから）  *#
#if($!result.isDisplayManHour())
#ALtdcaption($l10n.SCHEDULE_COMMON_CATEGORY)
#ALtditem($!{result.Detail.CommonCategoryName})
#end
#* 共有カテゴリ連携（ここまで）  *#

#ALtdcaption($l10n.SCHEDULE_PLACE)
#ALtditem($!{result.Detail.Place})
#ALtdcaption($l10n.SCHEDULE_NOTE)
#ALtditem($!{result.Detail.Note})
#ALtdcaption($l10n.SCHEDULE_PUBLIC)
#ALtditemheader()
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC
#elseif(!$!result.Detail.isHidden())
$l10n.SCHEDULE_CLOSED_PUBLIC
#else
$l10n.SCHEDULE_HIDDEN_PUBLIC
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_ENTRY_USER)
#ALtditemheader()
#set($counter = 0)
#foreach($record in $!result.MemberList)
    #if(!($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}) || $!result.isActivity())
    $!record.AliasName
        #if($result.getStatus($record.UserId.Value) == "T")
        <i class="auiIcon auiIconTmpreserve"></i>
        #elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
        #set($counter = $counter + 1)
        <i class="icon-remove fcRed" title="$l10n.SCHEDULE_DELETED"></i>
        #end
    <br/>
    #end
#end
#if($counter < ($!result.MemberList.size() - 1))
#set ($hasMember = true)
#end
#if($hasMember)
<div style="padding:4px 0px 0px 0px">
#if($!{result.Detail.isEditable()}) $l10n.SCHEDULE_MESSAGE_OF_EDIT_AND_DELETE#else #if($!{result.Detail.User.UserId.toString()}==$!{result.Detail.UpdateUser.UserId.toString()}) $l10n.SCHEDULE_ENTRY_USER#else $!{result.Detail.UpdateUserAliasNameText}#end$l10n.SCHEDULE_YOU_DONOT_EDIT_AND_DELETE_THE_SCHEDULE#end
</div>

<div>
#if($!{result.Detail.MailFlag} == "A")
$l10n.SCHEDULE_SEND_MAIL_FOR_UPDATING
#else
$l10n.SCHEDULE_DONOT_SEND_MAIL_FOR_UPDATING
#end
</div>
#end

#ALtdcellfooter()

#ALtdcaption($l10n.SCHEDULE_FACILITY)
#ALtditemheader()
#foreach($record in $!result.FacilityList)
${record.FacilityName}<br/>
#end
#ALtditemfooter()

#* 添付ファイル（ここから）  *#
#if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
#ALtdcaption($l10n.SCHEDULE_FILE_ATTACH)
#ALtditemheader()
<ul>
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
<li>$attachmentFile.FileName</li>
#if($attachmentFile.isImage())
<div id='popc' style='position:absolute'></div>
<div class="thumbBlock">
	<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("ScheduleFileThumbnailScreen").addQueryData("ownerid",  $attachmentFile.UserId).addQueryData("entityid", $entityid).addQueryData("attachmentIndex", $attachmentFile.FileId)"><br>
</div>
#end
#end
</ul>
#ALtditemfooter()
#end
#* 添付ファイル（ここまで）  *#

#ALtdcaption($l10n.COMMON_CREATE_USER)
#ALtditem("$!{result.Detail.CreateUser.AliasName} （$!{result.Detail.CreateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_DAY)}）")
#ALtdcaption($l10n.COMMON_UPDATE_USER)
#ALtditem("$!{result.Detail.UpdateUser.AliasName} （$!{result.Detail.UpdateDate.toString($l10n.SCHEDULE_PERIOD)}）")

</tbody></table>
</div>

<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');" />
#else
  <script type="text/javascript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
    });
    //]]>
  </script>
#end
-->

