#*
 * Aipo is a groupware program developed by TOWN, Inc.
 * Copyright (C) 2004-2015 TOWN, Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#ALprintoptionheader()
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()" />$l10n.SCHEDULE_DISPLAY_ICON</label><br />
</td>
</tr>
#ALprintoptionfooter()


<script type="text/javascript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
}else{
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
}
  }
  //]]>
</script>

<div id="printBody" style="width:600px;font-size:10pt;">
#AUIrowTableWide()
<tr>
<th #if(${client}=="IPHONE")class="w50"#else class="w30" #end>$l10n.SCHEDULE_DATE</th>
<th #if(${client}=="IPHONE")class="w50"#else class="w40" #end>$l10n.SCHEDULE_TITLE</th>
<th class="w30 mb_hide">$l10n.COMMON_CREATE_USER</th>
</tr>
#foreach ($record in $result.ScheduleList)
##set($scheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid',$!{record.ScheduleId}).addQueryData('userid', $!{result.TargetUserId}).addQueryData('view_date', $!{record.ViewDate.toString()})")
<tr>
<td  #if(${client}!="IPHONE")nowrap="nowrap" #end>${record.DateFull}</td>
<td><div>$!{record.WbrName}&nbsp;
#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'" "")
#end
#AUIiconScheduleSets($record)
</div></td>
<td class="mb_hide"><div>$!{record.CreateUser.AliasName}</div></td>
</tr>
#end
#AUItablefooter()
</div>
<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');" />
#else
  <script type="text/javascript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
    });
    //]]>
  </script>
#end
-->

