#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2010 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($result.currentSubMenu=="requested")
#set($subtitle='ﾜｰｸﾌﾛｰ確認分')
#set($noresultmsg='依頼はありません')
#else
#set($subtitle='ﾜｰｸﾌﾛｰ作成分')
#set($noresultmsg='作成分はありません')
#end

## ---------------------------------------------------------------------------
#set($linklist = [["ﾜｰｸﾌﾛｰへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('mode','menu')"]])
#ALcell_pagetitle($career $subtitle)
#if ($result.List.size() == 0)
&nbsp;$noresultmsg
#else
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
<ul>
#foreach ($record in $result.List)
#ALcell_li_header($career)
<span class="caution">#if($record.Progress.Value == "D") 差戻要確認 #elseif($record.Progress.Value == "A") 承認済み #else 決裁待ち #end</span>
<a href="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('mode','detail').addQueryData('entityid',$record.RequestId).addQueryData('prvid',$record.RequestId))">【$!record.CategoryName】#if($!record.RequestName != '') $!record.RequestName #end</a>
[$!{record.PriceStr}&nbsp;円]/[作成：$!record.CreateDate]/[最終更新：$!record.LastUpdateUser]/[進捗：$!record.StateString]
#ALcell_li_footer($career)
#end
</ul>
#end
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
